<ion-header-bar align-title="left" class="bar-positiveHomeUser" >
		<div class="buttons" >
					<button class="button icon button-clear ion-navicon-round"
							ng-click="toggleLeft()" style="color:#000; margin-top:10px;margin-top: 10px;"></button>
		</div>
		
		 <h1 class="title_patient" style="font-size: 24px; position: absolute;">Intake Form</h1>
		<div class="bar patient_subHeader">
			<div style="margin-left:10px;">
				<div class="subHeader_image">
					<img src="img/patient.png" />
				</div>
				<div class="subHeader_content" >
					
						<div style="font-size: 20px;"><span style="font-weight: bold;">Merida</span> Ariadnae</div>
						<div style="font-size: 9px;">Age 14 | Guardian Benjamin Ross</div>
					
				</div>
			</div>
	    </div>	
</ion-header-bar>