
	
<ion-header-bar align-title="left" class="bar-positiveHomeUser" style="height: 55px;" >
		  
		<div class="backButtonDiv" style="margin-top: -12px;">
			<a style="padding-top: 15px; font-weight: bold;" class="button icon-left ion-chevron-left button-clear button-light" ng-href="#/tab/patientCalendar" style="cursor: pointer;">
				<span style="margin-top:3px; position:absolute;">Back</span>
			</a>
		</div>
		 <h1 class="title_patient" style="font-size: 22px; text-align: center;width: 100%;margin-top: 1%;  margin-bottom: 1%;">Appt Details</h1>
		
		
		<div class="bar bar-subheaderLess patient_subHeader" style="top: 65px;box-shadow:none">
		  <div style="margin-left:10px;">
				<div class="subHeader_image" style="margin-top: -5px;">
					<img src="img/PatientImg.png" style="width:50px; margin-left:-11px;" />
				</div>
				<div class="subHeader_content" style="position:absolute;margin-top:10px;">
					    <div style="font-size: 20px;margin-left: 13px;">
							<span style="font-weight: bold;margin-top: 5px;" class="PatintHeaderFontStyle">Merida</span> 
							<span class="PatintHeaderFontStyleInner">Ariadnae</span>
						</div>
						<div style="font-size: 13px;margin-left: 13px;" class="PatintHeaderFontStyleSub" >
							Age 14 | Guardian Benjamin Ross
						</div>
				</div>
			</div>
		</div>
		
		
	</ion-header-bar>	
	
	http://mobiletest.me/iphone_5_emulator/#u=http://25.48.100.139:8100/#/tab/appoimentDetails