<ion-footer-bar  class="footer">
<div style="width:100%;">
		  <div class="buttons">
						<a class="button_new icon ion-chevron-left" ng-click="myGoBack()" style="cursor: pointer;"> Back </a>
		  </div class="buttons">

		 
		    <div class="" style="text-align:center;margin-top: -20px;">
				<a class="button_new icon" ng-click="myGoBack()" style=" color:#999999; cursor: pointer;"> Cancel </a>
		    </div>
			   
			<div class="" style="text-align:right;margin-top: -20px;">
				<a class="button_new icon ion-chevron-right"   href="#/demo/demo"> <span style="margin-left: -63px;margin-right: 35px;">Next<span> </a>
			</div>
			  
<div>
</ion-footer-bar>		
	