<div class="modal">
    <header class="bar bar-header bar-dark" style="height: 55px;">
      <h1 class="title" style="top: 7px;">Prior Surgeries</h1>
      <button class="button button-clear" ng-click="closeModal()" style="top: 7px;">Done</button>
    </header>
    <ion-content has-header="true" style="margin-top: 52px;">
      
       
      
        <div class="list">
		
		  <label class="item item-input">
            <span class="input-label">Surgery</span>
            <input ng-model="model.description" type="text" placeholder="Required">
          </label>
		
          <label class="item item-input">
            <span class="input-label">Date</span>
            <input ng-model="date" type="text" ng-click="opendateModal()" placeholder="Required">
          </label>
		  
		   <label class="item item-input">
            <span class="input-label">Date</span>
            <input type="date">
          </label>
		  
       
        
         <!-- <button class="button button-full button-balanced" ng-click="save(model)">Save</button>-->
          
        </div>
      
        
    </ion-content>
  </div>
