	<ion-header-bar align-title="left" class="password" style=" background-color: {{brandColor}};
    background-image: linear-gradient(0deg, {{brandColor}}, {{brandColor}} 50%, transparent 50%);
    border-color: {{brandColor}};box-shadow: 0px 3px 0px 0px {{brandColor}};
		-moz-box-shadow: 0px 3px 0px 0px {{brandColor}};
		-webkit-box-shadow: 0px 3px 0px 0px {{brandColor}};">
	<div id="Error_Message" ></div>
	<div class="Server_Error" ></div>
		<div class="{{header_image}}">
			<img ng-src="{{logo}}" />
		</div>
	</ion-header-bar> 
<div ng-if="IOSDevice == false" class='{{password_sub_header}} ' style="height:auto;">
		<div class="{{password_header_content}} passwordSubHeader">
			<div style="color: {{brandColor}};">{{Hopital}}</div>
			<span>
				Virtual Consultation Platform
			</span>
		</div>
	</div> 
	