
	<div class="backButtonDiv">
		<a style="padding-top: 15px; font-weight: bold;" class="button icon-left ion-chevron-left button-clear button-light" ng-click="myGoBack()" style="cursor: pointer;">Back</a>
	</div>
	 <h1 class="title_patient">Patient</h1>
	<div class="bar patient_subHeader">
		<div class="subHeader_image">
			<img ng-src="img/patient.png" />
		</div>
		<div class="subHeader_content" >
			<div style="font-size: 23px;"><span class="sub_username">Merida</span><span class="sub_user_subname"> Ariadnae</span></div>
			<div class="sub_age">Age 14 | Guardian Benjamin Ross</div>
		</div>
	</div>	
	