
	<ion-header-bar align-title="left" class="bar-positiveHomeUser" >
		
		<div class="backButtonDiv" style="margin-top: -6px;">
		<a style="padding-top: 15px; font-weight: bold;" class="button icon-left ion-chevron-left button-clear button-light" ng-click="myGoBack()" style="cursor: pointer;">
		<span style="margin-top:3px; position:absolute;">Back</span>
		</a>
	    </div>
		 <h1 class="title_patient" style="font-size: 24px; position: absolute;">Patient</h1>
		<div class="bar patient_subHeader">
			<div style="margin-left:10px;">
				<div class="subHeader_image" style="margin-top: -2px;">
					<img src="img/PatientImg.png" style="width:50px; margin-top:-11px; margin-left:-11px;" />
				</div>
				<div class="subHeader_content">
					    <div style="font-size: 20px;margin-left: 13px;"><span style="font-weight: bold;" class="PatintHeaderFontStyle">Merida</span> <span class="PatintHeaderFontStyleInner">Ariadnae</span></div>
						<div style="font-size: 13px;margin-left: 13px;" class="PatintHeaderFontStyleSub" >Age 14 | Guardian Benjamin Ross</div>
				</div>
			</div>
	    </div>	
</ion-header-bar>
	
	
	
	