<ion-header-bar align-title="left" class="bar-positiveHomeUser" >
	
	<div style="color: #fff; font-size: 17px; line-height: 3; margin-left: 7px;" >
		<a style="padding-top: 10px; cursor: pointer;"  ng-click="myGoBack()">Cancel</a>
	</div>
	 <h1 class="title_patient"></h1>
		
	 
	 <div style="color: #fff; font-size: 17px; line-height: 3; width: 91%; text-align: right;" >
		<a style="padding-top: 10px; cursor: pointer; color: #fff;" on-touch="doGetPatientPaymentProfiles();">Next</a>
	</div>
	
</ion-header-bar>