

<ion-header-bar align-title="left" class="bar-positiveHomeUser" style="background-color:{{brandColor}};border-color:{{brandColor}};{{backgroundimage}}">

  <!--<div class="buttons" style="{{BackBotton}}" >
					<button style="{{MenuInnerStyle}} {{MenuIconBottomRecipt}}" class="button icon button-clear ion-navicon-round" id="BackButtonIcon" ng-click="toggleLeft()" style=""></button>
  </div>
  <h1 class="{{title_patient}} {{HeaderList}} {{intakeTittle}}" >Receipt</h1>
  -->

   <div class="buttons" id="BackButtonIcon" >
				<!--	<button class="button icon button-clear ion-navicon-round" id="BackButtonIcon"
							ng-click="toggleLeft()"></button> -->
  </div>
  <h1 class="{{title_patient}} {{HeaderList}} {{intakeTittle}}" style="margin-left: -14px !important;" >Receipt</h1>




<div class="bar bar-subheaderHomeUser patient_subHeader calendar_subHeader_height" style="{{patientsubHeaderInnerStyle}}" >
	<div class="calendar_subHeader" >
				<div class="subHeader_image" >
					<img src="{{PatientImageSelectUser}}" class="listImgView"  />
				</div>
				<div class="subHeader_content-{{deviceName}} ellipsis" >
					<div class="subHeader_content_name ellipsis" >
						<span class="PatintHeaderFontStyle patientName ellipsis">{{PatientFirstName}}</span>
						<span class="PatintHeaderFontStyleInner patientLastName ellipsis">{{PatientLastName}}</span>
					</div>
                    <div class="subHeader_content_age PatintHeaderFontStyleSub ellipsis"><span ng-if="userGender != ''">{{userGender}} .</span> {{userDOB | ageFilter}} <span ng-if="primaryPatientId != patientId"> . {{patRelationShip}}</span></div>
				</div>
	</div>
</div>

</ion-header-bar>
