	<ion-side-menu side="left" style="background-color: #464644;">
        <a ng-href="#/tab/userhome" class="sidemenuContent" >
			<ion-list>
				<ion-item class="ion-ios-list-outline" id="{{sidemenuHome}}">
					<span>Home</span> 
				</ion-item>
			</ion-list>
		</a>
        <a ng-href="#/tab/login" class="SidemenuLogOut" >
			<ion-list>
				<ion-item class="ion-power LogOutText" >
					<span>Log Out</span> 
				</ion-item>
			</ion-list>
        </a>
		
		
				
	</ion-side-menu>
</ion-side-menus>




<!--<ion-item nav-clear menu-close href="#" style="left:0;right:0;margin:0; width: 100%;position: fixed;">Logout</ion-item>
		 <ion-item nav-clear menu-close href="#" style="left:0;right:0;margin:0; width: 100%;position: fixed;">Logout123</ion-item>
		
		-->