

<div class="modal">
    <header class="bar bar-header bar-dark" style="height: 50px;">
	<div class="Error_Message" style="position: fixed; z-index:2;" ></div>
	<button type="submit" class="button button-clear" ng-click="RemoveSurgeryPopup()" style="top: 1px;  font-size: 15px; ">Cancel</button>
      <h1 class="title" style="top: 7px;  font-size: 16px;">Prior Surgeries</h1>
      <button type="submit" class="button button-clear" ng-click="closeSurgeryPopup()" style="top: 7px;  font-size: 15px;">Done</button>
    </header>
   
   <ion-content has-header="true" style="margin-top: 48px;">
     
    <div class="list">
		
		  <label class="item item-input validated">
            <span class="input-label">Surgery</span>
            <input type="text" value=""  placeholder="Required" required="required" ng-model="surgery.name" name="name" id="name">
			
		 </label>
		 
		  
	  
		  <label class="item item-input validated">
            <span class="input-label">Date</span>
            <!--<input ng-model="dateString" type="date" > -->
			<input type="date" placeholder="Required" required="required" ng-model="surgery.dateString" name="dateString" id="dateString" max="{{PreviousDate}}" />  
			    
          </label>
		 
    </div>
		
		
      
    </ion-content>
  </div>
