<div class="modal">
<ion-view  title="Medication AllegiesList">
	
	<header class="bar bar-header bar-dark" style="height: 55px;">
      <h1 class="title" style="top: 7px;  font-size: 16px;">Current Medication</h1>
     <button class="button button-clear" ng-click="closeModal()" style="top: 7px;  font-size: 15px;">Done</button>
    </header>
	
			<!-- End Header -->
	
			<!-- Start Content -->
<ion-content class="ContentList" style="margin: 0px 0 0;top: 54px;">
	<ion-list>
			<ion-checkbox ng-repeat="item in devList"
						  ng-model="item.checked" 
						  ng-checked="item.checked" ng-click="!OnSelectPatientConcerns(item.text)" ng-disabled="checked" >
			  {{ item.text }}
			</ion-checkbox> 
		
	</ion-list>
	
</ion-content>

			<!-- End Content -->
	
	
</ion-view>
</div>