
<ion-side-menus> 
	<ion-side-menu-content> 

	<ion-header-bar align-title="left" class="bar-positiveHomeUser" style="background-color:{{brandColor}};border-color:{{brandColor}};{{backgroundimage}};">

	<div class="buttons" > 
		<button class="button icon button-clear ion-navicon-round  {{menuiconIOS}}" id="BackButtonIcon" style="{{MenuInnerStyle}} {{MenuIconBottom}}"
				ng-click="toggleLeft()"></button>
	</div>

<h1 class="headertitle" style="width:95%;">Related Users</h1>

<div class="bar bar-subheader bar-dark" style="top:56px;height:88px;">
                  <div class="row">
                     <h1 class="headertitle"><div class="ellipsis subHeader_content_name" >
					  <span class="PatintHeaderFontStyle patientName ellipsis" style="font-style:Glober Bold;font-size:28px;">Jonathan</span>
				      <span class="patientLastName ellipsis" style="font-style:Glober SemiBold;font-size:25px;">Fitzpztrick</span>
				     </div></h1>
                </div>
       
         <div class="item item-image-icon " style="background-color:#444444;">
          
           <a style="padding-left: 30px;">
               <i class="icon ion-home headerlefticons" style=""></i>
               <p style="padding-top:17px;">Account Home</p>
          </a>
           <a class="item-avatar itemhead">
               <p><img src="img\patient.png" class="topimage" style=""></p>
           </a>
           <a style="float:right;margin-top:-83px;">
               <i class="icon ion-ios-people headerrighticon" style=""></i>
               <p style=" padding-top: 19px; margin-left: -21px;"  >Change Patient</p>
           </a>
   </div>
   			

</div>  
   
</ion-header-bar>


<ion-view title="">
	<ion-content style="margin-top:175px;">
    
    <div class="list">
            

 
</div>                
   
 <div class="list">
      <a class="item item-icon-left item-icon-right" ng-href="/#tab/relatedusers">
          <i class="icon ion-android-people fontcolor"></i>  User <i class="icon ion-chevron-right"></i>
      </a>
       <a class="item item-icon-left item-icon-right" ng-href="#">
          <i class="icon ion-card fontcolor"></i>  Consultations <i class="icon ion-chevron-right"></i>
      </a>      
      <a class="item item-icon-left item-icon-right" ng-href="/#tab/healthinfo">
          <i class="icon ion-clipboard fontcolor"></i>  My Health <i class="icon ion-chevron-right"></i>
      </a>   
       <a class="item item-icon-left item-icon-right"  ng-href="/#tab/appointmentpatientdetails">
          <i class="icon ion-calendar fontcolor"></i> Appointments <i class="icon ion-chevron-right"></i>
      </a>  
       <a class="item item-icon-left item-icon-right" ng-href="#">
          <i class="icon ion-more fontcolor"></i> Files <i class="icon ion-chevron-right"></i>
      </a>         
             
   
    
    </div>
        
	</ion-content>
    </ion-side-menu-content>
</ion-view>     


<ion-tabs  class=" tabs-icon-top tabs-dark">

  <a class="tab-item " ng-href="/#tab/relatedusers">
    <i class="icon ion-android-people"></i>
   User
  </a>
  <a class="tab-item"  ng-href="/#tab/consultations">
    <i class="icon ion-card"></i>
    Consultations
  </a>
  <a class="tab-item " ng-href="/#tab/healthinfo">
    <i class="icon ion-clipboard"></i>
    My Health
  </a>

<a class="tab-item" ng-href="/#tab/appointmentpatientdetails">
    <i class="icon ion-calendar"></i>
    Appointments
  </a>
<a class="tab-item active">
    <i class="icon ion-more"></i>
    More
  </a>

      </ion-tabs>