<ion-view title="Receipt">
	<ion-header-bar align-title="left" class="bar-positiveHomeUser" >
	
	  <button class="button button-icon icon ion-navicon"></button>
		 <h1 class="title_patient">Receipt</h1>
		<div class="bar patient_subHeader">
			<div class="subHeader_image">
				<img ng-src="img/patient.png" />
			</div>
			
			<div class="subHeader_content" >
				<div style="font-size: 23px;"><span style="font-weight: bold;">Merida</span> Ariadnae</div>
				<div style="font-size: 11px;">Age 14 | Guardian Benjamin Ross</div>
			</div>
		</div>	
	</ion-header-bar>
	
	
	<ion-content style="margin: 50px 0 0 4%; padding-top: 30px;" >
		<div class="password_home">
		
			
			
			<div class="healthPlan_header"  >
				<img ng-src="img/success.png">				
			</div>
			<div style="font-size: 35px; text-align: center; padding-top: 50px;">
				Payment Successful
				<div style="font-size: 20px;  padding-top: 20px; color: #F3795D; ">
					Confirmation #12345678912345
						<div style="font-size: 12px; padding-top: 10px; color: black;">
							A receipt has been sent to you via email
						</div>
				</div>
			</div>
			
			
			
			<div style="padding-top: 50px; padding-bottom: 25px;">
				<a ng-href="#/tab/waitingRoom"><button class="button button-block button-balanced">
				  Enter the Waiting Room
				</button></a>
			</div>
			
		</div>
	</ion-content>
	
	
	
</ion-view>
