<ion-view title="Login">
	
	<ion-header-bar align-title="left" class="bar-positiveLess">
		
	
		<div class="bar bar-headerLess">
			<div id="Error_Message" ></div>
		</div>
		
		<div class="bar bar-subheaderLess">
			<h2 class="head_titleLess">Connected Care</h2>
		</div>
	</ion-header-bar>
	<!-- Header end-->
	
	
	<!-- Content Start-->
	
	<ion-content class="login_content">
		 <form novalidate="novalidate" on-valid-submit="LoginFunction()">
			<div class="login_home">	
				<label class="item-input">
					<!--<input type="email" placeholder="Email" ng-model="userLogin.email" >-->
					<input type="email" placeholder="Email" ng-model="UserEmail" >
					<i class="icon ion-alert-circled error col col-10"></i>  
				</label>
				
				<div class="squaredCheckbox">
					<input type="checkbox" value="None" id="squaredCheckbox" name="check" />
					<label for="squaredCheckbox"></label>
				</div>
				
				<div class="remember"> Remember my email</div> 	
				
				<div class="continue">
				<!--<a ng-href="#/tab/provider"> -->
					<button type="submit" on-valid-submit="LoginFunction()" class="button button-outline button-positive" >
						Continue
					</button>
				<!--</a> -->
				</div>	
				<div id="notifications" style="height: auto;">
					<div id="notifications-window-row-button">Sample Error Alert</div>
				</div>
					
						
				
				
				
			</div>
		</form>
	</ion-content>
	<!-- Content End-->
	
	
	<!-- Footer Start-->
	<div class="hide-on-keyboard-open">
		<ion-footer-bar class="footer"  >
		 <div class="terms" >
			 <a ng-href="#/tab/terms">Terms & Conditions</a>
		  </div>
		 
		  <div class="powerdBySnapMD">
			<a ng-href="http://snap.md/" style="color: #fff; text-decoration: none;">Powered by SnapMD</a>
		  </div>
		</ion-footer-bar>
	</div>
	<!-- Footer End-->
	
	
</ion-view>


