<style>
/* .item-select select {
  width: 100%;
  padding: 0px 6px 0px 9px !important;
  max-width: 65%;
  border: none;
  position: relative;
  top: 0;
  left: 0;
  -webkit-appearance: none;
}
.item-select-icon::after {
    position: relative;
    right: 0;
    top: 0;
    width: 0;
    height: 0;
    border-top: 5px solid;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    color: #999;
    content: "";
    pointer-events: none;
}

.divList {
  width: 90px;
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.12);
  box-shadow: inset 0 -1px 0;
  position: relative;
  left: 10px;
}

.lableBox {
  border-top: none;
  height: 37px;
  position: relative;
  padding: 0;
  text-align: left;
  background: none;
  border-radius: 0;
  border: 0;
  width: 100%;
} */
select {
  border-radius: 0;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  -webkit-appearance: none;
  background-color: white;
  //width: 100%;
  border: 0;
  height: 39px;
//border-bottom: 1px solid #CCC;
}

label {position:relative}
label:after {
    /* content:"\f078";
    font-size: 10px;
    color:#aaa;
    right:8px; top:3px;
    padding:0 0 1px;
    position:absolute;
    pointer-events:none; */
    position: absolute;
    font-size: 10px;
    right: 8px;
    top: 3px;
    width: 0;
    height: 0;
    border-top: 5px solid;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    color: #999;
    content: "";
    pointer-events: none;
}
label:before {
    content:'';
    right:4px; top:0px;
    width:20px; height:16px;
    background:#fff;
    position:absolute;
    pointer-events:none;
    display:block;
}
.Comm-consultation-type__icon {
//  width: 98px;
}
img.UserHmelistImgView {
      width: 48px !important;
      height: 48px !important;
      top: 4px !important;
}
.ConcernsContent {
    margin-top: 105px !important;
}
.Comm-calendar_subHeader_height {
    height: 60px !important;
}
.Comm-subHeader_content-Android {
  padding-top: 10px;
}
</style>
<ion-side-menus>
<ion-side-menu-content>
    <div ng-include src="'templates/PatientIntakeHeader.html'"></div>



   <ion-view title="Chronic Condition">
      <ion-content class="ContentHomeUser ConcernsContent" scroll="false" >
         <ion-list>
            <ion-item class="PrimaryList" style="{{IntakeFormInnerStyle}};border-top: unset;">
               <div class="Step1 localizejs"><span class="localizejs">Step </span><b style="color:#535353;">2</b> <span class ="localizejs">of</span> <b style="color:#535353;">8</b></div>
               <div>
                  <div class="PrimaryContent">
                     <h1 class="title Comm-ChronicCondition Comm-concernsSubTit localizejs">How would you like to talk to us today?</h1>
                     <p class="Comm-Choosecommunication localizejs">Choose your preferred communication method.
                     </p>

                  </div>
               </div>
            </ion-item>
            <ion-item class="Comm-consultation-type-item">

              <div class="Comm-dialogbox-master__box-intake Comm-dialogbox-master__box--encounter-method-intake">
                  <div class="Comm-dialogbox-master__subtitle-intake localizejs">Communication Method</div>

                  <div class="Comm-consultation-type" data-bind="css:{is-disabled:isReadOnly}">
                      <div class="Comm-consultation-type__list">
                          <div class="Comm-consultation-type__item js-toggle-type  is-active" >
                              <div class="Comm-consultation-type__icon" tabindex="3">
                                  <!-- <span class="icon_video_camera"></span> -->
                                  <span ng-bind-html="drawSVGCIcon('video_camera')" class="ng-binding comm-Icon " style="font-size: 30px;">
                                    <svg class="icon_video_camera"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="symbol-defs.svg#icon_video_camera"></use></svg>
                                  </span>
                              </div>
                              <div class="Comm-consultation-type__title localizejs">Video</div>
                        <span class="Comm-consultation-type-triangle" style="display: block;">
                          <i class="ion-arrow-up-b" style=""></i>
                        </span>
                          </div>

                          <!--<div class="consultation-type__item js-toggle-type" data-bind="onEnterKey: setPhoneType, click:setPhoneType, css:{is-active:isPhone}">-->
                          <div class="Comm-consultation-type__item js-toggle-type">
                              <div class="Comm-consultation-type__icon" tabindex="4">
                                <span ng-bind-html="drawSVGCIcon('phone')" class="ng-binding comm-Icon" style="font-size: 30px;">
                                  <svg class="iconImg-phone"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="symbol-defs.svg#iconImg-phone"></use></svg>
                                </span>
                              </div>
                              <div class="Comm-consultation-type__title localizejs">Phone</div>
                        <span class="Comm-consultation-type-triangle" style="display: none;">
                          <i class="ion-arrow-up-b" style=""></i>
                        </span>
                          </div>

                          <div class="Comm-consultation-type__item js-toggle-type">
                              <div class="Comm-consultation-type__icon" tabindex="6">
                                <span ng-bind-html="drawSVGCIcon('chat')" class="ng-binding comm-Icon" style="font-size: 30px;">
                                  <svg class="icon_chat"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="symbol-defs.svg#icon_chat"></use></svg>
                                </span>
                              </div>
                              <div class="Comm-consultation-type__title localizejs">Chat</div>
                        <span class="Comm-consultation-type-triangle" style="display: none;">
                          <i class="ion-arrow-up-b" style=""></i>
                        </span>
                          </div>

                      </div>
                  </div>
              </div>

            </ion-item>


<div style="display:block;" class="Comm-dialogbox-master__subtitle-intake-provider  localizejs" >Provider will call patient at:</div>

<div class="row" style="display:block;">
  <div class="col col-75">
        <div>
            <span ng-bind-html="drawSVGCIcon('phone')" class="ng-binding comm-provider-call-Icon" style="font-size: 30px; float: left;">
                 <svg class="iconImg-phone"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="symbol-defs.svg#iconImg-phone"></use></svg>
             </span>
        </div>
        <div class="provider-phone-input">
            <input type="text" class="" value="323-664-8877" placeholder="Enter phone number">
        </div>


  </div>
  <svg class="icon-chevron-right"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-chevron-right"></use></svg>

  <div class="col col-25" style="margin:0">
         <div>
           <div class="provider-phone-type" style="padding:0">
           <span>

          <!-- <label class="dropdown provider-dropdown">
            <div class="dd-button"><span>Home</span><span> -->
        <div class="list divList">
          <!-- <select class="item-select-icon lableBox">
            <option>Home</option>
            <option selected>Mobile</option>
            <option>Other</option>
          </select/> -->


          <div class="modal-form stack col75">
              <!-- <label for="game" class=""> -->

              <ion-list>
                <ion-item>
                  <ion-label>Gaming</ion-label>
                  <ion-select [(ngModel)]="gaming">
                    <ion-option value="nes">NES</ion-option>
                    <ion-option value="n64">Nintendo64</ion-option>
                    <ion-option value="ps">PlayStation</ion-option>
                    <ion-option value="genesis">Sega Genesis</ion-option>
                    <ion-option value="saturn">Sega Saturn</ion-option>
                    <ion-option value="snes">SNES</ion-option>
                  </ion-select>
                </ion-item>
              </ion-list>



              <!-- <select class="form-control easy-drop-down" style="font-family: GloberSemiBold;" id="modal-game-options">
                  <option>Home</option>
                  <option selected>Mobile</option>
                  <option>Other</option>
              </select> -->
              <span>
               <i style="position: relative;top: 6px;" ng-bind-html="drawSVGCIcon('chevron-down')" class="ng-binding" style="font-size: 30px;">
                  <svg class="icon-chevron-down"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="symbol-defs.svg#icon-chevron-down"></use></svg>
                          </i>
              </span>
              <!-- </label> -->

          </div>
            <!-- <label class="item item-input lableBox">

              <select class="item-select-icon">
                <option>Home</option>
                <option selected>Mobile</option>
                <option>Other</option>

              </select>
            </label> -->
  </div>


</span>
            </div>
            <!--<input type="checkbox" class="dd-input" id="test">
             <ul class="dd-menu">
            <div class="square">
              <li>Home</li>
              <li>others</li>
              <li>Something </li>
              <li class="divider"></li>
              <li> Link </li>
               </div>
            </ul> -->




          </label>
           </span>

           </div>
         </div>





  </div>

</div>


<div class="row" style="display:block">
  <div class="col">
    <div class="">
      <i class="ion-android-alert" style="font-size: 22px;color: red;padding-left: 8px;float: left;"></i>
      <span class="phone-error" style="margin-left: 10px;">Please provide a phone number.</span>
      </div>
    </div>
</div>







<!--
<div class="provider-content">

            <div class="dialogbox-master__subtitle-intake localizejs">Provider will call patient at:</div>

</div> -->

           <!--  <div class="dialogbox-master__subtitle-intake localizejs" style="display: flex;">
              <div style="width: 75%;float: left;">
                <div style="float: left;">
                  <span ng-bind-html="drawSVGCIcon('phone')" class="ng-binding comm-provider-call-Icon" style="font-size: 30px; float: left;">
                      <svg class="iconImg-phone"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="symbol-defs.svg#iconImg-phone"></use></svg>
                    </span>
                </div>

                  <div class="provider-phone-input" style="float: left;">
                    <input type="text" class="" value="323-664-8877" placeholder="Enter the Number">
                  </div>

                <div class="provider-phone-icon">
                    <span ng-bind-html="drawSVGCIcon('phone')" class="ng-binding comm-provider-call-Icon" style="font-size: 30px; float: left;">
                      <svg class="iconImg-phone"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="symbol-defs.svg#iconImg-phone"></use></svg>
                    </span>
                  </div>

              </div>
              <div style="width: 25%;float: left;">
                 <div class="provider-phone-type">
                    <span>

          <label class="dropdown">

            <div class="dd-button">
              <span>
              Home</span>
            </div>

            <input type="checkbox" class="dd-input" id="test">

            <ul class="dd-menu">
            <div class="square">
              <li>Home</li>
              <li>others</li>
              <li>Something </li>
              <li class="divider"></li>
              <li> Link </li>
               </div>
            </ul>

          </label>


           </span>

             </div>
              </div>



            </div> -->


<!--
<div class="provider-content">


  <div class="" style="display: flex;">
        <div class="provider-phone-icon-error">
          <span ng-bind-html="drawSVGCIcon('phone')" class="ng-binding comm-provider-call-Icon" style="font-size: 30px;">
            <svg class="iconImg-phone"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="symbol-defs.svg#iconImg-phone"></use></svg>
          </span>
        </div>
        <div class="">
         <p class="phone-error">Please provide a phone number.</p>
        </div>
        <div class="provider-phone-type">
          <span>

          </span>

   </div>
  </div>
</div> -->


<!--

<ion-grid>

  <ion-row>

    <ion-col col-9>

        <div>
            <span ng-bind-html="drawSVGCIcon('phone')" class="ng-binding comm-provider-call-Icon" style="font-size: 30px; float: left;">
                 <svg class="iconImg-phone"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="symbol-defs.svg#iconImg-phone"></use></svg>
             </span>
        </div>
        <div class="provider-phone-input">
            <input type="text" class="" value="323-664-8877" placeholder="Enter the Number">
        </div>

    </ion-col>
    <ion-col col-3>

        <div>
           <div class="provider-phone-type">
           <span>

          <label class="dropdown">
            <div class="dd-button"><span>Home</span></div>
            <input type="checkbox" class="dd-input" id="test">
            <ul class="dd-menu">
            <div class="square">
              <li>Home</li>
              <li>others</li>
              <li>Something </li>
              <li class="divider"></li>
              <li> Link </li>
               </div>
            </ul>
          </label>
           </span>

           </div>
         </div>

      </div>
    </ion-col>
  </ion-row>
</ion-grid>


 -->

            <!-- <ion-grid>
              <ion-row>
                <ion-col>
                  <span ng-bind-html="drawSVGCIcon('phone')" class="ng-binding comm-Icon" style="font-size: 30px;">
                    <svg class="iconImg-phone"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="symbol-defs.svg#iconImg-phone"></use></svg>
                  </span>
                </ion-col>
                <ion-col>
                <input type="text" placeholder="Enter the Number">
                </ion-col>
                <ion-col>

              <span title="" class="k-widget k-dropdown k-header consultation-phone__dropdown js-dropdown-phone" unselectable="on" role="listbox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-owns="" aria-disabled="false" aria-busy="false" aria-activedescendant="13f4b35f-76a5-4557-aa58-77dd3017afe7" style=""><span unselectable="on" class="k-dropdown-wrap k-state-default"><span unselectable="on" class="k-input">Other</span><span unselectable="on" class="k-select" aria-label="select"><span class="k-icon k-i-arrow-60-down"></span></span></span><input type="text"  data-role="dropdownlist" data-value-primitive="true" data-text-field="text" data-value-field="value" class="consultation-phone__dropdown js-dropdown-phone" style="display: none;"></span>

                </ion-col>
              </ion-row>
            </ion-grid> -->


         </ion-list>
      </ion-content>
   </ion-view>
   <ion-footer-bar  class="footer">
      <span class="ConcernsFooter">
      <div class="FooterLeft">
         <a class="button_new icon ion-chevron-left" href="#/tab/patientConcerns" style="cursor: pointer;">
         <span class="localizejs"> Back</span></a>
      </div>
      <div class="FooterCenter" ng-click="clearRootScopeConce()">
         <a class="button_new icon localizejs" >Cancel</a>
      </div>
      <div class="FooterRight" style="{{NextIntakeForm}};"  ng-click="GoTopriorSurgery(PriorSurgeryValidCount)">
         <a class="button_new icon ion-chevron-right" > <span class="ConcernFooterNext localizejs" style="{{ConcernFooterNextIOS}};">Next<span> </a>
      </div>
      </span>
   </ion-footer-bar>
</ion-side-menu-content>
<!--Side Menu File Include --->
<div ng-include src="'templates/SideMenu.html'"></div>
