<ion-header-bar align-title="left" class="bar-positiveHomeUser">
  
  <div class="bar bar-headerHomeUser" style="border-bottom: none;">
    <h2 class="head_titleHomeUser">Patient List</h2>
	 <img ng-src="img/menu.png" style="float:left;margin: 7px 0 0 17px;">
  </div>
 <div class="bar bar-subheaderHomeUser">
			<a href="#/tab/uersearch">  
			<div><img ng-src="img/search.png" style="float:right; margin-right: 16px;margin-top: 11px;"></div>
			</a>
		  <h2 class="TitleHomeUser_Sub">Who needs care today?</h2>
  </div>
   
</ion-header-bar>

<ion-content class="ContentHomeUser" style="margin-top: 65px">
 	<ion-list>
		<ion-item style="padding:11px;">
			 <a class="HrefListView"  href="#/tab/uersearch">   
				<img ng-src="img/IMG_2.png" class="listImgView">
				<span class = "ListText"><b>Cedar</b> <span class="SubTitleSpan">Sinai</span></span>
				<p class="ListHomeUser_p">Age 14 | Guardain : Banjamin Ross</p>
				<list class="ion-chevron-right ListLinkHref" style="color:#888;margin-top: -33px;"></list>
			 </a>
		</ion-item>
		
		<ion-item style="height: 66px;" class="ItemList">
			  <a class="HrefListView" href="#/tab/uersearch"> 
			   <span class = "ListText" style="font-size: 16px;top: 1px;color: #888;">Next Appointment:</span>
			   <h2 style="margin-left: 22px; margin-top: 2px;font-size:22px;"><b>OCT 12 </b> <span style="font-size:14px;">@</span> <b>12:15</b><span style="font-size:14px;">Pm</span></h2>
			   <list class="ion-chevron-right ListLinkHref" style="color:#888;margin-top: -33px;"></list>
			   <span style="float: right;font-size: 16px; margin-right: 20px; color:#888;margin-top: -33px;">View Details</span>
				
			  </a>	
		</ion-item>
		
		<ion-item style="padding:11px;">
			 <a class="HrefListView"  href="#/tab/uersearch">   
				<img ng-src="img/IMG_2.png" class="listImgView">
				<span class = "ListText"><b>Elizabeth</b> <span class="SubTitleSpan">Ariadnae</span></span>
				<p class="ListHomeUser_p">Age 14 | Guardain : Banjamin Ross</p>
				<list class="ion-chevron-right ListLinkHref" style="color:#888;margin-top: -33px;"></list>
			 </a>
		</ion-item >
		<ion-item style="padding:11px;">
			 <a class="HrefListView"  href="#/tab/uersearch">   
				<img ng-src="img/IMG_2.png" class="listImgView">
				<span class = "ListText"><b>Elizabeth</b> <span class="SubTitleSpan">Ariadnae</span></span>
				<p class="ListHomeUser_p">Age 14 | Guardain : Banjamin Ross</p>
				<list class="ion-chevron-right ListLinkHref" style="color:#888;margin-top: -33px;"></list>
			 </a>
		</ion-item>
		<ion-item style="padding:11px;">
			 <a class="HrefListView"  href="#/tab/uersearch">   
				<img ng-src="img/IMG_2.png" class="listImgView">
				<span class = "ListText"><b>Elizabeth</b> <span class="SubTitleSpan">Sinai</span></span>
				<p class="ListHomeUser_p">Age 14 | Guardain : Banjamin Ross</p>
				<list class="ion-chevron-right ListLinkHref" style="color:#888;margin-top: -33px;"></list>
			 </a>
		</ion-item>
		
	</ion-list>
</ion-content>

<!--
<ion-footer-bar align-title="left" class="bar-assertive" style="background-color:#fff; border-color:#fff;border-bottom: none;">
 
</ion-footer-bar> -->