<ion-side-menus>
	<ion-side-menu-content> 
		<div ng-include src="'templates/intakeHeader.html'"></div>
	
<!-- <div ng-include src="'templates/healthPlan_header.html'"></div> --->
<ion-content class="ContentHomeUser ConcernsContent" >
 	<ion-list>
		<ion-item class="PrimaryList" style="{{IntakeFormInnerStyle}}">
			<div class="Step1">Step <b style="color:#000;">5</b> of <b style="color:#000;">7</b></div>
			<div ng-click="loadCurrentMedication();" > 
                
                <div class="PrimaryContent">
                    <h1 class="title ChronicCondition">Current Medications</h1>
                    
                    <p class="patientConternFontStyle">List any medications currently talking.
                        <br/>
                        <span class="patientConternFontStyleSubTitle">Select up to four</span></p>
                    <div> <i class="ion-plus-circled addBtn">  </i></div>
				</div>
			</div>
		
		</ion-item>
		
         <ion-item ng-repeat="item in patinentCurrentMedication">
			<div class="PrimaryConcernList"  >
				<p class="intakeNote">{{item.text}} </p>
                <div ng-click="removeCurrentMedication($index, item);" >
                    <i class="ion-close-circled delBtn" ></i>
                </div>

			</div>
		</ion-item>
        
        
	</ion-list>
</ion-content>
</ion-side-menu-content>	
 <!--Side Menu File Include --->
<div ng-include src="'templates/SideMenu.html'"></div>
</ion-view>






<ion-footer-bar  class="footer">
		<div class="ConcernsFooter">				 
			<div class="FooterLeft">
				<a class="button_new icon ion-chevron-left" href="#/tab/MedicationAllegies" ><span>Back</span></a>
			</div>
					
			<div class="FooterCenter" ng-click="clearRootScopeConce()">
				<a class="button_new icon" >Cancel</a>
			</div>
					   
			<div class="FooterRight" style="{{NextIntakeForm}};">
				<a class="button_new icon ion-chevron-right"   href="#/tab/ConsentTreat"  > 
					<span class="ConcernFooterNext" style="{{FootNextButton}};{{FootNextButtonRight}}">Next<span>
				</a>
			</div>
					  
		<div>
	</ion-footer-bar>	
		
