<ion-view title="Password">
	<div ng-include src="'templates/password_header.html'"></div>
    
   <ion-content class="password_content" style="{{PasswordOverlop}}" >
       
    <div ng-if="IOSDevice == true" class='{{password_sub_header}} ' style="height:auto;margin-top: -57px;">
		<div class="{{password_header_content}} passwordSubHeader" style="margin-top: 82px;">
			<div style="color: {{brandColor}};">{{Hopital}}</div>
			<span>
				Virtual Consultation Platform
			</span>
		</div>
	</div>
       
        <form ng-submit="doGetToken()">
            
			<div class="password_home password_home_top" style="{{MarginHomeTop}}" >	
				<div class="password_icon"><i class="ion-locked" style="font-size: 25px;"></i></div>
				
				<label class="item-input">
					<!--<input type="password" placeholder="Password" ng-model="pass.password" >-->
<input type="password" placeholder="Password" ng-model="pass.password" id="password" style="" >
				</label>
					
				
				<div class="login">
					<!--<a ng-href="#/tab/userhome">-->
				<!--	<button type="submit" ng-click="doGetToken()" class="button button-outline button-positive">
						Login
					</button> -->
					
					<button type="submit" class="button button-outline button-positive">
						Login
					</button>
					
					<!--</a>-->
				</div>
				<div class="forgot_password_text"><a ng-click="doPostSendPasswordResetEmail()" >Forgot your password?</a></div>
			</div>
                
        </form>	
    </ion-content>
	
	<!--<div ng-include src="'templates/password_footer.html'"></div>-->
	
	<!-- Start Footer -->
	<div class="hide-on-keyboard-open">
		<ion-footer-bar align-title="left" class="footer">
			  <div class="buttons">
				<!--<a class="button_new icon ion-chevron-left" href="#/tab/login"> Back </a>-->
				<a class="button_new icon ion-chevron-left terms_footer_a" ng-href="#/tab/provider" ><span>Back</span></a>
			  </div>
		</ion-footer-bar>	
	</div>
	<!-- End Footer -->
	
	
</ion-view>
