<ion-view title="Login">
	<!--<div ng-include src="'templates/header.html'"></div>
	
	<ion-header-bar align-title="left" class="bar-positive">
	  
	</ion-header-bar> 
	<div class='login_sub_header'>Connected Care</div>-->
	
	<ion-header-bar align-title="left" class="bar-positiveLess">
		  
		<div class="bar bar-headerLess">
		  
		</div>
		
		<div class="bar bar-subheaderLess">
		  <h2 class="head_titleLess">Connected Care</h2>
		</div>
		
		
	</ion-header-bar>
	
	
	<ion-content class="login_content">
		<div class="login_home">	
				<label class="item-input">
					<input type="text" placeholder="Email" ng-model="data.email" >
				</label>
				
				<div class="squaredCheckbox">
					<input type="checkbox" value="None" id="squaredCheckbox" name="check" />
					<label for="squaredCheckbox"></label>
				</div>
				
				<div class="remember"> Remember my email</div> 	
				
				<div class="continue">
				<a ng-href="#/tab/provider"> 
					<button class="button button-outline button-positive" ng-click="loginProcess()">
						Continue
					</button>
					</a> 
				</div>
				
				<!--<div><a ng-href="#/tab/consultCharge">consultCharge</a></div>
				<div><a ng-href="#/tab/addHealthPlan">addHealthPlan</a></div>
				<div><a ng-href="#/tab/planDetails">planDetails</a></div>-->
				
		</div>
	</ion-content>
	<div class="hide-on-keyboard-open">
		<ion-footer-bar align-title="left" class="footer"  >
		 <div class="terms" >
			 <a ng-href="#/tab/terms">Terms & Conditions</a>
		  </div>
		 
		  <div class="powerdBySnapMD">
			Powered by SnapMD
		  </div>
		</ion-footer-bar>
	</div>
</ion-view>
