<ion-view title="Terms&Conditions">
   <div ng-include src="'templates/password_header.html'"></div>
   <ion-content class="password_content BacgroundColorContent" style="{{PasswordOverlop}};" >
      <div ng-if="IOSDevice == true" class="{{password_sub_header}}" style="height:auto; position: relative;">
         <div class="{{password_header_content}} passwordSubHeader SubHeadIOS">
            <div class="subHospital" style="color: {{brandColor}};"></div>
            <span>
            {{HospitalTag}}
            </span>
         </div>
      </div>
      <div ng-if="AndroidDevice == true" class="{{password_sub_header}}" style="height:auto;   margin-top: -21px;">
         <div class="{{password_header_content}} passwordSubHeader" style="margin-top: 54px;background-color:#FFF;">
            <div class="subHospital" style="color: {{brandColor}};"></div>
            <span>
            {{HospitalTag}}
            </span>
         </div>
      </div>
      <div class="singleTermsContent-{{deviceName}}" >
         <div ng-bind-html="termsandCOnditionsContent | sanitize"></div>
      </div>
   </ion-content>
   <!-- End Content -->
   <!-- Start Footer -->
   <ion-footer-bar align-title="left" class="footer">
      <div class="buttons footerBackButton">
         <a class="button_new icon ion-chevron-left terms_footer_a" ng-href="#/tab/loginSingle"><span>  Back</span></a>
      </div>
   </ion-footer-bar>
   <!-- End Footer -->
</ion-view>
