<div class="modal" >

<ion-view>


<ion-header-bar align-title="left" class="bar-positiveHomeUser" style="background-color:{{brandColor}};border-color:{{brandColor}};{{backgroundimage}};">
 <h1 class="{{title_patient}} {{HeaderList}} {{intakeTittle}}" style="width:100%; text-align:center;"><span class="headerleftval" ng-click="removemodal()">Cancel</span> My health <span ng-click="allergiedone()" style="width:100%;"><a class="headerval" >Done</a></span></h1>



 <div class="bar bar-subheader searchstyle">
    <h2 class="subname">Medication Allergies</h2>
     <div class="search_home UserHmeSub concernListSearchHome">
       <label class="item-input popupstyleSearch SearchLabel-{{deviceName}}" style="{{PrimaryConcernPopupSearchBox}};">
	      <input type="search" placeholder="Search" class="innerSearchPop SearchBox icon ion-search fontcolor" ng-model="searchText" >
        </label>
	</div>
 </div>

</ion-header-bar>
<ion-content class="consultcontent">
    <ion-list  style="margin-top:44px;" >
       <div ng-repeat="(letter, medicationAllergiesearchList) in sorted_usersallergie">

       <ion-checkbox id="index_{{letter}}" ng-repeat="allergie in filterAllergies=( medicationAllergiesearchList | filter: searchText)"
						  ng-model="allergie.checked"
						  ng-checked="allergie.checked" ng-change="OnSelectAllergies(allergie)" ng-disabled="checkedAllergies==limit && !allergie.checked" >
			  <span>   {{ allergie.text }} </span>
      </ion-checkbox>
       </div>
  </ion-list>

       <ul class="alpha_sidebar">
         <li ng-click="gotoallergyList('index_{{letter}}')"ng-repeat="letter in alphabets">
            {{letter}}
         </li>
      </ul>

         <p class="searchdata" ng-show="(medicationAllergiesearchList | filter:searchText).length==0"> <b>Sorry No Result Found <b></p>
</ion-content>

</ion-view>

</div>
