<ion-side-menus>
<ion-side-menu-content>
   <form ng-submit="putUpdatePatientDetails()" name="HealthInfo Details">
   <ion-header-bar align-title="left" class="bar-positiveHomeUser headerheight" style="background-color:{{brandColor}};border-color:{{brandColor}};{{backgroundimage}};">
      <div class="buttons">
         <button class="button icon button-clear ion-navicon-round  {{menuiconIOS}}" id="BackButtonIcon" style="{{MenuInnerStyle}} {{MenuIconBottom}}" ng-click="toggleLeft()"></button>
      </div>
      <h1 class="chronic {{title_patient}} {{HeaderList}} {{intakeTittle}}">
         <span> My Health </span>
         <span class="headerval" ng-click="edittext()" ng-show="editshow">Edit</span>
         <span  ng-show="cancelshow"><a class="headerval" >cancel</a></span>
         <span class="headerval"  ng-click="putUpdatePatientDetails()"  ng-hide="doneshow" >Done</span>

      </h1>
      <div class="bar bar-subheader bar-dark subheaderheight" >
         <div class="row">
            <h1 class="headertitle">
               <div class="ellipsis subHeader_content_name" >
                  <span class="PatintHeaderFontStyle patientName ellipsis fnamefont" >{{currentPatientDetails[0].patientName}}</span>
                  <span class="patientLastName ellipsis lnamefont">{{currentPatientDetails[0].lastName}}</span>
               </div>
            </h1>
         </div>
         <div class="item item-image-icon itemiconcolor">

         <a class="lefthome" ng-href="#/tab/userAccount">
               <i class="icon ion-home headerlefticons" style=""></i>
               <p class="homecontent">Account Home</p>
          </a>
           <a class="item-avatar itemhead">
               <p><img ng-src="{{PatientImageSelectUser}}" class="topimage"></p>
           </a>
           <a class="rightpatient" ng-href="#/tab/userhome">
               <i class="icon ion-ios-people headerrighticon" style=""></i>
               <p class="patientcontent" >Change Patient</p>
           </a>
   </div>

         <div class="row">
            <div class="buttons backbtn">
               <button class="button icon button-clear ion-navicon-round  {{menuiconIOS}}" style="display: none;">
               </button>
            </div>
            <div class="button-bar">
               <label class="button button-small btcolor btn-first" ng-click="profile()" id="profid"> Profile</label>
               <label class="button button-small btn-first btnextcolor" ng-click="health()" id="healid">Health History</label>
            </div>
            <div class="buttons backbtn">
               <button class="button icon button-clear ion-navicon-round  {{menuiconIOS}}" style="display: none;">
               </button>
            </div>
         </div>
      </div>

   </ion-header-bar>
   <ion-view title="Health Info Details" >
   <ion-content class="ioncontentalign" >
      <div ng-hide="addmore">
         <h4 class="healthhead"><b>Demographics</b></h4>
         <div class="list listprofile" ng-show="flag">
            <label class="item item-input itemtab validated">
            <span class="input-label labelcolor"> <i class="ion-android-person iconfont"></i><b class="formlabel labelfont">First</b></span>
            <input type="text"  value="{{currentPatientDetails[0].patientName}}" ng-readonly="flag" class="valhome textdata">
            </label>
            <label class="item item-input itemtab validated">
            <span class="input-label labelcolor"> <i class="ion-android-person iconfont"></i><b class="formlabel labelfont">Last</b></span>
            <input type="text"  value="{{currentPatientDetails[0].lastName}}" ng-readonly="flag" class="valhome textdata">
            </label>
            <label class="item item-input itemtab validated">
            <span class="input-label labelcolor"><i class="ion-ios-calendar-outline iconfont"></i><b class="formlabel">D.O.B</b></span>

            <input type="date" value="{{userDOB}}"  ng-readonly="flag"  class="valuealign textdata" id="dobdate">
            </label>
            <label class="item item-input itemtab validated">
            <span class="input-label labelcolor"> <i class="ion-android-mail iconfont"></i><b class="formlabel labelfont">Email</b></span>
            <input type="text"  value="{{currentPatientDetails[0].account.email}}" ng-readonly="flag" class="valhome textdata">
            </label>
            <label class="item item-input itemtab validated">
            <span class="input-label labelcolor"> <i class="ion-ios-telephone iconfont"></i><b class="formlabel labelfont">Home Phone</b></span>
            <input type="text"  value="{{currentPatientDetails[0].homePhone}}" ng-readonly="flag" class="valhome textdata">
            </label>
            <label class="item item-input itemtab validated">
            <span class="input-label labelcolor"><i class="ion-ios-telephone iconfont"></i><b class="formlabel labelfont">Mobile</b> </span>
            <input type="text"  value="{{currentPatientDetails[0].mobilePhone}}" ng-readonly="flag" class="valuealign textdata">
            </label>
            <label class="item item-input itemtab validated">
            <span class="input-label labelcolor"> <i class="ion-location iconfont"></i><b class="formlabel labelfont">Home Address</b></span>
            <textarea  rows="3" cols="3"  ng-readonly="flag" class="valtex textdata">{{currentPatientDetails[0].address}}</textarea>
            </label>
            <label class="item item-input itemtab validated">
            <span class="input-label labelcolor"><i class="ion-ios-people iconfont"></i><b class="formlabel labelfont">Organization</b></span>
            <input type="text" value="{{currentPatientDetails[0].organization}}" ng-readonly="flag" class="valorg textdata">
            </label>
            <label class="item item-input itemtab validated">
            <span class="input-label labelcolor"> <i class="ion-android-pin iconfont"></i><b class="formlabel labelfont">Location</b> </span>
            <input type="text" value="{{currentPatientDetails[0].location}}" ng-readonly="flag" class="valuealign textdata">
            </label>
            <label class="item item-input itemtab validated">
            <span class="input-label labelcolor"> <i class="ion-female iconfont"></i><b class="formlabel labelfont">Gender</b> </span>
            <input type="text" value="{{userGender}}" ng-readonly="flag" class="genderclass textdata" >
            </label>
            <label class="item item-input itemtab validated">
            <span class="input-label labelcolor"> <i class="ion-android-arrow-up iconfont"></i><b class="formlabel labelfont">Height</b></span>
            <input type="text" value="{{currentPatientDetails[0].anatomy.height}} {{currentPatientDetails[0].anatomy.heightUnit}}" ng-readonly="flag" class="valuealign textdata">
            </label>
            <label class="item item-input itemtab validated">
            <span class="input-label labelcolor">  <i class="ion-ios-filing iconfont"></i><b class="formlabel labelfont">Weight</b></span>
            <input type="text" value="{{currentPatientDetails[0].anatomy.weight}} {{currentPatientDetails[0].anatomy.weightUnit}}" ng-readonly="flag" class="valuealign textdata">
            </label>
            <label class="item item-input itemtab validated">
            <span class="input-label labelcolor"> <i class="ion-earth iconfont"></i><b class="formlabel labelfont">Ethnicity</b> </span>
            <input type="text" value="{{currentPatientDetails[0].anatomy.ethnicity}}" ng-readonly="flag" class="valuealign textdata">

            </label>
            <label class="item item-input itemtab validated">
            <span class="input-label labelcolor"> <i class="ion-ios-person iconfont"></i><b class="formlabel labelfont">Hair Color</b> </span>
            <input type="text" value="{{currentPatientDetails[0].anatomy.hairColor}}" ng-readonly="flag" class="valuealign textdata">
            </label>
            <label class="item item-input itemtab validated">
            <span class="input-label labelcolor"> <i class="ion-eye iconfont"></i><b class="formlabel labelfont">Eye Color</b> </span>
            <input type="text" value="{{currentPatientDetails[0].anatomy.eyeColor}}" ng-readonly="flag" class="valuealign textdata">
            </label>
            <label class="item item-input itemtab validated">
            <span class="input-label labelcolor"> <i class="ion-earth iconfont"></i><b class="formlabel labelfont">Blood Type</b> </span>
            <input type="text" value="{{currentPatientDetails[0].anatomy.bloodType}}" ng-readonly="flag" class="valuealign textdata">
            </label>
         </div>
         <div class="list listprofile" ng-hide="flag">
            <div class="item item-input itemtab validated">
               <span class="input-label labelcolor"> <i class="ion-android-person iconfont"></i><b class="formlabel labelfont">First</b></span>
               <input type="text" name="healthInfoFirstName" id="healthInfoFirstName" value="{{currentPatientDetails[0].patientName}}" class="valhome textdata">
            </div>
            <div class="item item-input itemtab validated">
               <span class="input-label labelcolor"> <i class="ion-android-person iconfont"></i><b class="formlabel labelfont">Last</b></span>
               <input type="text" name="healthInfoLastName" id="healthInfoLastName" value="{{currentPatientDetails[0].lastName}}" class="valhome textdata">
            </div>
            <div class="item item-input itemtab validated">
               <span class="input-label labelcolor"><i class="ion-ios-calendar-outline iconfont"></i><b class="formlabel">D.O.B </b></span>
               <input type="date" name="healthInfoDOB" id="healthInfoDOB"  value="{{userDOB}}" class="valuealign textdata" >
            </div>
            <div class="item item-input itemtab validated">
               <span class="input-label labelcolor"> <i class="ion-android-mail iconfont"></i><b class="formlabel labelfont">Email</b></span>
               <input type="text" name="healthInfoEmail" id="healthInfoEmail"   value="{{currentPatientDetails[0].account.email}}" class="valhome textdata">
            </div>
            <div class="item item-input itemtab validated">
               <span class="input-label labelcolor"> <i class="ion-ios-telephone iconfont"></i><b class="formlabel labelfont">Home Phone</b></span>
               <input type="text" name="healthInfoHomePhone" id="healthInfoHomePhone" value="{{currentPatientDetails[0].homePhone}}" class="valhome textdata">
            </div>
            <div class="item item-input itemtab validated">
               <span class="input-label labelcolor"><i class="ion-ios-telephone iconfont"></i><b class="formlabel labelfont">Mobile</b> </span>
               <input type="text" name="healthInfoMobilePhone" id="healthInfoMobilePhone" value="{{currentPatientDetails[0].mobilePhone}}" class="valuealign textdata">
            </div>
            <div class="item item-input itemtab validated">
               <span class="input-label labelcolor"> <i class="ion-location iconfont"></i><b class="formlabel labelfont">Home Address</b></span>
               <textarea name="healthInfoAddress" id="healthInfoAddress" rows="3" cols="3" class="valtex textdata">{{currentPatientDetails[0].address}}</textarea>
            </div>
            <div class="item item-input itemtab validated">
               <span class="input-label labelcolor"><i class="ion-ios-people iconfont"></i><b class="formlabel labelfont">Organization</b></span>
               <select class="valuealign textdata"  name="healthInfoOrganization" id="healthInfoOrganization" ng-model="healthInfoModel.healthInfoOrganization" >
                  <option value="">Choose Organization</option>
                     <option ng-repeat="getOrganization in listOfOrganization" value="{{getOrganization.id}}" ng-selected="getOrganization.name == currentPatientDetails[0].organization"><b>{{getOrganization.name}}</b></option>
                </select>
            </div>
            <div class="item item-input itemtab validated" ng-disabled="!listOfLocForCurntOrg">
               <span class="input-label labelcolor"> <i class="ion-android-pin iconfont"></i><b class="formlabel labelfont">Location</b> </span>
              <select class="valuealign textdata"  name="healthInfoLocation" id="healthInfoLocation" >
                      <option>Choose Location</option>
                     <option ng-repeat="getLocation in listOfLocForCurntOrg" value="{{getLocation.id}}" ng-selected="getLocation.name == currentPatientDetails[0].location"><b>{{getLocation.name}}</b></option>
                </select>
            </div>
            <div class="item itemtab">
               <span class="input-label labelcolor" style="float: left;"> <i class="ion-female iconfont"></i><b class="formlabel labelfont">Gender</b> </span>
               <input type="radio" name="healthInfoGender" id="healthInfoGender" value="M" ng-checked="isCheckedMale" class="genderclass" /> Male
               <input type="radio" name="healthInfoGender" id="healthInfoGender" value="F" ng-checked="isCheckedFeMale" /> FeMale
            </div>
            <div class="item item-input itemtab validated">
               <span class="input-label labelcolor"> <i class="ion-android-arrow-up iconfont"></i><b class="formlabel labelfont">Height</b></span>
               <div>
                  <input type="text" name="healthInfoHeight" id="healthInfoHeight" value="{{currentPatientDetails[0].anatomy.height}}" class="valuealign textdata">
               </div>
               <div>
                   <select class="valuealign textdata"  name="healthInfoHeightUnit" id="healthInfoHeightUnit" >
                         <option ng-repeat="getUserheightunit in listOfHeightunit[0].codes" value="{{getUserheightunit.codeId + '@' + getUserheightunit.text}}" ng-selected="getUserheightunit.text == currentPatientDetails[0].anatomy.heightUnit"><b>{{getUserheightunit.text}}</b></option>
                     </select>
               </div>
            </div>
            <div class="item item-input itemtab validated">
               <span class="input-label labelcolor">  <i class="ion-ios-filing iconfont"></i><b class="formlabel labelfont">Weight</b></span>
               <div>
                  <input type="text" name="healthInfoWeight" id="healthInfoWeight"  value="{{currentPatientDetails[0].anatomy.weight}}" class="valuealign textdata">
               </div>
               <div>
                  <select class="valuealign textdata" name="healthInfoWeightUnit" id="healthInfoWeightUnit">
                      <option ng-repeat="getUserweightunit in listOfWeightunit[0].codes" value="{{getUserweightunit.codeId + '@' + getUserweightunit.text}}" ng-selected="getUserweightunit.text == currentPatientDetails[0].anatomy.weightUnit"><b>{{getUserweightunit.text}}</b></option>
                  </select>
               </div>
            </div>
            <div class="item item-input itemtab validated">
               <span class="input-label labelcolor"> <i class="ion-earth iconfont"></i><b class="formlabel labelfont">Ethnicity</b> </span>
               <div>
                  <select class="valuealign textdata" name="healthInfoEthnicity" id="healthInfoEthnicity" >
                     <option value=""><b>Choose</b></option>
                     <option ng-repeat="getEthnicity in listOfEthnicity[0].codes" value="{{getEthnicity.codeId + '@' + getEthnicity.text}}" ng-selected="getEthnicity.text == currentPatientDetails[0].anatomy.ethnicity"><b>{{getEthnicity.text}}</b></option>
                  </select>
               </div>
            </div>
            <div class="item item-input itemtab validated">
               <span class="input-label labelcolor"> <i class="ion-ios-person iconfont"></i><b class="formlabel labelfont">Hair Color</b> </span>
               <div>
                  <select class="valuealign textdata" name="healthInfoHairColor" id="healthInfoHairColor">
                     <option value=""><b>Choose</b></option>
                     <option ng-repeat="getHairColor in listOfHairColor[0].codes" value="{{getHairColor.codeId + '@' + getHairColor.text}}" ng-selected="getHairColor.text == currentPatientDetails[0].anatomy.hairColor"><b>{{getHairColor.text}}</b></option>
                  </select>
               </div>
            </div>
            <div class="item item-input itemtab validated">
               <span class="input-label labelcolor"> <i class="ion-ios-eye iconfont"></i><b class="formlabel labelfont">Eye Color</b> </span>
               <div>
                  <select class="valuealign textdata" name="healthInfoEyeColor" id="healthInfoEyeColor" >
                     <option value=""><b>Choose</b></option>
                     <option ng-repeat="getEyeColor in listOfEyeColor[0].codes" value="{{getEyeColor.codeId + '@' + getEyeColor.text}}" ng-selected="getEyeColor.text == currentPatientDetails[0].anatomy.eyeColor"><b>{{getEyeColor.text}}</b></option>
                  </select>
               </div>
            </div>
            <div class="item item-input itemtab validated">
               <span class="input-label labelcolor"> <i class="ion-earth iconfont"></i><b class="formlabel labelfont">Blood Type</b> </span>
               <div>
                  <select class="valuealign textdata" name="healthInfoBloodType" id="healthInfoBloodType" >
                     <option value=""><b>Choose</b></option>
                     <option ng-repeat="getBloodType in listOfBloodtype[0].codes" value="{{getBloodType.codeId + '@' + getBloodType.text}}" ng-selected="getBloodType.text == currentPatientDetails[0].anatomy.bloodType"><b>{{getBloodType.text}}</b></option>
                  </select>
               </div>
            </div>
            <div class="continue" style="padding-bottom: 5%;" ng-show="doneedit">
               <!--<a style="width:40%;"></a>
                  <a class="button footer-color donebutton" ng-show="doneedit" ng-click="putUpdatePatientDetails()"><span class="donetext">Done</span></a>
                  -->
               <button  ng-click="putUpdatePatientDetails()" type="submit" class="button button-outline button-positive" style="padding: 3px;">
               <span >Done</span>
               </button>
            </div>
         </div>
      </div>
      <div ng-hide="healthhide" class="listprofile">
          <h4 style="color:#888;margin-top:20px;"> <span class="aligntext">Basic Health </span><i class="ion-chevron-down icondown"></i></h4>
          <hr class="bhealth">
          <div>
            <h4>

   <span class="alignnexttext">Current Medications</span><span><a ng-click="healthsearch()" ><i class="ion-edit currentedit" ></i></a></span>

               </h4>
            </div>
            <hr class="dothr dotalign">
            <ul class="aligntext alvalue" ng-repeat="medicpt in PatientMedicalProfileList" >

               <li  ng-repeat="medicationspt in patientmedications">{{$index + 1}}. {{medicationspt.description}}</li>
                <li ng-if="patientmedications == ''"  >N/A   </li>
            </ul>
            <h4 class="h4align">
               <div class="alignnexttext chronic"  >Medication Allergies</div>
               <span><a ng-click="alergiessearch()" ><i class="ion-edit editicons" ></i></a>
               </span>
            </h4>
            <hr class="dothr dotalign">
            <ul class="aligntext alvalue">

              <li ng-if="patientmedicationsallergies == ''"  >N/A</li>
              <li ng-repeat="allergies in patientmedicationsallergies"> {{$index + 1}}. {{allergies.description}}</li>
          </ul>

            <h4 class="h4align">
               <div class="alignnexttext chronic">Chronic Conditions</div>
               <span><a ng-click="chronicsearch()" ><i class="ion-edit editicon" ></i></a></span>
            </h4>
            <hr class="dothr dotalign">
            <ul class="aligntext alvalue">

                <li ng-if="patientmedicalConditions==''"  >N/A</li>
                <li ng-repeat=" chronic in patientmedicalConditions" >{{$index + 1}}. {{chronic.description}}</li>


            </ul>
            <h4 class="h4align">
               <div class="alignnexttext chronic">Prior Surgeries</div>

            </h4>
            <hr class="dothr dotalign">
            <ul class="aligntext alvalue">

               <li  ng-if="patientmedicalsurgeries==''" >N/A </li>
                <li  ng-repeat="surgeries in patientmedicalsurgeries">{{$index + 1}}. {{surgeries.description}} </li>

            </ul>
         </div>

         <div ng-controller="LoginCtrl">
         </div>

   </ion-content>
  </form>
  <div class="Server_Error ErrorMessageDiv" ></div>
  <div id="Error_Message"></div>
  <!--Side Menu File Include --->
  <div class="hide-on-keyboard-open">
     <ion-tabs class=" tabs-icon-top tabs-dark">
        <a class="tab-item" ng-click="doGetListOfCoUsers()" >
        <i class="icon ion-person-stalker tabfont"></i> Users
        </a>
        <a class="tab-item" ng-href="#tab/consultations">
        <i class="icon ion-card tabfont"></i> Consultations
        </a>
        <a class="tab-item active" ng-href="/#tab/healthinfo">
        <i class="icon ion-android-clipboard tabfont"></i> My Health
        </a>
        <a class="tab-item" ng-href="#tab/appointmentpatientdetails">
        <i class="icon ion-calendar tabfont"></i> Appointments
        </a>
        <a class="tab-item" ng-href="#tab/profileoption">
        <i class="icon ion-more tabfont"></i> More
        </a>
     </ion-tabs>
  </div>
</ion-side-menu-content>
<!--Side Menu File Include --->
<div ng-include src="'templates/SideMenu.html'"></div>
