<div class="modal">
    <header class="bar bar-header bar-dark" style="height: 55px;">
      <h1 class="title" style="top: 7px;">Secondary Concerns</h1>
      <button class="button button-clear" ng-click="closeSecondaryConcerns()" style="top: 7px;">Done</button>
    </header>

<ion-content has-header="true" style="margin-top: 52px;">
      
    <ion-list>
		<ion-checkbox ng-repeat="item in secondaryConcernList"
						  ng-model="item.checked" 
						  ng-checked="item.checked" ng-click="OnSelectPatientSecondaryConcern($index,secondaryConcernList, item)" ng-disabled="checked" >
			  {{ item.text }}
		</ion-checkbox> 
		
		<a ng-click="SaveDesc()" style="cursor:pointer;">
			<ion-item>
				Other
			</ion-item>
		</a>
		
		
</ion-list>	

</ion-content>
  </div>