<ion-header-bar align-title="left" class="bar-positiveHomeUser" style="background-color:{{brandColor}};border-color:{{brandColor}};" >
		
		
    <!--<div class="backButtonDiv">
       <a ng-click="EnableBackButton()"> <Span  style="float:left;margin: 13px 0 0 17px;font-size:20px;color:#fff;"><B>Done</B></Span></a>
		</div>-->
		
		 <div class="buttons" >
				<a class="button_new icon ReportDone" ng-click="EnableBackButton()"  >
					<span>Done</span>
				</a>				
		  </div>
		
		<h1 class="title_patient HeaderList ReportTittle">Intake Form</h1>  


	<div class="bar bar-subheaderHomeUser patient_subHeader calendar_subHeader_height" >
		<div class="calendar_subHeader" >
			<div class="subHeader_image" >
				<img src="{{PatientImageSelectUser}}"  class="listImgView"  />
			</div>
			<div class="subHeader_content ellipsis" >					
				<div class="ellipsis subHeader_content_name" >
					<span class="PatintHeaderFontStyle patientName ellipsis">{{patientFirstName}}</span>
					<span class="PatintHeaderFontStyleInner patientLastName ellipsis">{{PatientLastName}}</span>
				</div>
				<div class="subHeader_content_age PatintHeaderFontStyleSub ellipsis">Age {{PatientAge}} | Guardian {{PatientGuardian}}</div>
			</div>
		</div>
	</div>
		
	   
</ion-header-bar>
 
<ion-view title="Report Details">

<ion-content class="ReportContent">
	<div class="HospitalDetails">
		<div class="HospitalLogo" >
			<img ng-src="img/IMG_logo.png">
		</div>
		<div class="HospitalAddress">
			<div class="ReportAddress">
				<p  class="PragraphContent AddressDetails" >
					100 W California Blvd pasadena,CA 91105 | 555 345 3454  </p>
				<p class="OrganizationDetails">
					<b class="OrganizationName">Organization:</b> Coca-cola <br>
					<b class="OrganizationLocation">Location</b> <br>
					<span class="LocationName">Location Name Goes Here </span><span></span><br>
					It may Be Two
					Or Three Lines
				</p>
			</div>
		</div>
	</div>
	<br>
	<div class="ConnectedCareDetails" >
		<div class="ConnectedCareTitle">
			<h1 class="ReportTitle">CONNECTED CARE CONSULTATION REPORT</h1>
		</div>
	
		<div class="Roundcircle CCAttachment">
			<img ng-src="img/attached.png">
			<p><b>3</b></p>
		</div>
	</div>
	
	<div class="PatientPersonalDetails">
		<div class="ReportPatientName">
			<p><b>Patient:</b><br> 
			{{existingConsultationReport.PatientName}} {{existingConsultationReport.LastName}} <br>
			121 lexington Drive <br>
			Glendale, CA 91203 <br>
			Home: {{existingConsultationReport.HomePhone}}  <br>
			Cell: {{existingConsultationReport.MobilePhone}}  <br>
			</p>
		</div>
		<div class="EncounterDate">
			<p><b>Encounter Date:</b> <br>
				May 15,2014 <br>
			<b>physician:</b> <br>
			patricia McGrath, M.D
			</p>
		</div>
	</div>
    
  
   
    <div class="PatientStatistics">
        
         <span><b>Patient Statistics</b></span>
        
        <div class="PatientAgeGender">
			<p><b> Age : </b>   <input type="text" style="" readonly value="{{existingConsultationReport.AgeString}}">
			</p> 
            
            <p class="PatientGender"> 
			<b> Gender : </b>  <input type="text" readonly value="{{existingConsultationReport.Gender}}">
			</p>
		</div>
		<div class="PatientHeightWeight">
			<p> 
          <b>  Height : </b> 
           <input type="text" readonly value="6.1">
			</p>
            
            <p class="PatientWeight" > 
           <b> Weight :  </b>
           <input type="text"  readonly value="195 Ibs">
			</p>
            
		</div>
	</div>
    
      <div class="ReportPatientConcern">
          <span><b>Patient Concerns</b></span>
      </div>
    
    <div class="ReportPatientConcernDetails">
		<p>  <span class="ConcernNo1">1</span> <span class="ConcernNo1Details">Temprature Over 100⁰</b></span></p>
		<br>
		<p>  <span class="ConcernNo2">2</span> <span class="ConcernNo2Details">{{existingConsultationReport.PrimaryConcern}}</b></span></p>

    </div> 


<div style="height: 35px; position: relative;top: 120px;margin: 10px;background-color:#fff;padding:10px; border-bottom:2px solid #ccc;">
          <span style="font-size: 20px;margin-left: -6px;"><b>SUBJECTIVE</b></span>
 </div>

<div style="height: 80px; position: relative;top: 120px;margin: 10px;background-color:#E5E5E5;padding:10px;">
    <div style="border-bottom:2px solid #CCC;margin:3px;">     
    <span style="font-size: 20px;margin-left: 3px;"><b>Intake Form Information</b></span></div>
</div>

<div style="height: 100%; position: relative;top: 78px;margin: 10px;background-color:#E5E5E5;padding:10px;">
    <div style="border-bottom:2px solid #888;margin:3px;">     
    <span style="font-size: 20px;margin-left: 3px;"><b>Current Medication</b></span></div>
     
     <p style="margin-top:15px;background-color: #CCCCCC;padding: 5px;">  
         <span style="font-size: 20px;">1</span> <span style="padding:10px;font-size: 20px;">Zantac 75</b></span></p>

 <p style="margin-top:-7px;background-color: #CCCCCC;padding: 5px;">  
         <span style="font-size: 20px;">2</span> <span style="padding:10px;font-size: 20px;">Lipator</b></span></p>

 <p style="margin-top:-7px;background-color: #CCCCCC;padding: 5px;">  
         <span style="font-size: 20px;">3</span> <span style="padding:10px;font-size: 20px;">Fluoxitine</b></span></p>
</div>   
    

<div style="height: 100%; position: relative;top: 51px;margin: 10px;background-color:#E5E5E5;padding:10px;">
    <div style="border-bottom:2px solid #888;margin:3px;">     
    <span style="font-size: 20px;margin-left: 3px;"><b>Medication Allergies</b></span></div>
     
     <p style="margin-top:15px;background-color: #CCCCCC;padding: 5px;">  
         <span style="font-size: 20px;">1</span> <span style="padding:10px;font-size: 20px;">Dilaudid</b></span></p>

 <p style="margin-top:-6px;background-color: #CCCCCC;padding: 3px;">  
         <span style="font-size: 20px;">2</span> <span style="padding:10px;font-size: 20px;">Steriod</b></span></p>

</div> 

<div style="height: 100%; position: relative;top: 40px;margin: 10px;background-color:#fff;padding:10px;">
   
     
     <p class="PragraphContent" style="margin-top:15px;background-color: #fff;">  
       Ere nonescil erum dolor rem cus moque iusanditatem init molent voloribere nulla quiautas exerum volorropor mos qui to te nosam eaquuntio. Nequodisque nobit ut expliti tem. sedi solumet,sit,quo cum iumque estrum harum ex et iusae.Equidest entempo rrorro ipsam est aut reicipsam quis experum dest.
    </p>

 

</div> 


<div style="height: 100%; position: relative;top: 15px;margin: 10px;background-color:#fff;padding:10px;">
   
    <div style="border-bottom:2px solid #888;margin:3px;">     
    <span style="font-size: 20px;margin-left: 3px;"><b>ABJECTIVE</b></span></div>
     
     <p class="PragraphContent" style="margin-top:15px;background-color: #fff;">  
       Ere nonescil erum dolor rem cus moque iusanditatem init molent voloribere nulla quiautas exerum volorropor mos qui to te nosam eaquuntio. Nequodisque nobit ut expliti tem. sedi solumet,sit,quo cum iumque estrum harum ex et iusae.Equidest entempo rrorro ipsam est aut reicipsam quis experum dest.
    </p>

</div> 

<div style="height: 100%; position: relative;top: -7px;margin: 10px;background-color:#fff;padding:10px;">
   
    <div style="border-bottom:2px solid #888;margin:3px;">     
    <span style="font-size: 20px;margin-left: 3px;"><b>ASSESSMENT</b></span></div>
     
     <p class="PragraphContent" style="margin-top:15px;background-color: #fff;">  
       Ere nonescil erum dolor rem cus moque iusanditatem init molent voloribere nulla quiautas exerum volorropor mos qui to te nosam eaquuntio. Nequodisque nobit ut expliti tem. sedi solumet,sit,quo cum iumque estrum harum ex et iusae.Equidest entempo rrorro ipsam est aut reicipsam quis experum dest.
    </p>

</div> 

<div style="height: 100%; position: relative;top: -32px;margin: 10px;background-color:#fff;padding:10px;">
   
    <div style="border-bottom:2px solid #888;margin:3px;">     
    <span style="font-size: 20px;margin-left: 3px;"><b>PLAN</b></span></div>
     
     <p class="PragraphContent" style="margin-top:15px;background-color: #fff;">  
       Ere nonescil erum dolor rem cus moque iusanditatem init molent voloribere nulla quiautas exerum volorropor mos qui to te nosam eaquuntio. Nequodisque nobit ut expliti tem. sedi solumet,sit,quo cum iumque estrum harum ex et iusae.Equidest entempo rrorro ipsam est aut reicipsam quis experum dest.
    </p>

</div> 
<div style="height: 100%; position: relative;top: -53px;margin: 10px;background-color:#fff;padding:10px;">
   
    <div style="border-bottom:2px solid #888;margin:3px;">     
    <span style="font-size: 20px;margin-left: 3px;"><b>RX</b></span></div>
     
     <p class="PragraphContent" style="margin-top:15px;background-color: #fff;">  
      <b> Amoxicillin - Pot Clavulante 875-125 MG Oral Tablet;</b>
    Take 1 TABLE EVERY 12 Hourse UNTIL GONE Qty : 20 R: 0; Rx <br>
         
      <b> Amoxicillin - Pot Clavulante 875-125 MG Oral Tablet;</b>
    Take 1 TABLE EVERY 12 Hourse UNTIL GONE Qty : 20 R: 0; Rx <br>    
    
    </p>

</div> 

<div style="height: 100%; position: relative;top: -74px;margin: 10px;background-color:#fff;padding:10px;">
   
    <div style="border-bottom:2px solid #888;margin:3px;">     
    <span style="font-size: 20px;margin-left: 3px;"><b>CHAT TRANSCRIPT</b></span></div>
     
     <p class="PragraphContent" style="margin-top:15px;background-color: #fff;">  
      [2/13/14, 11:01:23 AM] Ben: Thought you might find this inte [2/13/14, 11:01:23 AM] Ben: Iam grabbing lunch.resing.
    [2/13/14, 11:01:23 PM] Ben: Iam grabbing lunch.
     [2/13/14, 11:01:23 PM] Ben:3 sound good?.
     [2/13/14, 11:01:23 PM] Ben:Report Patrick:grab some for me too :(
    [2/13/14, 11:01:23 PM] Ben:Report Patrick:grab some for me too :(
         
    </p>

</div> 


<div style="height: 100%; position: relative;top: -95px;margin: 10px;background-color:#fff;padding:10px;">
   
    <div style="border-bottom:2px solid #888;margin:3px;">     
    <span style="font-size: 20px;margin-left: 3px;"><b>FILE  ATTACHMENT</b></span></div>
     
     <p class="PragraphContent" style="margin-top:15px;background-color: #fff;">  
      file attachement
    </p> 

</div> 


<div ng-click="EnableBackButton()" style="height: 100%; position: relative;top: -98px;margin: 10px;background-color:#fff;padding:10px;">
				<button class="button button-block button-balanced" style="background-color:#A2D28A;border:#A2D28A">
				<B>Done</B>  
				</button>
</div>

</ion-content>

</ion-view>
		



