
<ion-side-menus>
 <ion-side-menu-content>

   <ion-header-bar align-title="left" class="bar-positiveHomeUser headerheight" style="background-color:{{brandColor}};border-color:{{brandColor}};{{backgroundimage}};">

 	<div class="buttons" >
 		<!--<button class="button icon button-clear ion-navicon-round  {{menuiconIOS}}" id="BackButtonIcon" style="{{MenuInnerStyle}} {{MenuIconBottom}}"
 				ng-click="toggleLeft()"></button>-->
        <span class="button icon button-clear {{menuiconIOS}}" id="BackButtonIcon" style="{{MenuInnerStyle}} {{MenuIconBottom}}" ng-click="toggleLeft()"><i ng-bind-html="drawSVGCIcon('menu')"></i></span>
 	</div>
  <div class="Server_Error ErrorMessageDiv" ></div>
<div id="Error_Message"></div>
   <h1 class= "{{title_patient}} {{HeaderList}} {{intakeTittle}}"><span class="newUserTitle-{{deviceName}}"> New User </span> <span >
           <a  ng-click="cancelcouser()" class="headerval"  >Cancel</a></span></h1>

  <div class="bar bar-subheader bar-dark subheaderheight">
    <div class="row">
      <h1 class="headertitle"><div class="ellipsis subHeader_content_name" >
		<span class="PatintHeaderFontStyle patientName ellipsis fnamefont" >New </span>
		 <span class="patientLastName ellipsis lnamefont" >Co-User</span>
		</div></h1>
       </div>

    <div class="circlenew" >
      <!--<div ng-if="newCoUserImagePath == ''" ng-click="showCameraActions()">-->
         <div ng-click="showUploadImageAlert();">
          <a class="circlecanh">
            <i class="icon ion-camera circlecam"></i>
          </a>
          <span class="circletext" > Add a Picture</span>
        </div>

      <!--  <div ng-if="newCoUserImagePath != ''" ng-click="showCameraActions()">
         <img ng-src="{{newCoUserImagePath}}">
       </div>-->
    </div>
   </div>
 </ion-header-bar>

 <ion-view title="">
 	 <form name="myForm" id="couserform" ng-submit="postNewuserDetails()">
  <ion-content class="userdeptcontent">
 	<h4 class="userhead"><b>User Details</b></h4>

   <div class="list deptlist" >

     <div class="item item-input validated">
        <div class="col col-50">
            <span class="input-label labelcolor">
            <i class="iconsize" ng-bind-html="drawSVGCIcon('user')"></i><b class="formlabel">First Name</b></span>
        </div>
        <div class="col col-50">
           <input class="usertext" id="userfirstname" type="text" ng-model="firstname" name="firstname" placeholder="Required" required  >

        </div>
     </div>
     <div class="item item-input validated">
        <div class="col col-50">
           <span class="input-label labelcolor">
           <i class="iconsize" ng-bind-html="drawSVGCIcon('user')"></i><b class="formlabel">Last Name</b></span>
        </div>
        <div class="col col-50">
           <input class="usertext" id="userlastname" type="text" ng-model="lastname" value="" placeholder="Required" required name="lastname" >

        </div>
     </div>
     <div class="item item-input validated">
        <div class="col col-50">
          <span class="input-label labelcolor">
          <i class="iconsize" ng-bind-html="drawSVGCIcon('mail')"></i><b class="formlabel">Email</b></span>
        </div>
        <div class="col col-50">
            <input class="usertext" id="useremail"  type="email" value="" placeholder="Required" ng-model="email"  name="email" required>
            <span class="error"  ng-show="myForm.email.$error.email"> Not a valid email! </span>
        </div>
     </div>
     <div class="item item-input validated">
        <div class="col col-50">
           <span class="input-label labelcolor">
           <i class="iconsize" ng-bind-html="drawSVGCIcon('hash')"></i><b class="formlabel">Date of Birth</b></span>
        </div>
        <div ng-if="deviceName == 'IOS'" class="col col-50" style="font-family: Glober Semibold;">
          <!--<div class="dobRequired" ng-if="!newUSer.dob">Required</div>-->
          <input style="width: 136%;" class="usertext" id="userdob" type="date" min="{{minimum}}" max="{{maxDay}}"   value=""  placeholder="Required"  ng-model="newUSer.dob"  name="dob" required>
       </div>
       <div ng-if="deviceName != 'IOS'" class="col col-50" style="font-family: Glober Semibold;">
         <input style="width: 136%;"  class="usertext" id="userdob" type="date" min="{{minimum}}" max="{{maxDay}}"   value=""  placeholder="Required"  ng-model="newUSer.dob"  name="dob" required>
      </div>
     </div>
     <div class="item item-input validated">
       <div class="col col-50">
          <span class="input-label labelcolor">
          <i class="iconsize" ng-bind-html="drawSVGCIcon('users')"></i><b class="formlabel">Relationship</b></span>
       </div>
       <div class="col col-50">
     <select class="optionselect textdata" name="healthInforelation" id="userrelation" >
                  <option value=""><b>Choose</b></option>
                  <option ng-repeat="getRelation in listOfRelationship[0].codes" value="{{getRelation.codeId + '@' + getRelation.text}}" ><b>{{getRelation.text}}</b></option>
              </select>
       </div>
     </div>
     <div class="item item-input validated">
       <div class="col col-50">
          <span class="input-label labelcolor">
          <i class="iconsize" ng-bind-html="drawSVGCIcon('globe')"></i><b class="formlabel">Country</b></span>
       </div>
       <div class="col col-50">
     <select class="optionselect textdata" name="userCountry" id="userCountry" >
                  <option value=""><b>Choose</b></option>
                  <option ng-repeat="country in serviceCountries" value="{{country.code}}"><b>{{country.name}}</b></option>
              </select>
       </div>
     </div>

     <div class="item item-input validated">
       <div class="col col-50">
          <span class="input-label labelcolor">
          <i class="iconsize" ng-bind-html="drawSVGCIcon('clock')"></i><b class="formlabel">Timezone</b></span>
       </div>
       <div class="col col-50">
     <select class="optionselect textdata" name="userTimeZone" id="userTimeZone" >
            <option value=""><b>Choose</b></option>
            <option ng-repeat="timeZone in timeZones" value="{{timeZone.id}}"><b>{{timeZone.name}}</b></option>
        </select>
       </div>
     </div>


     <div class="item item-input validated">
       <div class="col col-50">
         <span class="input-label labelcolor">
         <i class="iconsize" ng-bind-html="drawSVGCIcon('female')"></i><b class="formlabel">Gender</b></span>
        </div>

        <div class="col col-50">
          <select class="optionselect textdata" name="userInfoGender" id="gender"  >
            <option value=""><b>Choose</b></option>
            <option value="M">Male</option> >
            <option value="F">Female</option>
          </select>
        </div>
   </div>


       <div class="item item-input itemtab validated row">
         <div class="col col-50">
            <span class="input-label labelcolor"> <i class="iconfont" ng-bind-html="drawSVGCIcon('height')"></i><b class="formlabel labelfont">Height</b></span>
         </div>
         <div style="width: 100px;padding-right: 10px;" >
           <input id="userheight" class="usertext textalign" placeholder="Req" type="number" value="" ng-model="userheight" name="userheight" required >
         </div>
        <div style="width: 100px;padding-right: 10px;">
             <input id="userheight2" class="usertext textalign" placeholder="Req" type="number" value="" ng-model="userheight2" name="userheight2" required>
         </div>
        <div style="width: 50%;">
            <select style="width:90%;" class="optionselect " name="userheightunit" id="userheightunit" ng-model="userheightunit" required>
                <option value=""><b>Unit</b></option>
                <option ng-repeat="getUserheightunit in listOfHeightunit[0].codes" value="{{getUserheightunit.codeId + '@' + getUserheightunit.text}}"><b>{{getUserheightunit.text}}</b></option>
            </select>

         </div>
    </div>
    <div class="item item-input itemtab validated row">
         <div class="col col-50">
            <span class="input-label labelcolor"> <i class="iconfont" ng-bind-html="drawSVGCIcon('weight')"></i><b class="formlabel labelfont">Weight</b></span>
         </div>
         <div style="width:223px;">
           <input id="userWeight" class="usertext textalign adduseWeight-{{deviceName}}" type="number" placeholder="Required" value="" ng-model="userWeight" name="userWeight" required >
         </div>
         <div style="width: 50%;">
            <select style="width:90%;" class="optionselect " name="userweightunit" id="userweightunit" ng-model="userweightunit" required>
             <option value=""><b>Unit</b></option>
                <option ng-repeat="getUserweightunit in listOfWeightunit[0].codes" value="{{getUserweightunit.codeId + '@' + getUserweightunit.text}}" ><b>{{getUserweightunit.text}}</b></option>
            </select>

         </div>
    </div>


   <div class="item item-input validated">
      <div class="col col-50">
         <span class="input-label labelcolor">
         <i class="iconsize" ng-bind-html="drawSVGCIcon('phone')"></i><b class="formlabel">Home Phone</b></span>
      </div>
      <div class="col col-50">
          <input style="line-height: 26px;" class="input-phone homeadd" id="userphone" type='tel' value="" placeholder="Optional"  phone-input ng-model="phoneVal" >
        <!-- <input class="usertext" id="userphone" type="tel" value="" phoneInput placeholder="Optional" ng-model="phone"  ng-pattern="/^[0-9]{1,14}$/"  name="phone"  >
         <span class="error" id="erphone" ng-show="myForm.phone.$error.pattern">Not a valid number!</span>-->
      </div>
    </div>
   <div class="item item-input validated">
     <div class="col col-50">
        <span class="input-label labelcolor">
        <i class="iconsize" ng-bind-html="drawSVGCIcon('phone')"></i><b class="formlabel">Mobile</b></span>
     </div>
     <div class="col col-50">
        <input style="line-height: 26px;" class="input-phone homeadd" id="usermobile" type="tel" value=""  placeholder="Optional" ng-model="mobile"   name="mobile" phone-input>
        <span class="error" id="ermobile" ng-show="myForm.mobile.$error.pattern">Not a valid number!</span>
      </div>
    </div>
   <div class="item item-input validated">
     <div class="col col-50">
       <span class="input-label labelcolor" >
       <i class="iconsize" ng-bind-html="drawSVGCIcon('location-pin')"></i><b class="formlabel">Home Address</b></span>
     </div>
     <div class="col col-50">
       <!--<textarea class="homeadd"  id="address" cols="30" rows="5"  placeholder="Optional"></textarea>-->
       <ion-google-place class="coUserAddress-{{deviceName}}" placeholder="Full Address" ng-model="newUSer.address" />
     </div>
    </div>
   <div class="item item-input validated">
      <div class="col col-50">
         <span class="input-label labelcolor">
         <i class="iconsize" ng-bind-html="drawSVGCIcon('group')"></i><b class="formlabel">Organization</b></span>
      </div>
     <div class="col col-50">
        <select class="optionselect textdata" id="userorganization" ng-model="userorg" ng-options="option.id as option.name for option in listOfOrganization">
        <option value=""><b>Choose</b></option>
      </select>

     <input type="hidden" id="userorgan" value="{{userorg}}" />
      </div>
   </div>
  <div class="item item-input validated">
     <div class="col col-50">
        <span class="input-label labelcolor">
        <i class="iconsize" ng-bind-html="drawSVGCIcon('location-pin')"></i><b class="formlabel">Location</b></span>
     </div>
     <div class="col col-50">
        <select class="optionselect textdata"  id="userlocation" ng-model="userloc" ng-options="option.name for option in locationdetails | secondDropdown: userorg">
       <option value=""><b>Choose</b></option>
     </select>
         <input type="hidden" id="userlocate" value="{{userloc.id}}" />
     </div>
  </div>
  <div class="item item-input validated">
     <div class="col col-50">
        <span class="input-label labelcolor">
        <i class="iconsize" ng-bind-html="drawSVGCIcon('drop')"></i><b class="formlabel">Blood type</b></span>
      </div>
      <div class="col col-50">
         <select class="optionselect textdata" name="userbloodtype" id="userbloodtype" ng-model="userbloodtype" >
             <option value=""><b>Choose</b></option>
             <option ng-repeat="getBloodType in listOfBloodtype[0].codes" value="{{getBloodType.codeId + '@' + getBloodType.text}}" ><b>{{getBloodType.text}}</b></option>
          </select>

      </div>
  </div>

  <div class="item item-input validated">
     <div class="col col-50">
        <span class="input-label labelcolor">
        <i class="iconsize" ng-bind-html="drawSVGCIcon('hair')"></i><b class="formlabel">Hair Color</b></span>
     </div>
     <div class="col col-50">
         <select class="optionselect textdata" name="healthInfoHairColor" id="userhaircolor">
             <option value=""><b>Choose</b></option>
             <option ng-repeat="getUserHairColor in listOfHairColor[0].codes" value="{{getUserHairColor.codeId + '@' + getUserHairColor.text}}" ><b>{{getUserHairColor.text}}</b></option>
          </select>
     </div>
   </div>
   <div class="item item-input validated">
       <div class="col col-50">
          <span class="input-label labelcolor">
          <i class="iconsize" ng-bind-html="drawSVGCIcon('eye')"></i><b class="formlabel">Eye Color</b></span>
       </div>
       <div class="col col-50">
            <select class="optionselect textdata" name="usereyecolor" id="usereyecolor" ng-model="usereyecolor" required>
                <option value=""><b>Choose</b></option>
                <option ng-repeat="getEyeColor in listOfEyeColor[0].codes" value="{{getEyeColor.codeId + '@' + getEyeColor.text}}"><b>{{getEyeColor.text}}</b></option>
            </select>

        </div>
      </div>
   <div class="item item-input validated">
       <div class="col col-50">
          <span class="input-label labelcolor">
           <i class="iconsize" ng-bind-html="drawSVGCIcon('globe')"></i><b class="formlabel">Ethnicity</b></span>
       </div>
        <div class="col col-50">
            <select class="optionselect textdata" name="userethnicity" id="userethnicity" ng-model="userethnicity" required>
                 <option value=""><b>Choose</b></option>
                 <option ng-repeat="getEthnicity in listOfEthnicity[0].codes" value="{{getEthnicity.codeId + '@' + getEthnicity.text}}"><b>{{getEthnicity.text}}</b></option>
             </select>

        </div>
      </div>
  </div>
  </ion-content>
 </form>

 </ion-view>

 <div class="hide-on-keyboard-open">
    <ion-footer-bar class=" bar-footer  footer-color footerrsheight" style="position:fixed;left:0;right:0;" ng-click="buttonClicked = true" >
      <button class="submitbutton" type="submit" ng-click="postNewuserDetails()" >
         <!-- <a ng-href="#tab/relatedusers" ng-click="adddependent()">-->
        <h1 class="title" id="centercolor">Send Invitation</h1>
      </button>
    </ion-footer-bar>
   </div>
 </ion-side-menu-content>
  <!--Side Menu File Include --->
 <div ng-include src="'templates/SideMenu.html'"></div>
