
<ion-side-menus>
 <ion-side-menu-content>
 <form name="myForm" id="couserform" ng-submit="postNewuserDetails()">
<ion-header-bar align-title="left" class="bar-positiveHomeUser headerheight" style="background-color:{{brandColor}};border-color:{{brandColor}};{{backgroundimage}};">

 <div class="buttons" >
  <button class="button icon button-clear ion-navicon-round iconbackbutton  {{menuiconIOS}}" id="BackButtonIcon" ng-click="toggleLeft()"></button>
</div>
  <div class="Server_Error ErrorMessageDiv" ></div>
<div id="Error_Message"></div>
   <h1 class= "chronic {{title_patient}} {{HeaderList}} {{intakeTittle}}"><span> New User </span> <span >
           <a  ng-click="cancelcouser()" class="headerval"  >Cancel</a></span></h1>

  <div class="bar bar-subheader bar-dark subheaderheight">
    <div class="row">
      <h1 class="headertitle"><div class="ellipsis subHeader_content_name" >
		<span class="PatintHeaderFontStyle patientName ellipsis fnamefont" >New </span>
		 <span class="patientLastName ellipsis lnamefont" >Co-User</span>
		</div></h1>
       </div>

    <div class="circlenew" >
       <div class="">
        <a class="circlecanh">
          <i class="icon ion-camera circlecam"></i>
        </a>
        <span class="circletext" > Add a Picture</span>
      </div>
    </div>
   </div>
 </ion-header-bar>
<ion-view title="Add User">

<ion-content class="userdeptcontent">
   <h4 class="userhead"><b>User Details</b></h4>

 <div class="list">
   <div class="item item-input validated">
     <div class="col clo-50">
         <span class="input-label labelcolor">
         <i class="iconsize ion-ios-person"></i><b class="formlabel">First Name</b></span>
     </div>
     <div class="col clo-50">
        <input class="usertex" id="userfirstname" type="text" ng-model="firstname" name="firstname" placeholder="Required" required  >
       
     </div>
  </div>
  <div class="item item-input validated">
     <div class="col clo-50">
        <span class="input-label labelcolor">
        <i class="iconsize ion-ios-person"></i><b class="formlabel">Last Name</b></span>
     </div>
     <div class="col clo-50">
        <input class="usertext" id="userlastname" type="text" ng-model="lastname" value="" placeholder="Required" required name="lastname" >
         
     </div>
  </div>
  <div class="item item-input validated">
     <div class="col clo-50">
       <span class="input-label labelcolor">
       <i class="iconsize ion-ios-email"></i><b class="formlabel">Email</b></span>
     </div>
     <div class="col clo-50">
         <input class="usertext" id="useremail"  type="email" value="" placeholder="Required" ng-model="email"  name="email" required>
         
         <span class="error"  ng-show="myForm.email.$error.email"> Not a valid email! </span>
     </div>
  </div>
  <div class="item item-input validated">
     <div class="col clo-50">
        <span class="input-label labelcolor">
        <i class="iconsize ion-ios-calendar-outline"></i><b class="formlabel">Date of Birth</b></span>
     </div>
     <div class="col clo-50">
       <input   class="usertext" id="userdob" type="date" min="{{minimum}}" max="{{maxDay}}"   value=""  placeholder="Required"  ng-model="dob"  name="dob" required>
      
     </div>
  </div>
  <div class="item item-input validated">
    <div class="col clo-50">
       <span class="input-label labelcolor">
       <i class="iconsize ion-person-stalker"></i><b class="formlabel">Reltionship</b></span>
    </div>
    <div class="col clo-50">
  <select class=" textdata" name="healthInforelation" id="userrelation" >
               <option value=""><b>Choose</b></option>
               <option ng-repeat="getRelation in listOfRelationship[0].codes" value="{{getRelation.codeId + '@' + getRelation.text}}" ng-selected="getRelation.text == currentPatientDetails[0].anatomy.relationship"><b>{{getRelation.text}}</b></option>
           </select>
    </div>
  </div>
</div>
    <h3  ng-hide="addmore" ng-click="moredetails()" class="moredet"><span >Add More Details</span> <span> <i class="ion-ios-arrow-forward deticon" ></i></span></h3>
    <h3 ng-show="showless" ng-click="lessdetails()"  class="lessdet"><span>Show Less </span> <span><i class="ion-ios-arrow-down deticon"></i></span></h3>

 <div class="list deptlist" ng-show="showme">
     
    <div class="item itemtab row">
      <div class="col clo-50">
        <span class="input-label labelcolor">
        <i class="iconsize ion-female"></i><b class="formlabel">Gender</b></span>
       </div>
       <div class="col clo-50">

            <input type="radio" ng-model="gender" name="userInfoGender" value="M" >Male
            <input type="radio" ng-model="gender" name="userInfoGender" value="F" >FeMale
       </div>
     </div>
   
 
    <div class="item item-input itemtab validated row">
        <div class="col col-50">
           <span class="input-label labelcolor"> <i class="ion-android-arrow-up iconfont"></i><b class="formlabel labelfont">Height</b></span>
        </div>
        <div>        
          <input id="userheight" class="usertext textalign" type="text" value="" placeholder="Optional" ng-model="userheight" name="userheight" required >
        </div>
        <div>
           <select class=" " name="userheightunit" id="userheightunit" ng-model="userheightunit" required>
               <option value=""><b>Choose</b></option>
               <option ng-repeat="getUserheightunit in listOfHeightunit[0].codes" value="{{getUserheightunit.codeId + '@' + getUserheightunit.text}}" ng-selected="getUserheightunit.text == currentPatientDetails[0].anatomy.heightunit"><b>{{getUserheightunit.text}}</b></option>
           </select>   
         
        </div>
   </div>
   
   
   
   <div class="item item-input itemtab validated row">
        <div class="col col-50">
           <span class="input-label labelcolor"> <i class="ion-android-arrow-up iconfont"></i><b class="formlabel labelfont">Weight</b></span>
        </div>
        <div>        
          <input id="userWeight" class="usertext textalign" type="text" value="" placeholder="Optional" ng-model="userWeight" name="userWeight" required >
        </div>
        <div>
           <select class=" " name="userweightunit" id="userweightunit" ng-model="userweightunit" required>
               <option value=""><b>Choose</b></option>
               <option ng-repeat="getUserweightunit in listOfWeightunit[0].codes" value="{{getUserweightunit.codeId + '@' + getUserweightunit.text}}" ng-selected="getUserweightunit.text == currentPatientDetails[0].anatomy.weightunit"><b>{{getUserweightunit.text}}</b></option>
           </select>   
         
        </div>
   </div>
   
   
  <div class="item item-input validated">
     <div class="col clo-50">
        <span class="input-label labelcolor">
        <i class="iconsize ion-ios-telephone"></i><b class="formlabel">Home Phone</b></span>
     </div>
     <div class="col clo-50">
         <input class="input-phone" id="userphone" type='text' phone-input ng-model="phoneVal"/>
       <!-- <input class="usertext" id="userphone" type="tel" value="" phoneInput placeholder="Optional" ng-model="phone"   name="phone"  >
        <span class="error" id="erphone" ng-show="myForm.phone.$error.pattern">Not a valid number!</span>-->
     </div>
   </div>
  <div class="item item-input validated">
    <div class="col clo-50">
       <span class="input-label labelcolor">
       <i class="iconsize ion-ios-telephone"></i><b class="formlabel">Mobile</b></span>
    </div>
    <div class="col clo-50">
       <input class="usertext" id="usermobile" type="tel" value=""  placeholder="Optional" ng-model="mobile"   name="mobile" ng-pattern="/^[0-9]{1,14}$/" >
       <span class="error" id="ermobile" ng-show="myForm.mobile.$error.pattern">Not a valid number!</span>
     </div>
   </div>
  <div class="item item-input validated">
    <div class="col clo-50">
      <span class="input-label labelcolor" style="margin-bottom:50px;">
      <i class="iconsize ion-location"></i><b class="formlabel">Home Address</b></span>
    </div>
    <div class="col clo-50">
      <textarea class="homeadd"  id="address" cols="30" rows="5"  placeholder="Optional"></textarea>
    </div>
   </div>
  <div class="item item-input validated">
     <div class="col clo-50">
        <span class="input-label labelcolor">
        <i class="iconsize ion-ios-people"></i><b class="formlabel">Organization</b></span>
     </div>
      <div class="col clo-50">
        <select class=" textdata" name="healthInfoEthnicity" id="userorg" >
          <option value=""><b>Choose</b></option>
          <option ><b></b></option>
       </select>
      </div>
  </div>
 <div class="item item-input validated">
      <div class="col clo-50">
         <span class="input-label labelcolor">
         <i class="iconsize ion-location"></i><b class="formlabel">Location</b></span>
      </div>
      <div class="col clo-50">
         <select class=" textdata" name="healthInfoEthnicity" id="userloc" >
           <option value=""><b>Choose</b></option>
           <option ><b></b></option>
       </select>
      </div>
  </div>
 <div class="item item-input validated">
    <div class="col clo-50">
       <span class="input-label labelcolor">
       <i class="iconsize ion-ios-person"></i><b class="formlabel">Hair Color</b></span>
    </div>
    <div class="col clo-50">
        <select class=" textdata" name="healthInfoHairColor" id="userhaircolor">
            <option value=""><b>Choose</b></option>
            <option ng-repeat="getHairColor in listOfHairColor[0].codes" value="{{getHairColor.codeId + '@' + getHairColor.text}}" ng-selected="getHairColor.text == currentPatientDetails[0].anatomy.hairColor"><b>{{getHairColor.text}}</b></option>
         </select>
    </div>
  </div>
 <div class="item item-input validated">
     <div class="col clo-50">
        <span class="input-label labelcolor">
        <i class="iconsize ion-ios-eye"></i><b class="formlabel">Eye Color</b></span>
     </div>
      <div class="col clo-50">
        <select class=" textdata" name="healthInfoEyeColor" id="usereyecolor" >
              <option value=""><b>Choose</b></option>
              <option ng-repeat="getEyeColor in listOfEyeColor[0].codes" value="{{getEyeColor.codeId + '@' + getEyeColor.text}}" ng-selected="getEyeColor.text == currentPatientDetails[0].anatomy.eyeColor"><b>{{getEyeColor.text}}</b></option>
          </select>
      </div>
  </div>
 <div class="item item-input validated">
     <div class="col clo-50">
        <span class="input-label labelcolor">
         <i class="iconsize ion-earth"></i><b class="formlabel">Ethnicity</b></span>
     </div>
      <div class="col clo-50">
         <select class=" textdata" name="healthInfoEthnicity" id="userethnicity" >
               <option value=""><b>Choose</b></option>
               <option ng-repeat="getEthnicity in listOfEthnicity[0].codes" value="{{getEthnicity.codeId + '@' + getEthnicity.text}}" ng-selected="getEthnicity.text == currentPatientDetails[0].anatomy.enthicity"><b>{{getEthnicity.text}}</b></option>
           </select>
      </div>
     </div>
    </div>
   </ion-content>
 
 </form>
</ion-side-menu-content>
 <!--Side Menu File Include --->
<div ng-include src="'templates/SideMenu.html'"></div>


</ion-view>
 <div class="hide-on-keyboard-open">
    <ion-footer-bar class=" bar-footer  footer-color footerrsheight" style="position:fixed;left:0;right:0;" ng-click="buttonClicked = true" >
      <button class="submitbutton" type="submit" ng-click="postNewuserDetails()" >
         <!-- <a ng-href="#tab/relatedusers" ng-click="adddependent()">-->
        <h1 class="title" id="centercolor">Send Invitation</h1>
      </button>
    </ion-footer-bar>
   </div>