<ion-view title="Verify Plan">
	<!--<div ng-include src="'templates/planDetails_header.html'"></div>-->
	
	
	<ion-header-bar align-title="left" class="bar-positiveHomeUser" style="height: 58px;" >
		<div style="color: #fff; font-size: 17px; line-height: 3; margin-left: 15px; width: 25%;" >
			<a style="padding-top: 10px; cursor: pointer; color: #fff;" ng-href="#/tab/consultCharge" >Cancel</a>
		</div>
		 <h1 class="title_patient"></h1>	
		 
		 <div style="color: #fff; font-size: 17px; line-height: 3; width: 91%; text-align: right; margin-right: 15px;" >
			<a style="padding-top: 10px; cursor: pointer; color: #fff;" ng-href="#/tab/applyPlan" >Next</a>
		</div>
	</ion-header-bar>
		
	<ion-content class="planDetails_content" >
		<div>		
			<div class="healthPlan_text" style="padding-top: 35px;">
				Verifying Plan				
			</div>			
			
			<div class="verifyPlan_subHeader ellipsis" >
				Blue Cross
			</div>
			
			<div class="list" >
			  <label class="item item-input" >
				<span class="input-label" >First Name</span>
				<input type="text" placeholder="Required" style="font-size: 18px;">
			  </label>
			  <label class="item item-input">
				<span class="input-label" >Last Name</span>
				<input type="text" placeholder="Required" style="font-size: 18px;">
			  </label>
			  <label class="item item-input" >
				<span class="input-label" >Policy Number</span>
				<input type="text" placeholder="Required" style="font-size: 18px;">
			  </label>
				<label class="item item-input" >
				<span class="input-label" >Date of Birth
						<div style="font-size: 10px;">for the policy holder</div></span>
				<input placeholder="Required" style="font-size: 18px;" type="text" onfocus="(this.type='date')"  id="date"> 
			  </label>
			</div>
			
			<div class="planDetails"  >
				<p>When you add a health plan, information about your plan will be sent to your provider for verification.</p>
			</div>
			<div class="privacy" >About Connected Care Privacy</div>
		</div>
	</ion-content>

	
</ion-view>
