
<ion-side-menus>
<ion-side-menu-content> 

<ion-header-bar align-title="left" class="bar-positiveHomeUser" style="background-color:{{brandColor}};border-color:{{brandColor}};{{backgroundimage}};">

<div class="buttons" > 
<button class="button icon button-clear ion-navicon-round  {{menuiconIOS}}" id="BackButtonIcon" style="{{MenuInnerStyle}} {{MenuIconBottom}}"
ng-click="toggleLeft()"></button>
</div>
 <h1 class="{{title_patient}} {{HeaderList}} {{intakeTittle}}"> My Health <span ><a class="headerval" ng-href="" >Done</a></span></h1>


<div class="bar bar-subheader csubheader">

<h2 style="text-align:center;font-family:Glober SemiBold;margin-top: 20px;font-size: 22px;">Current Medication</h2>

 <div class="csearch">
      <h6 class="hsearch">
          <i class="icon ion-search fontcolor"></i> 
          <span class="fontcolor">Search</span>
       </h6>
 </div>

  
</div>  
   
</ion-header-bar>
<ion-view>
	<ion-content style="margin-top:112px;">
     <div class="list">
       <div class="item item-divider">
          Medication Name
       </div>
       <div class="item item-divider">
          Medication Name
       </div>
       <div class="item item-divider">
          Medication Name
       </div>
       <div class="item item-divider">
          Medication Name
       </div>
       <div class="item item-divider">
          Medication Name
       </div>
         
         
     </div>
	</ion-content>
     <ul class="alpha_sidebar">
      <li ng-click="gotoList('index_{{letter}}')"ng-repeat="letter in alphabet"> 
          {{letter}}
      </li>
    </ul>
  
    </ion-side-menu-content>
</ion-view>     

