<ion-side-menus>
	<ion-side-menu-content> 
<ion-header-bar align-title="left" class="bar-positiveHomeUser">
  
  <div class="buttons" >
					<button class="button icon button-clear ion-navicon-round"
							ng-click="toggleLeft()" style="color:#000;margin-top: 7px;"></button>
  </div>
  <h1 class="title_patient" style="font-size: 24px; text-align: center; width: 100%;  margin-left: -32px; ">Patient List</h1>
  

<a href="" ng-click="showDetails = ! showDetails"> 
<div class="bar bar-subheaderHomeUser" style="top: 81px;">

			<div class="TitleHomeUser_Sub" style="font-size: 23px;  width: 85%;">Who needs care today?</div>
			<div style="width:10%;">
			<img ng-src="img/search.png" style="width: 20px;">
			</div>

</div> 
</a>
   
</ion-header-bar> 




<ion-view title="User Home">	
<ion-content class="ContentHomeUser UserHme" style="margin-top: 70px">

 <div class="UserHmeSub" style="padding:10px;" ng-show="showDetails">
        <label class="item-input" style="margin-top: -2px;background: #E6E6E6; margin-left: 5px;margin-right: 5px;border-radius: 9px;" >
					<input type="search" placeholder="Search" ng-model="data.searchQuery" style="color:#000;height: 26px;  margin-top: 0px;" >
            </label>
	   </div>

 	<ion-list>
      
	<a class=""  href="#/tab/patientDetail">
		<ion-item style="top: 1px;padding:11px;height: 104px;">
			 <div class="HrefListView"> 
				<div style="margin-top:-5px !important; margin-left: 0px;">
				<img ng-src="img/IMG_2.png" class="listImgView">
				 <div class= "ListTextTitle ellipsis" style="width:67%;" >{{patientInfomation.patientName}}<span class="SubTitleSpan ellipsis">{{patientInfomation.lastName}}</span></div> 
				<!--<p class="ListText listTitle" style="font-size: 24px;overflow: auto;"><b>Login Details Welcome</b> <span class="SubTitleSpan">Sathiendran <span></p> -->
				<p class="ListHomeUser_pTitle DateFormateStyle" style="width: 67%">Age {{patientInfomation.age}} | Guardain : {{patientInfomation.guardianName}}</p>
				<list class="ion-chevron-right ListLinkHref" style="color:#888;margin-top: -33px;"></list>
				</div>
			 </div>
		</ion-item>
		</a>
		
		<ion-item style="top: -2px;height: 66px;" class="ItemList">
			  <a class="HrefListView" href="#/tab/appoimentDetails" style="margin-left:10px;"> 
			   <span class = "ListText" style="font-size: 16px;top: 1px;color: #888;  margin-left: -5px;">Next Appointment:</span>
			   <h2 style="margin-left: 4px; margin-top: 2px;font-size:22px; color:#706A67;" class="DateFormateStyle"><b>OCT 12 </b> <span style="font-size:18px;"><sup>@</sup></span> <b>12:15</b><span style="font-size:14px;">PM</span></h2>
			   <list class="ion-chevron-right ListLinkHref" style="color:#888;margin-top: -33px;  margin-right: 12px;"></list>
			   <span class="DateFormateStyle" style="float: right;font-size: 16px; margin-right: 30px; color:#888;margin-top: -33px;">View Details</span>
				
			  </a>	
		</ion-item>
		
		<ion-item style="padding:11px;  top: 0px;  height: 80px;" ng-repeat="dependentDetails in dependentDetails | filter: data.searchQuery">
			 <a class="HrefListView"  href="#/tab/appoimentDetails">   
				<img ng-src="img/IMG_2.png" class="listImgView">
				<span class = "ListText"><b>{{dependentDetails.patientName}}</b> <span class="SubTitleSpan">{{dependentDetails.lastName}}</span></span>
				<p class="ListHomeUser_p DateFormateStyle" style="margin-left: 83px;">Age {{dependentDetails.age}} | Guardain : {{dependentDetails.guardianName}}</p>
				<!--<list class="ion-chevron-right ListLinkHref" style="color:#888;margin-top: -33px;"></list>-->
			 </a>
		</ion-item> 
		
		<!--<ion-item style="" ng-repeat="dependentDetails in dependentDetails" >
			 <a class="HrefListView"  href="#/tab/uersearch">   
			 <div style="/*margin-top:-11px !important;*/ height: 66px;  margin-left: 20px;">
				<img ng-src="img/IMG_2.png" class="listImgView">
				<span class = "ListText"><b>{{dependentDetails.patientName}}</b> <span class="SubTitleSpan">{{dependentDetails.lastName}}</span></span>
				<p class="ListHomeUser_p DateFormateStyle">Age {{dependentDetails.age}} | Guardain : {{dependentDetails.guardianName}}</p>
				<!--<list class="ion-chevron-right ListLinkHref" style="color:#888;margin-top: -33px;"></list> 
			 </div>
			 </a>
		</ion-item >-->
		<!--<ion-item style="padding:11px;height: 104px;">
			 <a class="HrefListView"  href="#/tab/uersearch"> 
				<div style="margin-top:-11px !important;">			 
				<img ng-src="img/IMG_2.png" class="listImgView">
				<span class = "ListText"><b>Elizabeth</b> <span class="SubTitleSpan">Ariadnae</span></span>
				<p class="ListHomeUser_p DateFormateStyle">Age 14 | Guardain : Banjamin Ross</p>
				<list class="ion-chevron-right ListLinkHref" style="color:#888;margin-top: -33px;"></list>
			</div>			
			</a>
		</ion-item>
		<ion-item style="padding:11px;height: 104px;">
			 <a class="HrefListView"  href="#/tab/uersearch">  
				<div style="margin-top:-11px !important;">			 
				<img ng-src="img/IMG_2.png" class="listImgView">
				<span class = "ListText"><b>Elizabeth</b> <span class="SubTitleSpan">Sinai</span></span>
				<p class="ListHomeUser_p DateFormateStyle">Age 14 | Guardain : Banjamin Ross</p>
				<list class="ion-chevron-right ListLinkHref" style="color:#888;margin-top: -33px;"></list>
			 </div>
			 </a>
		</ion-item>-->
		
	</ion-list>
</ion-content>
</ion-side-menu-content>	
 <!--Side Menu File Include --->
<div ng-include src="'templates/SideMenu.html'"></div>
</ion-view>	>
<!--
<ion-footer-bar align-title="left" class="bar-assertive" style="background-color:#fff; border-color:#fff;border-bottom: none;">
 
</ion-footer-bar> -->