

<ion-view title="Card Details">
    
    <form ng-submit="doPostPaymentProfileDetails()" name="CardForm" novalidate=''>
    
       <ion-header-bar align-title="left" class="bar-positiveHomeUser PlanHeader" style="background-color:{{brandColor}};border-color:{{brandColor}};" >			
			<div id="Error_Message" class="ErrorMessageDiv" ></div>
			 
			<div class="buttons" style="display: {{cardDisplay}}" >
				<a class="button_new icon PlanCancel" ng-href="#/tab/consultCharge" >
					<span>Cancel</span>
				</a>				
			</div>
			
			<div class="buttons" style="display: {{cardDisplay}}" >			
				<div ng-if="CardForm.$invalid">
                    <button type="submit" class="button_new icon PlanNext" style="color:#999;"  ng-disabled="CardForm.$invalid" >
                        Next
                    </button>	
                </div>
                <div ng-if="!CardForm.$invalid">
                    <button type="submit" class="button_new icon PlanNext"   ng-disabled="CardForm.$invalid" >                   Next
                    </button>
                </div>
                
                <!-- <div ng-if="CardForm.$invalid" class="disabled" >
                    <button type="submit" class="button_new icon PlanNext" >
                                <span style="color:#999;">Next</span> 
                    </button>   
                </div>
                <div ng-if="!CardForm.$invalid">    
                    <button type="submit" class="button_new icon PlanNext" >
                              <span>Next</span>  
                    </button>
                </div> -->
                    
                    
                
			</div>
		</ion-header-bar>
		
	<ion-content class="planDetails_content" >
	 
		<div>		
			<div class="healthPlan_text cardDetailsHeading" style="display: {{cardDisplay}}">
				Card Details			
			</div>		
			
			<div class="CardInformation" style="display: {{cardDisplay}}" >
				Enter your card information below
			</div>
			
			<div class="healthPlan_text verifyPlanHeading" style="display: {{verifyCardDisplay}}">
				Verifying Card			
			</div>			
			
			<div class="verifyCardDisplay" style="display: {{verifyCardDisplay}}" >		
			</div>
			
			
			<div class="list" >
				<label class="item item-input" >
					<span class="input-label" >First Name</span>
					<input type="text" placeholder="Required" ng-model="getCardDetails.FirstName" name="FirstName" id="FirstName" required>
				</label>
				
				<label class="item item-input" >
					<span class="input-label" >Last Name</span>
					<input type="text" placeholder="Required" ng-model="getCardDetails.LastName" name="LastName" id="LastName" required>
				</label>
				
				<label class="item item-input">
					<span class="input-label" >Card Number</span>
					<input type="number" placeholder="Required" ng-model="getCardDetails.CardNumber" name="CardNumber" id="CardNumber" required>
				</label>
				
				<label class="item item-input" >
					<span class="input-label" >Expiration Date</span>
					<input placeholder="Required"  type="text"  id="ExpireDate" name="ExpireDates" maxlength="7" ng-Model="getCardDetails.CardExpireDates"  credit-card-expiration-entry required> 
                    
                  <!--  <input type="text" placeholder="Required" ng-model="getCardDetails.ExpireDate" name="ExpireDate" maxlength="7" id="ExpireDate" credit-card-expiration-entry> --->
                    
			    </label>	
                
                <label class="item item-input" >
					<span class="input-label" >Security Code</span>
					<input type="password" placeholder="Required" ng-model="getCardDetails.Cvv"  name="Cvv" id="Cvv" required>
				</label>
                
                <label class="item item-input" ng-click="loadCountriesList();" >
				<span class="input-label" >Country</span>
				<div class="demo">	
				<!--	<select id="country" ng-Model="getCardDetails.Country" class="CountryDetails" ng-change="CountryChange()" required>
						<option value=""  >Select your Country</option>
						<option ng-repeat="CountryList in CountryLists" value="{{CountryList.code}}"><b>{{CountryList.country}}</b></option>
					</select> -->
                    <!--<input type="text" placeholder="Click Here"  ng-model="CountryName"  name="CountryName" id="Country" value="{{SelectedCountry.CountryName}}"  required readonly  ng-click="loadCountriesList();" > ----->
                    <span ng-if="SelectedCountry.CountryName">
                     {{ SelectedCountry.CountryName }}
                    </span>
                    <span style="color:#999" ng-if="!SelectedCountry.CountryName">
                    Click Here
                    </span>
				</div>
			    </label>
			  
				<label class="item item-input" >
					<span class="input-label" >Billing Address</span>
					<input type="text" placeholder="Required" ng-model="getCardDetails.BillingAddress"  name="BillingAddress" id="BillingAddress" required>
				</label>
                
                <label class="item item-input" >
					<span class="input-label" >City</span>
			         <input type="text" placeholder="Required"  ng-model="getCardDetails.City"  name="City" id="City" required>
			    </label>
			  
				<label class="item item-input" >
					<span class="input-label" >State</span>
					<div class="demo"  >	
						<select id="State" ng-Model="getCardDetails.State" class="CountryDetails" required>
							<option value=""  >{{StateText}}</option> 
							<option ng-repeat="StateList in StateList" value="{{StateList.state}}"><b>{{StateList.state}}</b></option>
						</select>
					</div>
				</label>
                
				<label class="item item-input" >
					<span class="input-label" >Zip</span>
			    <input type="number" placeholder="Required"  ng-model="getCardDetails.CardZipCode"  input-max-length-number maxlength="5" name="Zip" id="Zip" required/>
                    
				</label>
            
                
               
            </div>
			
			<div class="planDetails"  >
				<p>When you add a health plan, information about your plan will be sent to your provider for verification.</p>
			</div>
			<div class="privacy" >About Connected Care Privacy</div>
		</div>
		
	</ion-content>
</form>
</ion-view>
