<ion-view title="Consult Charge">
	
	<ion-header-bar align-title="left" class="bar-positiveHomeUser">
  
  <div class="buttons" >
      <a class="button_new icon ion-chevron-left" ng-href="#/tab/ConsentTreat" style="padding-top: 14px; font-weight: bold; cursor: pointer; width: 68px; position: absolute; z-index: 1;top:10px;" >
				<span style="margin-top:7px;position: relative;margin-left: -6px;top: -2px;">Back</span>
	</a>				
  </div>
  <h1 class="title_patient" style="font-size: 22px; text-align: center; width: 100%; top:4px;">Patient</h1>
  
  
<div class="bar bar-subheaderHomeUser patient_subHeader" style="top: 65px;height: 87%">
	<div style="margin-left:10px;">
				<div class="subHeader_image" style="margin-left: -15px;  margin-top: -13px;">
					<img src="img/cutmypic.png" style="width:42px;" />
				</div>
				<div class="subHeader_content" >
					
						<div style="font-size: 18px;"><span style="font-weight: bold;"  class="PatintHeaderFontStyle">{{patientInfomation.patientName}}</span> <span style="font-weight: normal;" class="PatintHeaderFontStyleInner">{{patientInfomation.lastName}}</span></div>
						<div style="font-size: 11px;" class="PatintHeaderFontStyleSub ellipsis">Age {{patientInfomation.guardianName}} | Guardian {{patientInfomation.guardianName}}</div>
					
				</div>
	</div>
</div>
        
   
</ion-header-bar>
	
	
	
	<div class="consultCharge_subHeader PatintHeaderFontStyle" style="top:-15px;" >
		<span style="color:#666666;font-size:27px;top:-16px;">Payment</span>
	</div>
	
	
	<ion-content class="consultCharge_content" >
		<div class="password_home">
		
			<div class="consultation_head RegularFontStyle" >
				<div style="color:#000000;">Consultation Charge</div>
				<div class="consultation_number" style="color:#666666;"> $60*</div>
			</div>
			
			<div style="padding-top: 45px;">				
				<a style="text-decoration: none;" ng-href="#/tab/addHealthPlan">
				<button class="button button-block button-energized">
				 <span style="position: relative;top: 3px;"> Use Health Plan </span>
				</button></a>
			</div>
			<div class="scheduled_appointments_text" >
				Do you wish to use your health plan?
			</div>
			<div style="padding-top: 15px;">
				<!--<a style="text-decoration: none;" ng-href="#/tab/consultChargeNoPlan">
				<button class="button button-block button-royal"  type="submit" ng-click="doGetPatientPaymentProfilesConsultCharge()"  >
					<button class="button button-block button-royal"  type="submit" ng-click="toggleLeft1()"  >-->
					<button class="button button-block button-royal"  type="submit" ng-click="doGetPatientPaymentProfilesConsultCharge()"  >
						<span style="position: relative;top: 3px;"> Skip to Payment</span>
					</button>
				<!--</a>-->
			</div>
			<div class="scheduled_appointments_text" >
				Don't use your health plan, pay full charge directly.
			</div>
		</div>
	</ion-content>
	
	<!--<div ng-include src="'templates/consultCharge_footer.html'"></div> --->
	
	<div class="hide-on-keyboard-open">
		<ion-footer-bar align-title="left" class="footer">			
			<div style="width:100%;">
				<div class="" style="float:left; width:33%">
                    <a class="button_new icon ion-chevron-left" href="#/tab/ConsentTreat" style="cursor: pointer;"><span style="  top: -2px;position: relative;">Back</span></a>
			</div>
						
			<div class="" style="text-align:center;float:left;width:33%;  margin-top: 7px;">
				<a class="button_new icon" href="#/tab/userhome" style=" color:#b8b8b8;cursor: pointer;">Cancel</a>
			</div>
						
			</div>
		</ion-footer-bar> 
	</div>
	
	
</ion-view>
