
<ion-view title="">	
    <ion-content scroll="false">
        <div id="publisher" style="top: {{patientVideoTop}}px; display: block;"></div>
        <div id="subscriber" style="height: {{clinicianVideoHeight}}px; width: {{clinicianVideoWidth}}px; display: block;">
            <div id="pleaseWaitVideo" style="padding-top: 25px; color: #000; font-size: 20px; text-align: center; margin: 10px; font-weight: bold;">
                <br/>
                <br/>
                Please wait while we are connecting you with physician!
            </div>
        </div>
        <div id="subscriberScreen" style="height: {{clinicianVideoHeightScreen}}px; width: {{clinicianVideoWidth}}px; display: none;">
            <div style="padding-top: 25px; color: #000; font-size: 20px; text-align: center; margin: 10px; font-weight: bold;">
                <br/>
                <br/>
                Please wait while we are connecting you with physician!
            </div>
        </div>
        <div id="thumbVideos" style="background-color: #303132 !important; top: {{clinicianVideoHeight}}px !important; height: 100px; float: left; width: 100%; position: absolute;">
            <div class="swiper-container" style="height: 100px !important;">
                <div class="swiper-wrapper">
                    
                </div>
            </div>
        </div>
        <div id="hiddenVideos" style="display: none;">
            
        </div>
    </ion-content>
</ion-view>	
  
<ion-footer-bar class="footer" style="background-color: black !important;">
    <div style="width:100%; margin: auto; text-align: center; ">
        <div class="confCamera" ng-click="toggleCamera();">
            <i class="{{cameraIconClass}}" style="margin-bottom: 15px;	position: relative;	top: 10px;"></i>&nbsp;
        </div>
        <div class='confEndCall' ng-click="disconnectConference();">
            <i class="ion-ios-telephone callIcons activeCallIcon" style="display: inline-block; -webkit-transform: rotate(135deg);"></i>
        </div>
        <div class="confMute" ng-click="toggleMute();">
            <i class="{{muteIconClass}}" style="margin-bottom: 15px;	position: relative;	top: 10px;"></i>&nbsp;
        </div>
    <div>
</ion-footer-bar>	

