
<ion-side-menus>
	<ion-side-menu-content> 

	<ion-header-bar align-title="left" class="bar-positiveHomeUser" style="height:128px !important;background-color:{{brandColor}};border-color:{{brandColor}};{{backgroundimage}};">

	<div class="buttons" > 
		<button class="button icon button-clear ion-navicon-round  {{menuiconIOS}}" id="BackButtonIcon" style="{{MenuInnerStyle}} {{MenuIconBottom}}"
				ng-click="toggleLeft()"></button>
	</div>

    <h1 style="margin-top:12px;" class="{{title_patient}} {{HeaderList}} {{intakeTittle}}">Appointment Details <span >
        <a class="headerval" ng-href="#tab/appointmentpatientdetails"  >Done</a>
       </span></h1>


<div class="bar bar-subheader bar-dark" style="top:64px;height:88px;">
                  <div class="row">
                     <h1 class="headertitle"><div class="ellipsis subHeader_content_name" >
					  <span class="PatintHeaderFontStyle patientName ellipsis fnamefont"> Jonathan</span>
				      <span class="patientLastName ellipsis lnamefont" >Fitzpztrick</span>
				     </div></h1>
                </div>
       
       <div class="item item-image-icon" >
				<a class="lefthome">
					<i class="icon ion-home headerlefticons"></i>
					<p class="homecontent">Account Home</p>
				</a>
				<a class="item-avatar itemhead">
					<p><img src="img\patient.png" class="topimage"></p>
				</a>
				<a class="rightpatient">
					<i class="icon ion-ios-people headerrighticon"></i>
					<p class="patientcontent"  >Change Patient</p>
				</a>
			</div>
   	
</div>  
   
</ion-header-bar>


<ion-view title="">
 <ion-content >
     
    <div class="list " style="margin-top:110px;">
        
     
        <a class="item item-avatar" style="padding-left:85px;border-top:none;">
             <img src="img\patient.png" style="max-width:50px;max-height:50px;top:19px;">
              <h2 class="pathead">With</h2>
              <p style="margin-top: -14px;"><span class="appfname">Dr.McGrath</span> 
                <span style="float:right;"><i class="icon ion-chevron-right "></i></span>
              </p>
              <p style="margin-top:-5px;">Female <span> .</span> 36yrs</p>
           </a>
    <span>
        
        
    </span>
      
        <ion-item class="ionitem" style="margin-top:-12px;">
           <div class="item item-text-wrap" style= "padding-left: 29px;border:none;">
                  <div class="">
                       <h2><span class="fname" style=" margin: 0 0 11px 0;font-size:55px;font-family:Glober Bold;margin-left: 24px">12:25 pm</span> </h2>
                       <p style="font-size:31px;margin-top:4px;font-family:Glober Regular; ">Monday, July 29, 2015</p>
				      </div>
                 </div>
       </ion-item>  
      
      <a class="item" href="#" style="border-bottom:none;">
       <div class="row" style="margin-left:-22px;line-height:1.5;margin-top:-20px;">
          <div class="col col-10" style="background-color: rgba(204, 204, 204, 0.46);color:#585858">1</div>
            <div class="col col-50">
                <p style="color:#555555;"><b>Primary Concern</b></p>
                <p class="pfontsize">This is the primary reason for visit</p>
            </div>
          </div>
          <br>
          <div class="row" style="margin-top: -28px;margin-left:-22px;line-height: 1.5;">
          <div class="col col-10" style="background-color: rgba(204, 204, 204, 0.46);color:#585858;">2</div>
            <div class="col col-50">
               <p style="color:#555555;"><b>Secondary Concern</b></p>
                <p class="pfontsize">This is the Secondary reason for this
                visit. It may be significantly longer
                than normal if it is a cunstom entry</p>
            </div>
          </div>
          <br>
          <div class="row" style="margin-top: -28px;margin-left:-22px;line-height: 1.3;">
          <div class="col col-10" style="background-color: rgba(204, 204, 204, 0.46);color:#585858">a</div>
            <div class="col col-50">
                <p style="color:#555555;"><b>Notes</b></p>
                <p class="pfontsize">This is the Secondary reason for this
                visit. It may be significantly longer
                than normal if it is a cunstom entry
                This is the Secondary reason for this
                visit. It may be significantly longer
                than normal if it is a cunstom entry</p>
                
                
                
            </div>
          </div>
     </a>

      
   </div>       
 
   
        
       
    </ion-content>
    
  
    </ion-side-menu-content>
</ion-view>     


<ion-footer-bar class="bar bar-footer  footer-color footheight">
     <a class="button button-calm" ng-href="#/tab/userAppointment"><span>Next</span></a>
   <h1 class="title" id="centercolor" >Enter Appointment</h1>
</ion-footer-bar>
