<ion-view title="Verify Plan">
	<div ng-include src="'templates/planDetails_header.html'"></div>
		
	<ion-content class="planDetails_content" >
		<div>		
			<div class="healthPlan_text" style="padding-top: 45px; font-size: 35px;">
				Verifying Plan				
			</div>			
			
			<div class="healthPlan_header" style="padding-top: 90px; color: #5C5C5C; text-align: center; font-size: 22px;" >
				Blue Cross
			</div>
			
			<div class="list" style="padding-top: 40px;">
			  <label class="item item-input">
				<span class="input-label" style="font-weight: bold; font-size: 20px;" >First Name</span>
				<input type="text" placeholder="Payment" style="font-size: 20px;">
			  </label>
			  <label class="item item-input">
				<span class="input-label" style="font-weight: bold; font-size: 20px;" >Last Name</span>
				<input type="password" placeholder="Required" style="font-size: 20px;">
			  </label>
			  <label class="item item-input">
				<span class="input-label" style="font-weight: bold; font-size: 20px;" >Policy Number</span>
				<input type="password" placeholder="Required" style="font-size: 20px;">
			  </label>
				<label class="item item-input" style="padding-bottom: 0px;">
				<span class="input-label" style="font-weight: bold; font-size: 20px;" >Date of Birth
						<div style="font-size: 10px;">for the policy holder</div></span>
				<input type="password" placeholder="Required" style="font-size: 20px;">
			  </label>
			</div>
			
			<div class="planDetails"  >
				<p>When you add a health plan, information about your plan will be sent to your provider for verification.</p>
			</div>
			<div class="privacy" >About Connected Care Privacy</div>
		</div>
	</ion-content>

	
</ion-view>
