
<ion-side-menus>
	<ion-side-menu-content> 

	<ion-header-bar align-title="left" class="bar-positiveHomeUser" style="background-color:{{brandColor}};border-color:{{brandColor}};{{backgroundimage}};">

	<div class="buttons" > 
		<button class="button icon button-clear ion-navicon-round  {{menuiconIOS}}" id="BackButtonIcon" style="{{MenuInnerStyle}} {{MenuIconBottom}}"
				ng-click="toggleLeft()"></button>
	</div>

    <h1 class="{{title_patient}} {{HeaderList}} {{intakeTittle}}">Appointments <span style="float:right;"><i class="icon ion-search"></i></span></h1>


<div class="bar bar-subheader bar-dark" style="top:56px;height:88px;">
                  <div class="row">
                     <h1 class="headertitle"><div class="ellipsis subHeader_content_name" >
					  <span class="PatintHeaderFontStyle patientName ellipsis" style="font-style:Glober Bold;font-size:28px;">Jonathan</span>
				      <span class="patientLastName ellipsis" style="font-style:Glober SemiBold;font-size:25px;">Fitzpztrick</span>
				     </div></h1>
                </div>
       
         <div class="item item-image-icon " style="background-color:#444444;">
          
           <a style="padding-left: 30px;">
               <i class="icon ion-home" style="border:1px solid #888;border-radius: 50%;padding-left: 7px;padding-right: 8px;padding-top: 5px;padding-bottom: 0px;font-size: 23px;color: #888;"></i>
               <p style="padding-top:17px;">Account Home</p>
          </a>
           <a class="item-avatar itemhead">
               <p><img src="img\patient.png" class="topimage" style=""></p>
           </a>
           <a style="float:right;margin-top:-83px;">
               <i class="icon ion-ios-people" style="border:1px solid #888;border-radius: 50%;padding-left:5px;padding-right:6px;padding-top:4px;padding-bottom: 0px;font-size: 23px;color: #888;"></i>
               <p style=" padding-top: 19px; margin-left: -21px;"  >Change Patient</p>
           </a>
   </div>
   	<div class="row">
         
       <div class="buttons backbtn"  > 
		    <button class="button icon button-clear ion-navicon-round  {{menuiconIOS}}" style="display: none;">
			</button>
	</div>
        <div class=" button-bar">
          <label class="button button-small btcolor btn-first"  id="users" ng-click="user()"> This Patient</label>
          <label class="button button-small btnextcolor btn-first tabcontent" id="allusers" ng-click="alluser()">All</label>
         
    </div>
    
       <div class="buttons backbtn"  > 
		 <button class="button icon button-clear ion-navicon-round  {{menuiconIOS}}" style="display: none;">
		 </button>
	  </div>
   </div>		
 
</div>  
   
</ion-header-bar>


<ion-view title="">
 <ion-content style="margin-top:175px;">
     
  
        <div ng-hide="addmore">
           <div class="list listfirst" style="margin-top: 120px;">
        <a class="item item-avatar">
             <img src="img\patient.png">
            <h2>Next Appointment</h2>
              <h2><span class="fname">Nov 13</span> @<span class="fname">3:45</span>  PM 
                <span class=""> View Details <i class="icon ion-chevron-right "></i></span>
              </h2>
        </a>
            
        <a class="item item-avatar">
             <img src="img\patient.png">
           <h2><span class="fname">Nov 21</span> @<span class="fname">3:45</span>  PM 
             <span class=""> View Details <i class="icon ion-chevron-right "></i></span>
           </h2>
         </a>
 
          <a class="item item-avatar">
             <img src="img\patient.png">
           <h2><span class="fname">Dec 02</span> @<span class="fname">3:45</span>  PM 
             <span class=""> View Details <i class="icon ion-chevron-right "></i></span>
           </h2>
         </a>
          <a class="item item-avatar">
             <img src="img\patient.png">
           <h2><span class="fname">Dec 08</span> @<span class="fname">3:45</span>  PM 
             <span class=""> View Details <i class="icon ion-chevron-right "></i></span>
           </h2>
         </a>
          <a class="item item-avatar">
             <img src="img\patient.png">
           <h2><span class="fname">Dec 13</span> @<span class="fname">3:45</span>  PM 
             <span class=""> View Details <i class="icon ion-chevron-right "></i></span>
           </h2>
         </a>
          <a class="item item-avatar">
             <img src="img\patient.png">
           <h2><span class="fname">Dec 16</span> @<span class="fname">3:45</span>  PM 
             <span class=""> View Details <i class="icon ion-chevron-right "></i></span>
           </h2>
         </a>
          <a class="item item-avatar">
             <img src="img\patient.png">
           <h2><span class="fname">Dec 21</span> @<span class="fname">3:45</span>  PM 
             <span class=""> View Details <i class="icon ion-chevron-right "></i></span>
           </h2>
         </a>
   </div>       
   </div>
   
   <div ng-hide="healthhide">
        <div class="list listall" style="margin-top: 120px;">
        <a class="item item-avatar">
             <img src="img\Lisa_Wong.jpg">
            <h2>Next Appointment</h2>
              <h2><span class="fname">Nov 13</span> @<span class="fname">3:45</span>  PM 
                <span class=""> View Details <i class="icon ion-chevron-right "></i></span>
              </h2>
        </a>
            
        <a class="item item-avatar">
             <img src="img\password.jpg">
           <h2><span class="fname">Nov 21</span> @<span class="fname">3:45</span>  PM 
             <span class=""> View Details <i class="icon ion-chevron-right "></i></span>
           </h2>
         </a>
 
          <a class="item item-avatar">
             <img src="img\patient.png">
           <h2><span class="fname">Dec 02</span> @<span class="fname">3:45</span>  PM 
             <span class=""> View Details <i class="icon ion-chevron-right "></i></span>
           </h2>
         </a>
          <a class="item item-avatar">
             <img src="img\James_king.jpg">
           <h2><span class="fname">Dec 08</span> @<span class="fname">3:45</span>  PM 
             <span class=""> View Details <i class="icon ion-chevron-right "></i></span>
           </h2>
         </a>
          <a class="item item-avatar">
             <img src="img\patient.png">
           <h2><span class="fname">Dec 13</span> @<span class="fname">3:45</span>  PM 
             <span class=""> View Details <i class="icon ion-chevron-right "></i></span>
           </h2>
         </a>
          <a class="item item-avatar">
             <img src="img\patient.png">
           <h2><span class="fname">Dec 16</span> @<span class="fname">3:45</span>  PM 
             <span class=""> View Details <i class="icon ion-chevron-right "></i></span>
           </h2>
         </a>
          <a class="item item-avatar">
             <img src="img\patient.png">
           <h2><span class="fname">Dec 21</span> @<span class="fname">3:45</span>  PM 
             <span class=""> View Details <i class="icon ion-chevron-right "></i></span>
           </h2>
         </a>
   </div>                
   </div>    
       
           
        
       
    </ion-content>
    
  
    </ion-side-menu-content>
</ion-view>     


<ion-tabs  class=" tabs-icon-top tabs-dark">

  <a class="tab-item " ng-href="/#tab/relatedusers">
    <i class="icon ion-android-people"></i>
   User
  </a>
  <a class="tab-item" ng-href="#tab/consultations">
    <i class="icon ion-card"></i>
    Consultations
  </a>
  <a class="tab-item " ng-href="/#tab/healthinfo">
    <i class="icon ion-clipboard"></i>
    My Health
  </a>

<a class="tab-item active" ng-href="/#tab/appointmentpatientdetails">
    <i class="icon ion-calendar"></i>
    Appointments
  </a>
<a class="tab-item"  ng-href="/#tab/profileoption">
    <i class="icon ion-more"></i>
    More
  </a>

      </ion-tabs>