<div class="Server_Error ErrorMessageDiv" ></div>

<ion-side-menus>
	<ion-side-menu-content> 
	<ion-header-bar align-title="left" class="bar-positiveHomeUser" style="background-color:{{brandColor}};border-color:{{brandColor}};{{backgroundimage}};">
	  
		<div class="buttons {{menuicon}}" >
			<button class="button icon button-clear ion-navicon-round UserHomeIcon {{menuicon}}" id="BackButtonIcon" style="{{MenuIconBottom}}" ng-click="toggleLeft()" ></button>
		</div>
		<h1 class="{{title_patient}} {{HeaderList}}" style="margin-left: -30px;">Patient List</h1>	  

		<a href="" ng-click="showDetails = ! showDetails"> 
			<div class="bar bar-subheaderHomeUser subHeaderTop UserNeeds">
				<div class="TitleHomeUser_Sub" id="WhoNeeds">Who needs care today?</div>
				<div class="SearchImage">
					<i class="ion-search" style="float: right; font-size: 26px;color: #616462;"></i>
				</div>

			</div> 
		</a>
	   
	</ion-header-bar> 




<ion-view title="User Home">	
<ion-content class="ContentHomeUser UserHme" ng-controller="LoginCtrl" >
	<div class="UserHmeSub-{{deviceName}}" ng-show="showDetails">
        <label class="item-input"  >
            <input type="search" placeholder="Search" id="searchQuery" ng-model="data.searchQuery"  >
        </label>
	</div>

 	<ion-list>
      
	<a class="UserHomePatient"  ng-click = "GoToPatientDetails(PatientImage,primaryPatientName,primaryPatientLastName,dob,primaryPatientGuardianName,primaryPatientId,true)">
		<ion-item class="UserHomeHeader" ng-hide="data.searchQuery">
			 <div class="HrefListView"> 
				<div class="UserhmePatientDetails">
					<img ng-src="{{PatientImage}}" class="UserHmelistImgView">
					<div class= "ListTextTitle ellipsis userHomeFullName" > <b class="ng-binding"> {{primaryPatientName}} </b><span class="SubTitleSpan ellipsis"> {{primaryPatientLastName}}</span></div> 
					<!--<p class="ListText listTitle" style="font-size: 24px;overflow: auto;"><b>Login Details Welcome</b> <span class="SubTitleSpan">Sathiendran <span></p> -->
					<p class="ListHomeUser_pTitle DateFormateStyle">Age {{dob | ageFilter}} <!--<span ng-if="primaryPatientGuardianName"> | Guardain : {{primaryPatientGuardianName}}</span>--></p>
					<list class="ion-chevron-right ListLinkHref UserHomeIcon"></list>
				</div>
			 </div>
		</ion-item>
	</a>
		
	<!--<ion-item class="UserHomeNextAppointment ItemList" ng-hide="data.searchQuery" ng-click="GoToPatientDetails()">
			<a class="HrefListView"  > 
			   <span class = "ListText UHomeNextAppoinment">Next Appointment:</span>
			   <h2 class="DateFormateStyle"><b>OCT 12 </b> <span class="NextAppointTime"><sup>@</sup></span> <b>12:15</b><span class="NextAppointAMorPM">PM</span></h2>
			   <list class="ion-chevron-right ListLinkHref nextList"></list>
			   <span class="DateFormateStyle AppointmentView" >View Details</span>
		    </a>	
		</ion-item>--> 
		<div style="display: none;"><timer end-time="time"  ></timer></div>
		
		<ion-item style="display: {{nextAppointmentDisplay}}"  class="UserHomeNextAppointment ItemList" ng-hide="data.searchQuery" ng-repeat="scheduledListData in scheduledList"  ng-click="GoToappoimentDetails(scheduledListData)" ng-if="$first">
			<a class="HrefListView"  > 
			   <span class = "ListText UHomeNextAppoinment">Next Appointment:</span>
			   <h2 class="DateFormateStyle"><b>{{scheduledListData.scheduledTime | date: "MMM dd"}} </b> <span class="NextAppointTime"><sup>@</sup></span> <b>{{scheduledListData.scheduledTime | date: "hh:mm"}}</b><span class="NextAppointAMorPM"  style="font-size: 15px; font-weight: bold;">{{scheduledListData.scheduledTime | date: "a"}}</span></h2>
			   <list class="ion-chevron-right ListLinkHref nextList"></list>
			   <span class="DateFormateStyle AppointmentView" >View Details</span>
				
		    </a>	
		</ion-item>
		
		
		
		<ion-item class="DependentList" style="top: 5px;" ng-repeat="dependentDetails in RelatedPatientProfiles | filter: data.searchQuery" ng-click = "GoToPatientDetails(dependentDetails.profileImagePath,dependentDetails.patientFirstName,dependentDetails.patientLastName,dependentDetails.birthdate,dependentDetails.guardianName,dependentDetails.patientId, dependentDetails.isAuthorized)">
			<!-- <a class="HrefListView">   -->
			 <div class="HrefListViewDependent"> 
				<div class="UserhmePatientDetails">
					<img ng-src="{{dependentDetails.profileImagePath}}" class="UserHmelistImgView">
					<div class= "ListTextTitle ellipsis userHomeFullName" ><b>{{dependentDetails.patientFirstName}}</b> <span class="SubTitleSpan">{{dependentDetails.patientLastName}}</span></div>
					<p class="ListHomeUser_pTitle DateFormateStyle">Age {{dependentDetails.birthdate | ageFilter}} <span ng-if="primaryPatientId != dependentDetails.patientId">| Guardain : {{dependentDetails.guardianName}}</span></p>
				</div>
			</div>
			<!-- </a>-->
			
		</ion-item> 
		
		
		
	</ion-list>
</ion-content>
</ion-side-menu-content>	
 <!--Side Menu File Include --->
<div ng-include src="'templates/SideMenu1.html'"></div>
</ion-view>	
