

<ion-side-menus>
	<ion-side-menu-content>

	<ion-header-bar align-title="left" class="bar-positiveHomeUser headerheight" style="background-color:{{brandColor}};border-color:{{brandColor}};{{backgroundimage}};">

	<div class="buttons" >
		<!--<button class="button icon button-clear ion-navicon-round  {{menuiconIOS}}" id="BackButtonIcon" style="{{MenuInnerStyle}} {{MenuIconBottom}}"
				ng-click="toggleLeft()"></button>-->
				<span class="button icon button-clear {{menuiconIOS}}" id="BackButtonIcon" style="{{MenuInnerStyle}} {{MenuIconBottom}}" ng-click="toggleLeft()"><i ng-bind-html="drawSVGCIcon('menu')"></i></span>
	</div>

   <div class="Server_Error ErrorMessageDiv" ></div>
<div id="Error_Message"></div>
        <h1 class= "{{title_patient}} {{HeaderList}} {{intakeTittle}}"><span class="newUserTitle-{{deviceName}}" > New User </span> <span >
            <a  ng-click="canceldependent()" class="headerval"  >Cancel</a></span></h1>


<div class="bar bar-subheader bar-dark subheaderheight">
    <div class="row">
      <h1 class="headertitle"><div class="ellipsis subHeader_content_name" >
		<span class="PatintHeaderFontStyle patientName ellipsis fnamefont" >New </span>
		 <span class="patientLastName ellipsis lnamefont" >Dependent</span>
		</div></h1>
       </div>

    <div class="circlenew" >
       <div ng-if="newDependentImagePath == ''" ng-click="showCameraActions()" >
        <a class="circlecanh">
          <i class="icon ion-camera circlecam"></i>
        </a>
        <span class="circletext" > Add a Picture</span>

      </div>

			<div ng-if="newDependentImagePath != ''" ng-click="showCameraActions()">
			 <img style="width: 80px; height: 80px; border-radius: 50%; margin: -2px;" src="{{newDependentImagePath}}" alt="{{newDependentImagePath}}" ng-src="{{newDependentImagePath}}" >

		 </div>

  </div>


</div>

</ion-header-bar>



<ion-view title="" >
	 <form name="myForm" id="dependentuserform" ng-submit="postDependentDetails()">
 <ion-content class="userdeptcontent depenBackgroundColor">
	<h4 class="userhead"><b>User Details</b></h4>

  <div class="list deptlist" >

   <div class="item item-input validated">
     <div class="col col-50">
       <span class="input-label labelcolor">
       <i class="iconsize" ng-bind-html="drawSVGCIcon('user')"></i><b class="formlabel">First Name</b><i class="ion-asterisk"></i></span>
     </div>
      <div class="col col-50 depGreyLabel">
        <input class="usertext" type="text" placeholder="Required" ng-model="firstname" name="firstname" id="firstname"  required >
  		</div>
    </div>
  <div class="item item-input validated">
     <div class="col col-50">
         <span class="input-label labelcolor">
         <i class="iconsize" ng-bind-html="drawSVGCIcon('user')"></i><b class="formlabel">Last Name</b><i class="ion-asterisk"></i></span>
     </div>
     <div class="col col-50 depGreyLabel">
         <input class="usertext" type="text"  placeholder="Required" ng-model="lastname" name="lastname" id="lastname" required >

      </div>
   </div>



	 <div class="item item-input validated">
			<div class="col col-50">
					<span class="input-label labelcolor">
					<i class="iconsize" ng-bind-html="drawSVGCIcon('hash')"></i><b class="formlabel">Date of Birth</b><i class="ion-asterisk"></i></span>
			</div>
			<div class="col col-50 depGreyLabel">

				 <input class="usertext dobDependent-{{deviceName}}"  id="dob" type="date" min="{{minimum}}" max="{{maxDate1}}"   placeholder="Required" required  name="dob" ng-blur="ngBlur()">
			</div>
		</div>


   <div class="item item-input validated">
     <div class="col col-50">
       <span class="input-label labelcolor">
       <i class="iconsize" ng-bind-html="drawSVGCIcon('users')"></i><b class="formlabel">Relationship</b><i class="ion-asterisk"></i></span>
      </div>
      <div class="col col-50 depGreyLabel">
				<select class="optionselect textdata" name="healthInforelation" id="dependentrelation" >
			               <option value=""><b>Choose</b></option>
			               <option ng-repeat="getRelation in listOfRelationship[0].codes" value="{{getRelation.codeId + '@' + getRelation.text}}"><b>{{getRelation.text}}</b></option>
			           </select>
      </div>
    </div>

	<div class="item item-input validated" style="display: {{emailDisplay}};">
	   <div class="col col-50">
		  <span class="input-label labelcolor">
		  <i class="iconsize" ng-bind-html="drawSVGCIcon('mail')"></i><b class="formlabel">Email</b><i class="ion-asterisk"></i></span>
	   </div>
	   <div class="col col-50 depGreyLabel">
		   <input class="usertext" id="email"  type="email" value="" placeholder="Required" ng-model="email" required="required"  name="email" >

		   <span class="error" id="eremail" ng-show="myForm.email.$error.email" > Not a valid email! </span>
	   </div>
	 </div>


		<!--<div class="item  validated">
      <div class="col col-50">
        <span class="input-label labelcolor">
        <i class="iconsize" ng-bind-html="drawSVGCIcon('users')"></i><b class="formlabel">Authorized</b></span>
       </div>
       <div class="col col-50">
				 <input type="radio" name="healthInfoAuthorize"  value="Y" checked> yes<br>
				 <input type="radio" name="healthInfoAuthorize" value="N"> No<br>
       </div>
     </div>-->

		<div class="item item-input validated">
			<div class="col col-50">
				<span class="input-label labelcolor">
				<i class="iconsize" ng-bind-html="drawSVGCIcon('female')"></i><b class="formlabel">Gender</b><i class="ion-asterisk"></i></span>
			 </div>

			 <div class="col col-50 depGreyLabel">
				 <select class="optionselect textdata" name="userInfoGender" id="depgender"  >
					 <option value=""><b>Choose</b></option>
					 <option value="M">Male</option> >
					 <option value="F">Female</option>
				 </select>
			 </div>
	</div>
    <div class="item item-input itemtab validated row">
        <div class="col col-50">
           <span class="input-label labelcolor"> <i class="iconfont" ng-bind-html="drawSVGCIcon('height')"></i><b class="formlabel labelfont">Height</b><i class="ion-asterisk"></i></span>
        </div>
				<div class="col col-50 depGreyLabel">
					<input class="textdata" id="heightdep"  type="text" value="" placeholder="Required"  required="required"  ng-click="heightmodal()" readonly="true" style="background-color: #e9e9e9;">

	 		   <span id="hunit" ng-show="hghtunit"> </span>
	 	   </div>
   </div>
   <div class="item item-input itemtab validated row">
        <div class="col col-50">
           <span class="input-label labelcolor"> <i class="iconfont" ng-bind-html="drawSVGCIcon('weight')"></i><b class="formlabel labelfont">Weight</b><i class="ion-asterisk"></i></span>
        </div>
				<div class="col col-50 depGreyLabel">
	        <div class="dependHeigh-{{deviceName}}">

	          <input id="weight" class="usertext textalign" type="number" value="" placeholder="Required"  name="weight" ng-model="weightunit" ng-change="weightunitchange()" ng-blur="weight1len()"  ng-pattern="/^\d{0,9}(\.\d{1,9})?$/">
	        </div>
	        <div class="dependHeighUnit-{{deviceName}}" style="width: 50%;">
	           <select class="optionselect textdata dependwetUnit-{{deviceName}}" name="weightunit" id="weightunit" ng-model="weightunits" required>
	               <!--<option value=""><b>Choose</b></option>-->
	               <option ng-repeat="getWeightunit in listOfWeightunit[0].codes" value="{{getWeightunit.codeId + '@' + getWeightunit.text}}"><b>{{getWeightunit.text}}</b></option>
	           </select>

	        </div>
				</div>
   </div>

<div class="item item-input validated">
     <div class="col col-50">
   	<span class="input-label labelcolor">
   	<i class="iconsize" ng-bind-html="drawSVGCIcon('globe')"></i><b class="formlabel">Country</b><i class="ion-asterisk"></i></span>
      </div>
      <div class="col col-50 depGreyLabel">
		<select class="optionselect textdata" name="healthInfoCountry" id="dependentCountry" >
			<option value=""><b>Choose</b></option>
			<option ng-repeat="country in serviceCountries" value="{{country.code}}" ><b>{{country.name}}</b></option>
		</select>
      </div>
    </div>
    <div class="item item-input validated" style="display: {{timezoneDisplay}};">
      <div class="col col-50">
      <span class="input-label labelcolor">
      <i class="iconsize" ng-bind-html="drawSVGCIcon('clock')"></i><b class="formlabel">Timezone</b><i class="ion-asterisk"></i></span>
        </div>
        <div class="col col-50 depGreyLabel">
      <select class="optionselect textdata" name="healthInfoTimezone" id="dependentTimezone" >
        <option value=""><b>Choose</b></option>
          <option ng-repeat="timeZone in timeZones" value="{{timeZone.id}}" ><b>{{timeZone.name}}</b></option>
      </select>
        </div>
    </div>
<div class="item item-input validated">
    <div class="col col-50">
        <span class="input-label labelcolor">
        <i class="iconsize" ng-bind-html="drawSVGCIcon('phone')"></i><b class="formlabel">Home Phone</b></span>
    </div>
     <div class="col col-50 depGreyLabel">
        <input  class="usertext" id="homephone" type="tel" value=""  placeholder="Optional" ng-model="phone"   name="phone" phone-input ng-blur="phoneBlur()">
        <span class="error" id="erphone" ng-show="myForm.phone.$error.pattern">Not a valid number!</span>
     </div>
</div>
 <div class="item item-input validated">
   <div class="col col-50">
       <span class="input-label labelcolor">
       <i class="iconsize" ng-bind-html="drawSVGCIcon('phone')"></i><b class="formlabel">Mobile</b><i class="ion-asterisk"></i></span>

   </div>
    <div class="col col-50 depGreyLabel">
       <input class="usertext" id="mobile" type="tel" value=""  placeholder="Required"   ng-model="dependmobile"   name="mobile" phone-input >

    </div>
</div>
<div class="item item-input validated">
   <div class="col col-50">
     <span class="input-label labelcolor" >
     <i class="iconsize" ng-bind-html="drawSVGCIcon('location-pin')"></i><b class="formlabel">Home Address</b><i class="ion-asterisk"></i></span>
   </div>
    <div class="col col-50 depGreyLabel">
			  <ion-google-place class="coUserAddress-{{deviceName}}" placeholder="Full Address" ng-model="addNewDependent.homeadd" style="fon-size:18px !important;font-family: Glober Semibold;" />
     <!--<textarea   class="homeadd" id="homeadd" cols="30" rows="5"  placeholder="Optional"></textarea>-->
    </div>
</div>
 <div class="item item-input validated" ng-if="OrganizationLocation === 'on'">
     <div class="col col-50">
        <span class="input-label labelcolor">
        <i class="iconsize" ng-bind-html="drawSVGCIcon('group')"></i><b class="formlabel">Organization</b></span>
     </div>
    <div class="col col-50 depGreyLabel">
       <select class="optionselect textdata" id="organization" ng-model="firstSelect" ng-options="option.id as option.name for option in listOfOrganization">
       <option value=""><b>Choose</b></option>
     </select>
     <input type="hidden" id="organ" value="{{firstSelect}}" />

     </div>
  </div>
 <div class="item item-input validated" ng-if="OrganizationLocation === 'on'">
    <div class="col col-50">
       <span class="input-label labelcolor">
       <i class="iconsize" ng-bind-html="drawSVGCIcon('location-pin')"></i><b class="formlabel">Location</b></span>
    </div>
    <div class="col col-50 depGreyLabel">
       <select class="optionselect textdata"  id="location" ng-model="secondSelect" ng-options="option.name for option in locationdetails | secondDropdown: firstSelect">
      <option value=""><b>Choose</b></option>
    </select>
    <input type="hidden" id="locate" value="{{secondSelect.id}}" />
    </div>
 </div>
 <div class="item item-input validated">
    <div class="col col-50">
       <span class="input-label labelcolor">
       <i class="iconsize" ng-bind-html="drawSVGCIcon('drop')"></i><b class="formlabel">Blood Type</b><i ng-if="PPIsBloodTypeRequired === 'on'" class="ion-asterisk"></i></span>
     </div>
     <div class="col col-50 depGreyLabel">
        <select class="optionselect textdata" name="bloodtype" id="bloodtype" ng-model="bloodtype" required>
            <option value=""><b>Choose</b></option>
            <option ng-repeat="getBloodType in listOfBloodtype[0].codes" value="{{getBloodType.codeId + '@' + getBloodType.text}}" ><b>{{getBloodType.text}}</b></option>
         </select>

     </div>
 </div>


 <div class="item item-input validated">
    <div class="col col-50">
       <span class="input-label labelcolor">
       <i class="iconsize" ng-bind-html="drawSVGCIcon('hair')"></i><b class="formlabel">Hair Color</b><i ng-if="PPIsHairColorRequired === 'on'" class="ion-asterisk"></i></span>
     </div>
     <div class="col col-50 depGreyLabel">
        <select class="optionselect textdata" name="hairColor" id="hairColor" ng-model="hairColor" required>
            <option value=""><b>Choose</b></option>
            <option ng-repeat="getHairColor in listOfHairColor[0].codes" value="{{getHairColor.codeId + '@' + getHairColor.text}}"><b>{{getHairColor.text}}</b></option>
         </select>

     </div>
 </div>
 <div class="item item-input validated">
     <div class="col col-50">
        <span class="input-label labelcolor">
        <i class="iconsize" ng-bind-html="drawSVGCIcon('eye')"></i><b class="formlabel">Eye Color</b><i ng-if="PPIsEyeColorRequired === 'on'" class="ion-asterisk"></i></span>
     </div>
     <div class="col col-50 depGreyLabel">
          <select class="optionselect textdata" name="eyeColor" id="eyeColor" ng-model="eyeColor" required>
              <option value=""><b>Choose</b></option>
              <option ng-repeat="getEyeColor in listOfEyeColor[0].codes" value="{{getEyeColor.codeId + '@' + getEyeColor.text}}"><b>{{getEyeColor.text}}</b></option>
          </select>

      </div>
    </div>
 <div class="item item-input validated">
     <div class="col col-50">
        <span class="input-label labelcolor">
         <i class="iconsize" ng-bind-html="drawSVGCIcon('globe')"></i><b class="formlabel">Ethnicity</b><i ng-if="PPIsEthnicityRequired === 'on'" class="ion-asterisk"></i></span>
     </div>
      <div class="col col-50 depGreyLabel">
          <select class="optionselect textdata" name="ethnicity" id="ethnicity" ng-model="ethnicity" required>
               <option value=""><b>Choose</b></option>
               <option ng-repeat="getEthnicity in listOfEthnicity[0].codes" value="{{getEthnicity.codeId + '@' + getEthnicity.text}}"><b>{{getEthnicity.text}}</b></option>
           </select>
      </div>
    </div>
		<div class="item item-input validated fadediv">
	      <div class="col col-50">
	         <span class="input-label labelcolor">
	          <i _style="display: none;" class="iconsize" ng-bind-html="drawSVGCIcon('lock-open')"></i><b class="formlabel" >Authorization</b><i class="ion-asterisk"></i></span>
	      </div>
	       <div class="col col-50 dependentAddAuthorize depGreyLabel" >
	           Authorized
	       </div>
	     </div>
			 <div class="dependentAuthorize" >
				 	By clicking below I certify that, I am legally empowered to request and/or manage care on behalf of this individual.
			 </div>

 </div>
 </ion-content>
</form>

</ion-view>




<ion-footer-bar class="bar bar-footer footerrsheight" style="background-color:#CBCBCB;" ng-hide="tempfooter">
  <p class="alterfooter">Please Complete</br>
  All Required Fields</p>
</ion-footer-bar>


<div class="hide-on-keyboard-open">
<ion-footer-bar class="bar bar-footer  footer-color footerrsheight" ng-show="permfooter" ng-click="buttonClicked = true" >
    <button class="submitbutton" type="submit" ng-click="postDependentDetails()" >
    <!-- <a ng-href="#tab/relatedusers" ng-click="adddependent()">-->
  <h1 class="title" id="centercolor" >Add Dependent</h1>
</button>
</ion-footer-bar>
</div>
</ion-side-menu-content>
 <!--Side Menu File Include --->
<div ng-include src="'templates/SideMenu.html'"></div>
