<ion-view title="Prior Surgeries">

<!--<ion-header-bar align-title="left" class="bar-positiveHomeUser" >
		<div ng-include src="'templates/intakeHeader.html'"></div>
</ion-header-bar>-->

<ion-header-bar ng-controller="LoginCtrl" class="bar-positiveHomeUser"
            type="bar-positive"
            title="Demo"
            left-buttons="leftButtons" 
            right-buttons="rightButtons">
</ion-header-bar>



<ion-view title="Appointment Details">
<ion-content class="ContentHomeUser">
 	<ion-list>
		<ion-item style="top: -2px;padding: 2px;">
			<span style="color:#888;float:right;margin-right: 10px;">Step <b>2</b> of <b>7</b></span>
			 <a ng-href="#/tab/MedicationAllegies"> <h1 class="title ChronicCondition">Prior Surgeries</h1></a>
			 <p style=" margin-top: -8px;margin-left: 19px;padding-bottom: 13px;">List any Prior Surgeries.</p>
	    </ion-item>
		
		<div class="demo select_div">
		<span style=" font-size: 29px; margin-left: -36px;position: relative;top: 6px;">1. </span>
		<select>
			<option style="padding:10px;"><b>Surgery</b></option>
		</select>
		</div>	
		<div ><input type="text" datepicker  /></div>
		
		<div class="addHealthPlan_header" style="padding: 50px;" >
					<img ng-src="img/add.png"><span class="addHealthPlan_text" >  Add Another</span>
				</div>
		
		
</ion-content>

</ion-view>
		<div ng-include src="'templates/invokeFooter.html'"></div>

</ion-view>

