<div class="Error_Message ErrorMessageDiv" ></div>
<div class="Server_Error ErrorMessageDiv" ></div>
<ion-view title="Add Card">
<ion-side-menus>
	<ion-side-menu-content> 
		<div ng-include src="'templates/intakeHeader.html'"></div> 
	
		<div class="consultCharge_subHeader PatintHeaderFontStyle"  style="{{PaymentStyle}}">
			<span>Payment</span>
		</div>
	
	
	<ion-content class="consultChargeNoPlanContent" style="{{ContentConsultCharge}}">
		<div class="password_home">
		
			<div class="consultation_head RegularFontStyle consultChargeNoPlanText" >
				<div class="consultTittle">Consultation Charge</div>
				<div class="consultation_number"> <span>${{consultationAmount}}</span> ${{copayAmount}}*</div>
				<div class="Plancovers" ng-if="PlanCoversAmount != ''">Plan Covers ${{PlanCoversAmount}}</div>
			</div>
			
			
			<div class="healthPlan_header" style="display: {{enableSubmitpaymentAddCard}} " >
				
				<div class="healthPlan_text NoPlanText" >Pay Using</div>
					<div class="addHealthPlan_header NoPlanAddCardDropdown" >					
						<!--<div class="demo">
							<select id="addNewCard" name="addNewCard" class="ellipsis" style="border: none;" ng-model="cardPaymentId.addNewCard">
								<option><b>Choose Your Card</b></option>
								<option  ng-repeat="PaymentProfile in PaymentProfile" value={{PaymentProfile.profileID}} ><b><span class="ellipsis">{{PaymentProfile.cardNumber}}</span></b></option>
								<option><b>Add a new card</b></option>
							</select>
						</div>-->
						<div  class="dropdownContainer">
							<div class="cardViewport">Choose Your Card</div>							
							<select class="healthPlanDropDown" id="addNewCard" name="addNewCard" style="border: none;" ng-model="cardPaymentId.addNewCard">
								<option><b>Choose Your Card</b></option>
								<option  ng-repeat="PaymentProfile in PaymentProfile" value={{PaymentProfile.profileID}} ><b><span>Card ending in...{{PaymentProfile.cardNumber}}</span></b></option>
								<option><b>Add a new card</b></option>
							</select>
						</div>
					</div>
			</div>
			
			
			<div class="SkipToPayment" style="display: {{enableSubmitpaymentAddCard}}">
				<!--<a ng-href="#/tab/receipt">-->
				<button type="submit" ng-click='doPostCoPayDetails()'  class="button button-block button-balanced">
				  <span>Submit Payment</span>
				</button>
				
				<!--</a>-->
			</div>
			
			<div class="SkipToPayment" style="padding-top: 133px; display: {{continueAddCard}}">
				<!--<a ng-href="#/tab/receipt">-->
				<button type="submit" ng-click='doGetReceipt()'  class="button button-block button-balanced">
				  <span>Continue</span>
				</button>
				
				<!--</a>-->
			</div>
		
			
			<div class="healthPlan_header AddCardDetails" style="display:{{disableSubmitpaymentAddCard}}" >				
				<div class="healthPlan_text"  >Pay Using</div>
				<a ng-href="#/tab/cardDetails" >
					<div class="addHealthPlan_header AddCard" >
						<img ng-src="img/add.png" >
						<span class="addHealthPlan_text" >Add A Payment Card</span>
					</div>
				</a>				
			</div>
			
			<div class="SkipToPayment" style="display: {{disableSubmitpaymentAddCard}}">
				<!--<a ng-href="#/tab/consultChargeNoPlan">-->
					<button class="button button-block button-royal cardSubmitPayment">
						<span>  Submit Payment</span>
					</button>
				<!--</a>-->
			</div>
			
			
			
			<!--<div class="healthPlan_header" >				
				<div class="healthPlan_text" style="margin-left: -160px;" >Pay Using</div>
				<a ng-href="#/tab/cardDetails" style="display:{{addPaymentCard}}"><div class="addHealthPlan_header" style="margin-left:0px;" >
					<img ng-src="img/add.png" style="width: 30px; height: 30px;" ><span class="addHealthPlan_text" style="margin-left:0px;" >Add A Payment Card</span>
				</div></a>
				<div class="addHealthPlan_header"  >					
						<div class="demo" style="margin-left: 50px;">
							<select id="addNewCard" name="addNewCard">
								<option style="padding:10px;"><b>Choose Your Card</b></option>
								<option style="padding:10px;" ng-repeat="paymentProfiles123 in paymentProfiles123"  ><b>{{paymentProfiles123.cardNumber}}</b></option>
								<option style="padding:10px;"><b>Add a new card</b></option>
							</select>
						</div>
					</div>
				
			</div>-->
			
			
			
			
			<div class="scheduled_appointments_text NoPlanBottomText" style="display: {{textAddCard}}" >
				*There may be additional fees or charges based on the outcome of this consultation. By submitting payment, I understand I may be billed for these charges after this consultation is completed. 
			</div>
		</div>
	</ion-content>
	</ion-side-menu-content>	
	
	<!--Side Menu File Include --->
	<div ng-include src="'templates/SideMenu.html'"></div>

	<!--<div ng-include src="'templates/consultCharge_footer.html'"></div>-->
	
	<div class="hide-on-keyboard-open">
		<ion-footer-bar align-title="left" class="footer">
			<div class="ConsultChargeFooter">
				<div class="ConsultChargeBack">
                    <a class="button_new icon ion-chevron-left" href="#/tab/applyPlan" ><span> Back</span></a>
				  <!--<a class="button_new icon ion-chevron-left" ><span>Back</span></a>
				   <site-header back="Back"></site-header>-->
				</div>
						
				<div class="ConsultChargeCancel">
					<a class="button_new icon" href="#/tab/userhome">Cancel</a>
				</div>
						
			</div>
			
		</ion-footer-bar> 
	</div>
	
	
	
</ion-view>	
