<ion-header-bar align-title="left" class="bar-positiveHomeUser" >
		
		<div ng-include src="'templates/intakeHeader.html'"></div>
		
		<div style="margin-top: 120px; margin-left: -52px; width:102%">
			<span style="color:#888;float:right;margin-right: 23px;margin-top: 11px;">Step <b>5</b> of <b>7</b></span>
			 <h1 class="ChronicCondition">Consent to Treat</h1>
			 <p style=" margin-top: -8px;margin-left: 19px;padding-bottom: 13px; color:#888;">read, Acknowledge, and Agree (Scroll to Bottom)</p>
			 <div style=" border-bottom: 1px solid #ddd;"></div>
	   </div>
	   
</ion-header-bar>
 
<ion-view title="Appointment Details">

<ion-content class="ContentHomeUser" style="top:150px;">
<div style="border-bottom: 1px solid #ddd; margin: 10px 10px 10px 20px;">
<p  class="PragraphContent"  style="text-overflow: clip; white-space: normal; text-align: justify; padding: 0.5em 0 0.5em 0; color:#000;">
 I, Or guardian,give/s permission to <b>Emerald HealthCare Group </b> to perform the medical service that the physician and other non-physician providers and assistants may deem to be necessary. In addition, I, or authorize/s <b> Emerald Healthcare Group</b> to realse any information obtained during the course of my examination and/or treatment to my health care insurer or other payer.
</p>	
</div>	

<div style="border-bottom: 1px solid #ddd; margin: 10px 10px 10px 20px;">
<p class="PragraphContent"   style="text-overflow: clip; white-space: normal; text-align: justify; padding: 0.5em 0 0.5em 0; color:#595959;"  >
  SnapMd terms & Conditions, Privacy Police and Consent to Treat. <br>These Terms and Conditions define the obligation of SnapMd. its authorized agent and me. the service subscriber, and they establish the basic rules of safe and the basic rules of safe and fair use of SnapMd and its authorized agents re-serve the right to immediately and withot advance notice terminate the service and deny access to individuals who do not abide by the Terms and conditions.
</div>	


<div style=" margin: 41px  10px 10px 20px;">
<p  class="PragraphContent" style="text-overflow: clip; white-space: normal; text-align: justify; padding: 0.5em 0 0.5em 0; color:#919191;" >
By clicking "I Agree", I acknowledge and agree to the Terms and Conditions and Consent To treatment as-stated above.
</div>	

   <div style=" margin: 41px  10px 10px 20px;"> 
    <ion-option-button class="button-positive" style="background-color:#A2D28A; border-color:#A2D28A;width: 100%; color:#fff;" ><b>I Agree</b></ion-option-button>
   </div>	
   <div style=" margin: 41px  10px 10px 20px;"> 
    <ion-option-button class="button-positive" style="background-color:#fff; border-color:#fff;width: 100%; color:#888;" ><b>Cancel</b></ion-option-button>
   </div>	

</ion-content>

</ion-view>
		<div ng-include src="'templates/invokeFooter.html'"></div>



