<div class="Error_Message ErrorMessageDiv" ></div>
<div class="Server_Error ErrorMessageDiv" ></div>

<ion-view title="Patient Details">
	
<ion-header-bar align-title="left" class="bar-positiveHomeUser" style="background-color:{{brandColor}};border-color:{{brandColor}};{{backgroundimage}};">
  
  <div class="buttons" style="{{BackBotton}}">
	<a class="button_new icon ion-chevron-left calendarBack" ng-href="#/tab/userhome"  >
		<span>Back</span>
	</a>				
  </div>
  <h1 class="{{title_patient}} calendarTitle" style="{{PatientTitle}}">Patient</h1>
  
  

<div class="bar bar-subheaderHomeUser patient_subHeader calendar_subHeader_height" style="{{patientsubHeaderInnerStyle}}">
	<div class="calendar_subHeader subheaderTitle"  >
				<div class="subHeader_image" >
					<img src="{{PatientImageSelectUser}}" class="listImgView" />
				</div>
				<div class="subHeader_content ellipsis" >
					
				<!--	<div style="font-size: 18px;"><span style="font-weight: bold;"  class="PatintHeaderFontStyle">{{patientInfomation.patientName}}</span> <span style="font-weight: normal;" class="PatintHeaderFontStyleInner">{{patientInfomation.lastName}}</span></div>
							<div style="font-size: 11px;" class="PatintHeaderFontStyleSub ellipsis">Age {{patientInfomation.guardianName}} | Guardian {{patientInfomation.guardianName}}</div>
					</div> -->
        
					<div class="ellipsis subHeader_content_name" >
						<span class="PatintHeaderFontStyle patientName ellipsis">{{PatientFirstName}}</span> 
						<span class="PatintHeaderFontStyleInner patientLastName ellipsis">{{PatientLastName}}</span>
					</div>
                    <div class="subHeader_content_age PatintHeaderFontStyleSub ellipsis">Age {{PatientAge | ageFilter}} <span ng-if="PatientGuardian"> | Guardian: {{PatientGuardian}}</span></div>
				</div>
        
	</div>
</div> 

   <div class="bar" style="margin-top:134px;margin-top: 122px;text-align: center;height: 60px;">
				<div class="TitleHomeUser_Sub" style="margin-left:18px;margin-top:15px;">What Would you like do to?</div>
   </div> 
    
</ion-header-bar>
	
	
	<div style="display: none;"><timer end-time="time"  ></timer></div>
	<ion-content class="patient_content" style="padding-top: 140px; padding-left:0px;">
		<div class="password_home PatientDetailsHome" style="padding: 0 4%;  margin-left: -25px;">	
			
			<!--	<a ng-click="doToPatientCalendar(PatientImageSelectUser,PatientFirstName,PatientLastName,PatientAge,PatientGuardian)"> -->
        <div style="border-style: 1px solid; background-color:#EFEFED; padding:30px;">
                <h4 style="text-align: center;margin-top: -14px;color:#616462; font-size:19px;" class="PatientDetailsYor"><b>Your Calendar</b></h4>
                    <button class="button button-block button-energized" ng-click="getScheduledDetails(patientId)" style="padding: 2px;top: -3px;">
                     <span> View Appointments </span>
                    </button> <!--</a> -->

                <div class="scheduled_appointments_text" style="margin-bottom: -14px;margin-top: 10px;">
                    Access all current and future scheduled visits. 
                </div>
           </div>
            
            
                
			<div class="PatientNextAvailable" style="margin-bottom: -14px;margin-top: 16px;border-style: 1px solid; background-color:#EFEFED; padding:30px;">
				 <h4 style="text-align: center;margin-top: -14px;color:#616462;font-size:19px;" class="PatientDetailsYor"><b>Walk-in Visit</b></h4>
				<button type="submit" ng-click="doGetCodesSet(PatientImageSelectUser,PatientFirstName,PatientLastName,PatientAge,PatientGuardian,patientId)" class="button button-block button-balanced" style="padding: 2px;top: -3px;" >
				  <span>See Next Available</span>
				</button>
				<!--</a>-->
			<div class="scheduled_appointments_text" style="margin-bottom: -14px;margin-top: 10px;">
				Don't have an appointment? <br/>
				See the next available clincian.
			</div>
		</div>
	</ion-content>
	
</ion-view>
