<ion-header-bar align-title="left" class="bar-positiveHomeUser" style="background-color:{{brandColor}};border-color:{{brandColor}};{{backgroundimage}};" >
		
		
    <!--<div class="backButtonDiv">
       <a ng-click="EnableBackButton()"> <Span  style="float:left;margin: 13px 0 0 17px;font-size:20px;color:#fff;"><B>Done</B></Span></a>
		</div>-->
		
		 <div class="buttons" style="{{ReportScreen}};">
				<a class="button_new icon ReportDone" style="{{reportDone}}" ng-click="EnableBackButton()"  >
					<span>Done</span>
				</a>				
		  </div>
		
		<h1 class="{{title_patient}} {{HeaderList}} {{intakeTittle}} ReportTittle" style="{{reportTitletop}};">Intake Form</h1>  


	<div class="bar bar-subheaderHomeUser patient_subHeader calendar_subHeader_height" style="{{patient_subHeaderTopMove}}" >
		<div class="calendar_subHeader" >
			<div class="subHeader_image" >
				<img src="{{PatientImageSelectUser}}"  class="listImgView"  />
			</div>
			<div class="subHeader_content-{{deviceName}} ellipsis" >					
				<div class="ellipsis subHeader_content_name" >
					<span class="PatintHeaderFontStyle patientName ellipsis">{{PatientFirstName}}</span>
					<span class="PatintHeaderFontStyleInner patientLastName ellipsis">{{PatientLastName}}</span>
				</div>
                <div class="subHeader_content_age PatintHeaderFontStyleSub ellipsis">Age {{PatientAge | ageFilter}} <span ng-if="PatientGuardian"> | Guardian: {{PatientGuardian}} </span></div>
			</div>
		</div> 
	</div>
		
	   
</ion-header-bar> 
 
<ion-view title="Report Details">

<ion-content class="ReportContent"  >
	<div style="margin: 0 3%;">
		<div>
			<div class="reportLogo">
				<img ng-src="{{ReportHospitalImage}}">
			</div>
			<div class="providerAddress">
				<div>{{reportHospitalAddress}} <span ng-if="contactNumber != ''">| {{contactNumber}}</span></div>
				<div class="reportOrganization" ng-if="userReportOrganization != ''"><b>Organization:</b> {{userReportOrganization}}</div>
				<div ng-if="reportLocation != ''">
					<div><b>Location</b></div>
					<div>{{reportLocation}} </div>
				</div>
			</div>		
		</div>
		<div class="ConnectedCareDetails" >
			<div class="ConnectedCareTitle">
				<h1 class="ReportTitle">CONNECTED CARE CONSULTATION REPORT</h1>
			</div>
		
			<div class="Roundcircle CCAttachment" style="display:none;">
				<img ng-src="img/attached.png">
				<p><b>3</b></p>
			</div>
			<div class="attachmentSpace">&nbsp </div>
		</div>
		<div class="reportPatientDetails">
			<div  class="reportPatient">
				<div><b>Patient :</b></div>
				<div>{{reportPatientName}} {{reportLastName}} </div>
				<div ng-if="existingConsultationReport.patientAddress != ''">{{reportPatientAddress}}</div>
				<div>Home: {{existingConsultationReport.homePhone}} </div>
				<div>Cell: {{existingConsultationReport.mobilePhone}} </div>				
			</div>		
			<div class="reportEncounter"  >
				<div><b>Encounter Date:</b></div>
				<div>{{consultationDate | date:'MMM dd, yyyy h:mm a'}}</div>
				<div><b>Physician:</b> </div>
				<div>{{reportDoctorFirstName}} {{reportDoctorLastName}}</div>
				<div ng-if="displayCOnsultationDuration == 'display'"><b>Consultation Duration:</b> </div>
				<div ng-if="displayCOnsultationDuration == 'display'">{{consultDurationMinutes}}:{{consultDurationSeconds}}</div>
			</div>		
		</div>
		<div class="reportPatientStatistics" >		
			<table  class="PatientStatistic" >
				<tr>
					<td colspan="6" class="statisticsTitle"  ><b>Patient Statistics</b>
						<div></div>
					</td>
				</tr>
				<tr >
					<td class="statisticAge"><b>Age: </b></td>
					<td><b><input type="text" style="" readonly value="{{existingConsultationReport.dob  | ageFilter}}"></b></td>
					<td>&nbsp </td>
					<td><b>Height: </b></td>
					<td><b> <input type="text" style="" readonly value="{{reportHeight}}"></b></td>
					<td>&nbsp </td>
				</tr>
				
				<tr>
					<td class="statisticGender"><b>Gender:&nbsp </b></td>
					<td><b> <input type="text" style="" readonly value="{{gender}}"></b></td>
					<td>&nbsp </td>
					<td><b> Weight: &nbsp</b></td>
					<td><b> <input type="text" style="" readonly value="{{reportWeight}}"></b></td>
					<td>&nbsp </td>
				</tr>
			
			</table>
			
		</div>
		<div class="reportPatientConcerns">
			<div class="concernTitle"><b>PATIENT CONCERNS</b></div>
			<div class="concernUnderline" >	</div>	
		
			<div class="reportConcerns" ng-if="reportScreenPrimaryConcern != ''">
				<div class="concernNumber"> <span>1</span> </div>
				<div class="primaryConcernText"> {{reportScreenPrimaryConcern}}</div>
			</div>
			<div class="reportConcerns"  >
				<div class="concernNumber"> <span>2</span> </div>
				<div class="primaryConcernText"> {{reportScreenSecondaryConcern}}</div>
			</div>
			
		</div>
		
		<div class="reportSubjective" >
			<div class="subjectiveTitle"><b>SUBJECTIVE</b></div>
			<div class="subjectiveUnderline">	</div>
			<div>	
				<div class="intakeTitle">
					<div><b>Intake Form Information</b></div>
					<div class="intakeUnderline"></div>
				</div>
				<div class="intakeMedication">
					<div>
						<div class="medicationTitle"><b>Current Medication</b></div>
						<div class="medicationUnderline"></div>
					</div>
					<div class="medicationList" ng-repeat="getMedicationList in ReportMedications"> 
						<span> <b>{{getMedicationList.Number}}</b> </span>
						<span>{{getMedicationList.description}}</span>
					</div>
					<div ng-if="intake.medications == ''" class="medicationNone" >None Reported</div>
					
				</div>
				
				<div class="intakeMedication">
					<div>
						<div class="medicationTitle"><b>Chronic Medication</b></div>
						<div class="medicationUnderline"></div>
					</div>
					<div class="medicationList" ng-repeat="getmedicalConditionsList in ReportMedicalConditions" > 
						<span> <b>{{getmedicalConditionsList.Number}}</b> </span>
						<span>{{getmedicalConditionsList.description}}</span>
					</div>
					<div ng-if="intake.medicalConditions == ''" class="medicationNone" >None Reported</div>
				</div>
				
				<div class="intakeMedication" >
					<div>
						<div class="medicationTitle"><b>Prior Surgeries</b></div>
						<div class="medicationUnderline"></div>
					</div>
					<div class="medicationList" ng-repeat="getSurgeryList in ReportSurgeries"> 
						<span> <b>{{getSurgeryList.Number}}</b> </span>
						<span>{{getSurgeryList.description}} - {{getSurgeryList.month}} / {{getSurgeryList.year}}</span>
					</div>
					<div ng-if="intake.surgeries == ''" class="medicationNone" >None Reported</div>
				</div>
				
				<div class="intakeMedication" >
					<div>
						<div class="medicationTitle"><b>Medication Allergies</b></div>
						<div class="medicationUnderline"></div>
					</div>
					<div class="medicationList" ng-repeat="getAllergyList in ReportMedicationAllergies"> 
						<span> <b>{{getAllergyList.Number}}</b> </span>
						<span>{{getAllergyList.description}}</span>
					</div>
					<div ng-if="intake.medicationAllergies == ''" class="medicationNone" >None Reported</div>
				</div>
				
				<div class="intakeMedication"  >
					<div>
						<div class="medicationTitle"><b>Birth Info</b></div>
						<div class="medicationUnderline"></div>
					</div>
					<div class="medicationList" ng-if="userReportDOB < 1" >					
						<span>Child born at full term : {{fullTerm}}</span><br>
						<span>Child born vaginally : {{vaginalBirth}}</span><br>
						<span>Child discharged with mother : {{dischargedWithMother}}</span><br>
						<span>Child vaccinations up-to-date : {{vaccinationsCurrent}}</span><br>
					</div>
					<div ng-if="userReportDOB >= 1" class="medicationNone" >None Reported</div>
				</div>
				
			</div>
			<div>
				<p class="intakeParagraph"> {{reportSubjective}}</p>
			</div>
			
		</div>	
		
		<div class="reportObjective">
			<div class="objectiveTitle" ><b>OBJECTIVE</b></div>
			<div class="objectiveUnderline">	</div>		
			<div>
				<p> {{reportObjective}}</p>
			</div>		
		</div>	
		
		<div class="reportObjective">
			<div class="objectiveTitle" ><b>ASSESSMENT</b></div>
			<div class="objectiveUnderline">	</div>		
			<div>
				<p> {{reportAssessment}}</p>
			</div>		
		</div>	
		
		<div class="reportObjective">
			<div class="objectiveTitle" ><b>PLAN</b></div>
			<div class="objectiveUnderline">	</div>		
			<div>
				<p> {{reportPlan}}</p>
			</div>		
		</div>	
		
		<div class="reportObjective">
			<div class="objectiveTitle" ><b>RX</b></div>
			<div class="objectiveUnderline">	</div>		
			<div>
				<p>{{reportrx}}  </p>
			</div>		
		</div>
		
		<div class="reportObjective">
			<div class="objectiveTitle" ><b>CHAT TRANSCRIPT</b></div>
			<div class="objectiveUnderline"> </div>		
			<div>
				<p>None Reported</p>
			</div>		
		</div>	

		<div class="reportObjective">
			<div class="objectiveTitle" ><b>FILE  ATTACHMENT</b></div>
			<div class="objectiveUnderline"></div>		
			<div>
				<p>None Reported</p>
			</div>		
		</div>	
		
		
		<div ng-click="EnableBackButton()" class="reportDOne">
			<button class="button button-block button-balanced ReportButton">
				<b style="top: 4px;position: relative;">Done</b>  
			</button>
		</div>
	</div>
</ion-content>

</ion-view>
		



