
<ion-side-menus>
	<ion-side-menu-content>

	<ion-header-bar align-title="left" class="bar-positiveHomeUser headerheight" style="background-color:{{brandColor}};border-color:{{brandColor}};{{backgroundimage}};">

	<div class="buttons" >
		<button class="button icon button-clear ion-navicon-round  {{menuiconIOS}}" id="BackButtonIcon" style="{{MenuInnerStyle}} {{MenuIconBottom}}"
				ng-click="toggleLeft()"></button>
	</div>


<h1  class="chronic {{title_patient}} {{HeaderList}} {{intakeTittle}}">
          <span> Appointments </span>
          <span class="headerval" ><i class="icon ion-search"></i></span>
         </h1>

<div class="bar bar-subheader bar-dark subheaderheight" >
                  <div class="row">
                     <h1 class="headertitle"><div class="ellipsis subHeader_content_name" >
					  <span class="PatintHeaderFontStyle patientName ellipsis fnamefont">{{PatientFirstName}}</span>
				      <span class="patientLastName ellipsis lnamefont" >{{PatientLastName}}</span>
				     </div></h1>
                </div>

         <div class="item item-image-icon itemiconcolor">

         <a class="rightpatient" ng-href="#/tab/userAccount">
               <i class="icon ion-home headerlefticons" style=""></i>
               <p class="homecontent">Account Home</p>
          </a>
           <a class="item-avatar itemhead">
               <p><img ng-src="{{PatientImageSelectUser}}" class="topimage"></p>
           </a>
           <a class="rightpatient" ng-href="#/tab/userhome">
               <i class="icon ion-ios-people headerrighticon" style=""></i>
               <p class="patientcontent" >Change Patient</p>
           </a>
   </div>

   <div class="row">

       <div class="buttons backbtn">
		    <button class="button icon button-clear ion-navicon-round  {{menuiconIOS}}" style="display: none;">
			</button>
	</div>
        <div class=" button-bar">
          <label class="button button-small btcolor btn-first btnclass"  id="users" ng-click="user()"> This Patient</label>
          <label class="button button-small btnextcolor btn-first tabcontent btnclass" id="allusers" ng-click="alluser()">All</label>

    </div>

       <div class="buttons backbtn">
		 <button class="button icon button-clear ion-navicon-round  {{menuiconIOS}}" style="display: none;">
		 </button>
	  </div>
   </div>


</div>

</ion-header-bar>


<ion-view title="Appointment Details">
 <ion-content class="appiconcontent">
	 <div><ion-refresher on-refresh="doRefresh()"  >
    </ion-refresher></div>
     <div ng-hide="addmore">
           <div class="list listfirst" >
					<a class="item item-avatar avatheight" style=" background-color: {{timerCOlor}};"  ng-repeat="scheduledListData in getIndividualScheduleDetails"  ng-click="GoToappoimentDetails(scheduledListData)" ng-show="$first">
				     <img class="apptimage" ng-src="{{PatientImageSelectUser}}">
            <h2 class="aptsname">Next Appointment</h2>
            <p class="appmarg">
                <span class="fontcolor regularfamily"> View Details </span><span><i class="icon ion-chevron-right fontcolor" style="font-size:3px;margin-left:8px;"></i></span>
              </p>
              <h4><span class="fname">{{scheduledListData.scheduledTime | date: "MMM dd"}}</span> <span class="fontsymbol"> @ </span><span class="fname">{{scheduledListData.scheduledTime | date: "hh:mm"}}</span> <span class="fonttime">{{scheduledListData.scheduledTime | date: "a"}}</span> </h4>
        </a>

					<a class="item item-avatar appitem" ng-repeat="scheduledListData in getIndividualScheduleDetails" ng-click="GoToappoimentDetails(scheduledListData)" ng-hide="$first">
            <img class="apptimage" ng-src="{{PatientImageSelectUser}}">
           <h4 class="appalign"><span class="fname">{{scheduledListData.scheduledTime | date: "MMM dd"}}</span> <span class="fontsymbol"> @ </span><span class="fname">{{scheduledListData.scheduledTime | date: "hh:mm"}}</span> <span class="fonttime"> {{scheduledListData.scheduledTime | date: "a"}}</span>
            <p class="appfloat">
                <span class="fontcolor regularfamily"> View Details </span><span><i class="icon ion-chevron-right fontcolor" style="font-size:3px;margin-left:8px;"></i></span>
              </p>
           </h4>
         </a>
				 <ion-item ng-if="!getIndividualScheduleDetails.length" class="noResult" style="white-space: normal;" >There is no Scheduled Consultations!</ion-item>

 </div>
   </div>

   <div ng-hide="healthhide">
        <div class="list listall">

        <a class="item item-avatar avatheight" ng-repeat="scheduledListData in scheduledList"  ng-click="GoToappoimentDetails(scheduledListData)" ng-show="$first" >
             <img class="apptimage" src="img\patient.png">
            <h2 class="aptsname">Next Appointment</h2>
             <p class="appmarg">
                <span class="fontcolor regularfamily"> View Details </span><span><i class="icon ion-chevron-right fontcolor" style="font-size:3px;margin-left:8px;"></i></span>
              </p>
								<h4><span class="fname">{{scheduledListData.scheduledTime | date: "MMM dd"}}</span> <span class="fontsymbol"> @ </span><span class="fname">{{scheduledListData.scheduledTime | date: "hh:mm"}}</span> <span class="fonttime">{{scheduledListData.scheduledTime | date: "a"}}</span> </h4>
          </a>

        <a class="item item-avatar appitem" ng-repeat="scheduledListData in scheduledList" ng-click="GoToappoimentDetails(scheduledListData)" ng-hide="$first">
            <img class="apptimage" src="img\patient.png">
					 <h4 class="appalign"><span class="fname">{{scheduledListData.scheduledTime | date: "MMM dd"}}</span> <span class="fontsymbol"> @ </span><span class="fname">{{scheduledListData.scheduledTime | date: "hh:mm"}}</span> <span class="fonttime"> {{scheduledListData.scheduledTime | date: "a"}}</span>
            <p class="appfloat">
                <span class="fontcolor regularfamily"> View Details </span><span><i class="icon ion-chevron-right fontcolor" style="font-size:3px;margin-left:8px;"></i></span>
              </p>
           </h4>
         </a>
				  <ion-item ng-if="!scheduledList.length" class="noResult" style="white-space: normal;" >There is no Scheduled Consultations!</ion-item>

   </div>
   </div>




    </ion-content>



</ion-view>



<ion-tabs  class=" tabs-icon-top tabs-dark">

   <a class="tab-item " ng-href="#tab/relatedusers">
    <i class="icon ion-person-stalker tabfont"></i>
   User
  </a>
  <a class="tab-item"  ng-href="#tab/consultations">
    <i class="icon ion-card tabfont"></i>
    Consultations
  </a>
  <a class="tab-item " ng-href="#tab/healthinfo">
    <i class="icon ion-android-clipboard tabfont"></i>
    My Health
  </a>

<a class="tab-item active" ng-href="#tab/appointmentpatientdetails">
    <i class="icon ion-calendar tabfont"></i>
    Appointments
  </a>
<a class="tab-item" ng-href="#tab/profileoption">
    <i class="icon ion-more tabfont"></i>
    More
  </a>
 </ion-tabs>
</ion-side-menu-content>
<!--Side Menu File Include --->
<div ng-controller="appoimentDetailsCtrl"></div>
<div style="display: none;"><timer end-time="time"  ></timer></div>
<div ng-include src="'templates/SideMenu.html'"></div>
