<ion-side-menus>
	<ion-side-menu-content> 

	<ion-header-bar align-title="left" class="bar-positiveHomeUser" style="height:128px !important;background-color:{{brandColor}};border-color:{{brandColor}};{{backgroundimage}};">

	<div class="buttons" > 
		<button class="button icon button-clear ion-navicon-round  {{menuiconIOS}}" id="BackButtonIcon" style="{{MenuInnerStyle}} {{MenuIconBottom}}"
				ng-click="toggleLeft()"></button>
	</div>
 
   
        <h1 style="margin-top:12px;" class="{{title_patient}} {{HeaderList}} {{intakeTittle}}"><span> Related Users </span> <span style="float:right;">
            <a ng-href="#tab/addnewuser" ><i class="icon ion-plus" style="color:white !important;"></i></span></h1>

    
<div class="bar bar-subheader bar-dark" style="top:64px;height:88px;">
                  <div class="row">
                     <h1 class="headertitle"><div class="ellipsis subHeader_content_name" >
					  <span class="PatintHeaderFontStyle patientName ellipsis fnamefont" >Jonathan</span>
				      <span class="patientLastName ellipsis lnamefont" >Fitzpztrick</span>
				     </div></h1>
                </div>
       
         <div class="item item-image-icon " style="background-color:#444444;">
          
           <a style="padding-left: 30px;">
               <i class="icon ion-home headerlefticons" style=""></i>
               <p class="homecontent">Account Home</p>
          </a>
           <a class="item-avatar itemhead">
               <p><img src="img\patient.png" class="topimage" style=""></p>
           </a>
           <a style="float:right;margin-top:-88px;">
               <i class="icon ion-ios-people headerrighticon" style=""></i>
               <p class="patientcontent" >Change Patient</p>
           </a>
   </div>
   
    <div class="row">
         
       <div class="buttons backbtn"  > 
		    <button class="button icon button-clear ion-navicon-round  {{menuiconIOS}}" style="display: none;">
			</button>
	</div>
        <div class=" button-bar">
          <label class="button button-small btcolor btn-first" ng-click="userslist()" id="users"> Co-Users</label>
          <label class="button button-small btnextcolor btn-first tabcontent" ng-click="dependentslist()" id="dependents">Dependents</label>
          <label class="button button-small btnextcolor btn-first tabcontent" ng-click="gaurdianslist" id="">Gaurdians</label>
    </div>
    
       <div class="buttons backbtn"  > 
		 <button class="button icon button-clear ion-navicon-round  {{menuiconIOS}}" style="display: none;">
		 </button>
	  </div>
   </div>
        				

</div>  
   
</ion-header-bar>


<ion-view title="">
	<ion-content style="margin-top:150px;">
    
    <div class="list couses animated slideInLeft " id="couserlist" style="margin-top:18px;" >
     
            <a class="item item-avatar" style="border-top:none;" type="item-text-wrap">
            <img src="img\ionic.png">
            <h2><span  class="fname">Elizabeth</span> <span  class="sname">Fitzpatrick</span></h2>
            <p class="fontcolor">Female.29 yrs.Spouse</p>
            </a>
           
         
           
           <a class="item item-avatar"  ng-show="!showActions" ng-swipe-right="showActions = true">
            <img src="img\patient.png">
            <h2><span class="fname">Colleen</span> <span class="sname">Fitzpatrick</span>  <i class="icon ion-chevron-right avataricon" style="color:#696969;font-size:18px;margin-top:12px;"></i> </h2>
            <p class="fontcolor">Female.29 yrs.Sister
            </p>
             </a>
        
          
         
<div class="row"  ng-show="showActions" ng-swipe-left="showActions = false">
   <div class="col col-25 archieve">
    <div>
     <div class="aligncenicon" style="margin-top:10px;">
      <i class="icon ion-ios-box" style="font-size:30px !important;"></i>
      <div style="font-size:12px;">  Archieve</div>
      </div>
      </div>
   </div>
  <div class="col col-75">
     <a class="item item-avatar"  style="border-right: none;width:105%;">
       <img src="img\patient.png">
        <h2><span class="fname">Colleen</span> <span class="sname">Fitzpatrick</span> </h2>
          <p>Female.29 yrs.Sister</p>
      </a>
  </div>
 </div>
</div>   
    
    
 <div class="list dependusers animated slideInRight" id="dependuserlist" style="margin-top:18px;" >
            <a class="item item-avatar" style="border-top:none;">
            <img src="img\ionic.png">
            <h2><span  class="fname">Angie</span> <span  class="sname">Fitzpatrick</span></h2>
            <p>Female.19 yrs.Daughter</p>
            </a>
           <div>
            <a class="item item-avatar"  ng-show="!showdnewetails" ng-swipe-right="showdnewetails = true">
            <img src="img\patient.png" >
            <span ng-click="showtab()">
            <h2><span class="fname">Robert</span> <span class="sname">Fitzpatrick</span> </h2>
            <p>Female.19 yrs.Son </p>
           </span>
             </a>
           </div>
             
           
           <div class="row"  ng-show='showdnewetails' ng-swipe-left="showdnewetails = false" >
    
  <div class="col col-25 archieve" ng-click='archieve()'>
    <div>
       <div class="aligncenicon" style="margin-top:10px;">
      <i class="icon ion-ios-box" style="font-size:30px !important;"></i>
      <div style="font-size:12px;">  Archieve</div>
      </div>
      </div>
   </div>
  <div class="col col-75">
     <a class="item item-avatar"  style="border-right: none;width:105%;">
       <img src="img\patient.png">
        <h2><span class="fname">Robert</span> <span class="sname">Fitzpatrick</span> </h2>
          <p>Female.19 yrs.Son</p>
      </a>
  </div>
 </div>
             
             
   
         <div class="row" style="background-color: #ccc; height:60px;" ng-show="tabview">
           <a class="col col-20 " style="background-color:#9bca82; height:80px;margin-left:-4px;min-width:90px;">
                  <div class="tabicon"> <i class="ion-chevron-down"></i></div>
                  <i class="icon ion-person-stalker contacticon "></i>
                   <p style="color:white;font-size:12px;margin-bottom:0px !important;">See a Doc Now</p> 
           </a>   
            
           <div class="col col-20" style="padding:0px;">
               <div  class="tabvalue">
             <i class="icon ion-eye-disabled" style="font-size:22px;"></i><div style="font-size:12px;">View Profile</div>
               </div>
          </div> 
          
          <div class="col col-25" style="width:73px;padding:0px;">
                <div  class="tabvalue">
             <i class="icon ion-calendar" style="font-size:22px;"></i><div style="font-size:12px;">Appointments</div>
                </div>
          </div>
          
           <div class="col col-20" style="width:73px;padding:0px;">
              <div  class="tabvalue">    
             <i class="icon ion-card" style="font-size:22px;"></i><div style="font-size:12px;">Consultations</div>
              </div>
          </div>
          
           <div class="col col-13" style="margin-left:5px;padding:0px;" ng-click="moreclickval()">
                <div  class="tabvalue">
             <i class="icon ion-more" style="font-size:22px;"></i><div style="font-size:12px;">More</div>
                </div>
          </div>   
          
         </div>
      
    
        <div class="row"   ng-show="moretab" style="height:60px;">
             
          <div class="col col-25 " style="background-color:#9bca82;" ng-click="hidemoretab()">
                  <p class="tabicon" style="margin-top:-10px!important;font-size:20px !important;"> <i class="ion-chevron-down"></i></p>
                  <div class="" style="margin-top:-12px;">
                    <i class="icon ion-more "  style="font-size:16px;margin-left: 23px;"></i>
                    <div><a style="margin-left: 19px;">More</a></div>
                  </div>
                  
           </div>   
            
           <div class="col col-35" style="background-color:#e3e3e3;max-width: 130px;" >
               <div  class="tabvalue">
                   <p class="" style="margin-left:5px;font-size:12px;">Status</p>
                <p class="avatarclass">
                    <i class="icon ion-chevron-right avatlefticon " style=""></i></p> 
            
                 <p class="contentalign" style="margin-top:10px;margin-left:-38px;">Authorized 
                    <i class="ion-thumbsup thumpsicon" ></i></p>
                
               </div> 
          </div> 
          
          <div class="col col-40" style="background-color:##ededed;">
           <div class="conticon">
                <p><a style="margin-left:3px;font-size:12px">Relationsship</a></p>
            </div>
                   <p style="margin-top:-12px;color:#6d6d6d;">Adobe Daughter
                        <i class="ion-chevron-right avataricon"  style=""></i>
                       </p>
          </div>
     
         </div>
      
          
       <a class="item item-avatar"    ng-click="authorizeduser()">
            <img src="img\patient.png">
            <h2><span class="fname">Sarah</span> <span class="sname">Pradesh</span> </h2>
            <p>Female.16 Step-Daughter</p>
         </a> 
          
          <a class="item authorizedval" ng-show="viewunauthorized" ng-click="addauthorized()">
    
          <p class="authorizedicon" style=""><i class="ion-chevron-down" style="font-size: 22px;"></i></p>
          
               <p style="font-size: 12px !important;">You are not authorized to view/manage this account 
           
               <span class="authorizedupdate" >update <i class="icon ion-chevron-right"></i></span> 
           
       </p>
      </a>
       
    <!--   
       
     <div class="row"  ng-show="authorizedview" style="
    margin-left: -5px;
    margin-top: -11px;">
             
          <div class="col col-25 authorizedval"  ng-click="">
                  <p class="tabicon"> <i class="ion-chevron-down"></i></p>
                  <div class="">
             
                   <p><a style="margin-left:6px;">update <i class="icon ion-chevron-right avatarlefticon "></i> </a>
                 
                   </p> 
                   </div>
                  
           </div>   
            
           <div class="col col-25" style="background-color: #ccc;" ng-click="showPopup()">
               <div  class="tabvalue" >
                 <a class="firstval">Status</a>
                 <p class="iconalign"><i class="icon ion-chevron-right avaticon "></i></p>
                  <div class="contentvalue"><p class="" style="font-size:14px;">UnAuthorized <i class="ion-thumbsdown" style="color:#888;" ></i></p></div> 
               </div> 
          </div> 
          
          <div class="col col-35" style="background-color:white;">
         
         
          <div  class="conticon">
                   <a class="" >Relationsship</a>
           
             <div class="contentvalue"><p class="" style="font-size:14px;">Step-Daughter <i class="ion-chevron-right avataricon" style="color:#888;" ></i></p></div> 
               </div> 
         
         
        
     
         </div>  
  
     </div> -->
     <div class="row"  ng-show="authorizedview" style="height:70px;margin-left:-5px;margin-top:-11px;">
             
          <div class="col col-25 authorizedval "  ng-click="hidemoretab()">
                  <p class="tabicon" style="margin-top:-10px!important;font-size:20px !important;"> <i class="ion-chevron-down"></i></p>
                  <div class="" style="margin-top:-12px;">
                       <p><a style="margin-left:6px;">update <i class="icon ion-chevron-right avatarlefticon "></i> 
                       </a>
                 
                   </p> 
                  </div>
                  
           </div>   
            
           <div class="col col-35" style="background-color:#e3e3e3;max-width: 130px;" ng-click="showPopup()">
               <div  class="tabvalue">
                   <p class="" style="margin-left:5px;font-size:12px;">Status</p>
                <p class="avatclass">
                    <i class="icon ion-chevron-right avaticon " style=""></i></p> 
            
                 <p class="contentalign" style="margin-top:15px;margin-left:-36px;">UnAuthorized 
                    <i class="ion-thumbsdown" style="float:right;margin-left:16px; font-size:22px"></i></p>
                
               </div> 
          </div> 
          
          <div class="col col-40" style="background-color:##ededed;">
           <div class="conticon">
                <p><a style="margin-left:3px;font-size:12px">Relationsship</a></p>
            </div>
                   <p style="margin-top:-12px;color:#6d6d6d;">Step-Daughter
                        <i class="ion-chevron-right avataricon"  style=""></i>
                       </p>
          </div>
     
         </div>
      
     
    </div>
        
	</ion-content>
    </ion-side-menu-content>
</ion-view>     


<ion-tabs  class=" tabs-icon-top tabs-dark">

   <a class="tab-item active" ng-href="#tab/relatedusers">
    <i class="icon ion-person-stalker tabfont"></i>
   User
  </a>
  <a class="tab-item"  ng-href="#tab/consultations">
    <i class="icon ion-card tabfont"></i>
    Consultations
  </a>
  <a class="tab-item " ng-href="#tab/healthinfo">
    <i class="icon ion-android-clipboard tabfont"></i>
    My Health
  </a>

<a class="tab-item" ng-href="#tab/appointmentpatientdetails">
    <i class="icon ion-calendar tabfont"></i>
    Appointments
  </a>
<a class="tab-item" ng-href="#tab/profileoption">
    <i class="icon ion-more tabfont"></i>
    More
  </a>
      </ion-tabs>