<div class="modal">
    <header class="bar bar-header bar-dark" style="height: 55px;">
      <h1 class="title" style="top: 7px;">Chronic Conditions</h1>
      <button class="button button-clear" ng-click="closeChronicCondition()" style="top: 7px;">Done</button>
    </header>

<ion-content has-header="true" style="margin-top: 52px;">
      
    <ion-list>
		<ion-checkbox ng-repeat="item in chronicConditionList"
						  ng-model="item.checked" 
						  ng-checked="item.checked" ng-click="OnSelectChronicCondition($index,PatientChronicCondition, item)" ng-disabled="checked" >
			  {{ item.text }}
		</ion-checkbox> 
	</ion-list>	

</ion-content>
  </div>
