<ion-side-menus>
    <ion-side-menu-content>

      <ion-header-bar align-title="left" class="bar-positiveHomeUser" style="background-color:{{brandColor}};border-color:{{brandColor}};{{backgroundimage}};">

           <div class="buttons">
               <button class="button icon button-clear ion-navicon-round  {{menuiconIOS}}" id="SearchBackButtonIcon" style="{{MenuInnerStyle}} {{MenuIconBottom}}" ng-click="toggleLeft()"></button>
           </div>

           <h1 class="{{title_patient}} {{HeaderList}} {{intakeTittle}}"> Consultations <span ><a class="headerval" ng-href="#tab/consultations" ><i class="icon ion-search" ></i></a></span></h1>


             <div class="bar bar-subheader csubheader">
                <div class="row">
                    <div class="buttons backbtn">
                        <button class="button icon button-clear ion-navicon-round  {{menuiconIOS}}" style="display: none;">	</button>
                    </div>
                    <div class=" button-bar">
                        <label class="button button-small btcolor btn-first " id="passedsearch" ng-click="passedsearchconsult()"> <span class="tabheading">Past</span></label>
                        <label class="button button-small btn-first btnextcolor" id="missedsearch" ng-click="missedsearchconsult()"><span class="tabheading">Missed</span></label>
                        <label class="button button-small btn-first btnextcolor" id="droppedsearch" ng-click="droppedsearchconsult()"><span class="tabheading">Dropped</span></label>

                    </div>

                    <div class="buttons backbtn">
                        <button class="button icon button-clear ion-navicon-round  {{menuiconIOS}}" style="display: none;">	 </button>
                    </div>
                </div>
            </div>

        </ion-header-bar>



        <ion-view title="">
          <ion-content ng-show="passedsearchshow" class="consultcontentsearch">
              <div class="csearch">
                  <h6 class="hsearch">
            <!-- <i class="icon ion-search fontcolor"></i>
            <span class="fontcolor">Search</span>-->
            <div class="search_home UserHmeSub concernListSearchHome">
            <label class="item-input popupstyleSearch SearchLabel-{{deviceName}}" style="{{PrimaryConcernPopupSearchBox}};">
            <input type="search" placeholder="Search" class="innerSearchPop SearchBox icon ion-search fontcolor" ng-model="searchQuery" >
            </label>
            </div>
            </h6>
              </div>

              <div class="row sheader">
                  <div class="col col-30 dsheader">Date</div>
                  <div class="col col-20 csheader">Time</div>
                  <div class="col col-30 csheader">Provider</div>
                  <div class="col col-25 "></div>

            </div>
            <hr style="margin-top: 0px; margin-bottom: 0px;color:#b5b5b5;">
              <div><ion-refresher on-refresh="doRefresh()"  ></ion-refresher></div>
  <div >
  <div class="row rowalign" ng-repeat="passedData in filteredItems=(Passedconsultations  | filter: searchQuery)">
                        <div class="row" >
                            <div class="col col-30 sfont">
                                <p class="colfamily">{{ passedData.consultationDate }} </p>
                            </div>
                            <div class="col col-20">
                                <p class="colfamily">{{ passedData.consultationTime}}</p>
                            </div>
                            <div class="col col-30">
                                <p>
                                    <span class="colfamily">{{ passedData.assignedDoctorName }}</span>
                                  <!--  <span class="vreport" ng-click="showReportView({{passedData}});">View Report</span><span><i class="icon ion-chevron-right right-icon"></i></span>-->
                                </p>
                            </div>
                            <div class="col col-20">
                              <span class="contright"  ng-click="showReportView({{passedData}});">Report
                              <span><i class="icon ion-chevron-right"></i></span></span>

                            </div>
                        </div>

                    </div>


                </div>
  <div class="searchdata noResult" style="white-space: normal;" ng-show="(Passedconsultations | filter:searchQuery).length==0">No Passed Search Consultations Found</div>
</ion-content>
<ion-content ng-show="missedsearchshow" class="consultcontentsearch">
  <div class="csearch">
      <h6 class="hsearch">
<!-- <i class="icon ion-search fontcolor"></i>
<span class="fontcolor">Search</span>-->
<div class="search_home UserHmeSub concernListSearchHome">
<label class="item-input popupstyleSearch SearchLabel-{{deviceName}}" style="{{PrimaryConcernPopupSearchBox}};">
<input type="search" placeholder="Search" class="innerSearchPop SearchBox icon ion-search fontcolor" ng-model="searchQuery" >
</label>
</div>
</h6>
  </div>

  <div class="row sheader">
      <div class="col col-30 dsheader">Date</div>
      <div class="col col-20 csheader">Time</div>
      <div class="col col-30 csheader">Provider</div>
      <div class="col col-25 "></div>

</div>
    <hr style="margin-top: 0px; margin-bottom: 0px;color:#b5b5b5;">
  <div><ion-refresher on-refresh="doRefresh()"  ></ion-refresher></div>
                <div >
                    <div class="row rowalign" ng-repeat="misseddata in missedlist  | filter: searchQuery">
                        <div class="row">
                            <div class="col col-30 sfont">
                                <p class="colfamily">{{misseddata.enddate | date: "MMMM dd, yyyy"}}</p>
                            </div>
                            <div class="col col-20">
                                <p class="colfamily">{{misseddata.time}}</p>
                            </div>
                            <div class="col col-30">
                                <p><span class="colfamily" ng-if="!misseddata.docname">NA</span>
                                <span class="colfamily" ng-if="misseddata.docname">{{misseddata.docname}}</span>
                            </div>
                            <div class="col col-25">
                              <span class="contright"  ng-click="showReportView({{misseddata}});">Report
                              <span><i class="icon ion-chevron-right"></i></span></span>

                            </div>
                        </div>


                </div>
                </div>
                      <div class="searchdata noResult" style="white-space: normal;" ng-show="(missedlist | filter:searchQuery).length==0">No Missed Search Consultations Found</div>
                </ion-content>
                <ion-content ng-show="droppedsearchshow" class="consultcontentsearch">
                  <div class="csearch">
                      <h6 class="hsearch">
           <!-- <i class="icon ion-search fontcolor"></i>
            <span class="fontcolor">Search</span>-->
             <div class="search_home UserHmeSub concernListSearchHome">
         <label class="item-input popupstyleSearch SearchLabel-{{deviceName}}" style="{{PrimaryConcernPopupSearchBox}};">
          <input type="search" placeholder="Search" class="innerSearchPop SearchBox icon ion-search fontcolor" ng-model="searchQuery" >
          </label>
    </div>
         </h6>
                  </div>

                  <div class="row sheader">
                      <div class="col col-30 dsheader">Date</div>
                      <div class="col col-20 csheader">Time</div>
                      <div class="col col-30 csheader">Provider</div>
                      <div class="col col-25 "></div>

                </div>
                    <hr style="margin-top: 0px; margin-bottom: 0px;color:#b5b5b5;">
<div><ion-refresher on-refresh="doRefresh()"  ></ion-refresher></div>
                <div >

                    <div class="row rowalign" ng-repeat="droppedData in Droppedconsultations  | filter: searchQuery">
                        <div class="row">
                            <div class="col col-30 sfont">
                                <p class="colfamily">{{droppedData.consultationDate}}</p>
                            </div>
                            <div class="col col-20">
                                <p class="colfamily">{{droppedData.consultationTime}}</p>
                            </div>
                            <div class="col col-30">
                                <p>
                                    <span class="colfamily">{{droppedData.assignedDoctorName}}</span>

                                </p>
                            </div>
                            <div class="col col-25">
                              <span class="contright"  ng-click="showReportView({{droppedData}});">Report
                              <span><i class="icon ion-chevron-right"></i></span></span>

                            </div>
                        </div>


                    </div>



                </div>
<div class="searchdata noResult" style="white-space: normal;" ng-show="(Droppedconsultations | filter:searchQuery).length==0">No Dropped Search Consultations Found</div>

            </ion-content>
            <!--- Dropped Consult End--->



    </ion-side-menu-content>
    <div ng-include src="'templates/SideMenu.html'"></div>
    </ion-view>


    <ion-tabs class=" tabs-icon-top tabs-dark">

        <a class="tab-item " ng-href="#tab/relatedusers" ng-click="doGetListOfCoUsers()">
            <i class="icon ion-person-stalker tabfont"></i> Users
        </a>
        <a class="tab-item active" ng-href="#tab/consultations">
            <i class="icon ion-card tabfont"></i> Consultations
        </a>
        <a class="tab-item " ng-href="#tab/healthinfo">
            <i class="icon ion-android-clipboard tabfont"></i> My Health
        </a>

        <a class="tab-item" ng-href="#tab/appointmentpatientdetails">
            <i class="icon ion-calendar tabfont"></i> Appointments
        </a>
        <a class="tab-item" ng-href="#tab/profileoption">
            <i class="icon ion-more tabfont"></i> More
        </a>
    </ion-tabs>
