<ion-side-menus>
	<ion-side-menu-content> 
		<!--<div ng-include src="'templates/intakeHeader.html'"></div> -->
		
		<ion-header-bar align-title="left" class="bar-positiveHomeUser" >
		<div class="buttons" >
					<button class="button icon button-clear ion-navicon-round"
							ng-click="toggleLeft()" style="color:#000; margin-top:10px;margin-top: 10px;"></button>
		</div>
		 <h1 class="title_patient" style="font-size: 24px; text-align: center;width: 100%;">Intake Form</h1>
			<div class="bar patient_subHeader">
			<div style="margin-left:10px;">
				<div class="subHeader_image" style="margin-top: -5px;">
					<img src="img/PatientImg.png" style="width:50px; margin-left:-11px;" />
				</div>
				<div class="subHeader_content" style="position:absolute;margin-top:10px;">
					    <div style="font-size: 20px;margin-left: 13px;">
							<span style="font-weight: bold;margin-top: 5px;" class="PatintHeaderFontStyle">Merida</span> 
							<span class="PatintHeaderFontStyleInner">Ariadnae</span>
						</div>
						<div style="font-size: 13px;margin-left: 13px;" class="PatintHeaderFontStyleSub" >
							Age 14 | Guardian Benjamin Ross
						</div>
				</div>
			</div>
	</div>
		
	</ion-header-bar>
		
		
	<ion-view title="Add Health Plan">
	<div class="consultCharge_subHeader PatintHeaderFontStyle" style="top:-15px;" >
		<span style="color:#666666;font-size:27px;margin-top:10px;">Payment</span>
	</div>
	
	<ion-content style="margin: 180px 0 0 4%; padding-top: 25px;" >
		<div class="password_home">
		
			<div class="consultation_head RegularFontStyle" >
				<div style="color:#000000;">Consultation Charge</div>
				<div class="consultation_number" style="color:#666666;"> $60*</div>
			</div>
			
			<div class="healthPlan_header" >
				<div class="healthPlan_text" >Select health plan</div>
				<a ng-href="#/tab/planDetails"><div class="addHealthPlan_header" >
					<img ng-src="img/add.png"><span class="addHealthPlan_text" >Add a health plan</span>
				</div></a>
			</div>
			
			<div style="padding-top: 15px;">
				<a style="text-decoration: none;" ng-href="#/tab/consultChargeNoPlan"><button class="button button-block button-royal">
				  Skip to Payment
				</button></a>
			</div>
			<div class="scheduled_appointments_text" >
				Don't add a health plan, pay full charge directly.
			</div>
		</div>
	</ion-content>
</ion-side-menu-content>	
 <!--Side Menu File Include --->
<div ng-include src="'templates/SideMenu.html'"></div>
</ion-view>	
	<!--<div ng-include src="'templates/consultCharge_footer.html'"></div> -->
	
<div class="hide-on-keyboard-open">
		<ion-footer-bar align-title="left" class="footer">
			<div class="buttons" style="width: 50%; margin-top: -3px;">
				<a class="button_new icon ion-chevron-left" style="cursor: pointer;" ng-click="myGoBack()" > Back </a>
			</div>
			<div class="buttons">
				<a style="text-decoration: none; color: #fff; font-size: 18px; margin-top: 5px; font-weight: normal; cursor: pointer;" ng-click="myGoBack()" > Cancel </a>
			</div>
		</ion-footer-bar> 
</div>
