
<ion-view title="Waiting Room">	
<ion-side-menus>
	<ion-side-menu-content> 
		<div ng-include src="'templates/waitingRoomHeader.html'"></div> 

	
<ion-content class="waitingRoomImage" style="margin: 117px 0 0 0; padding-top: 100px; "   >
		<div  >
		
			<a ng-href="#/tab/ReportScreen" style="color: #858585;"><div style="font-size: 32px; text-align: center; padding-top: 40px;">
				<div style="padding-top: 25px; line-height: normal;">The Clinician will be with you Shortly</div> 
				<div style="padding-top: 25px; color: #CECECE; font-size: 20px;">Thank you for your patience.</div>
			</div>
			</a>
			
		</div>
	</ion-content>
	
</ion-side-menu-content>	
 <!--Side Menu File Include --->
<div ng-include src="'templates/SideMenu.html'"></div>
</ion-view>	>
