<ion-side-menus>
	<ion-side-menu-content> 
<ion-header-bar align-title="left" class="bar-positiveHomeUser">
  
 <div class="buttons" >
					<button class="button icon button-clear ion-navicon-round"
							ng-click="toggleLeft()" style="color:#000;margin-top: 7px;"></button>
  </div>
  <h1 class="title_patient" style="font-size: 24px; text-align: center; width: 100%;">Patient List</h1>
 
  
 <div class="bar bar-subheaderHomeUser">

			<div class="TitleHomeUser_Sub">Who needs care today?</div>
			<div style="top: 10px; float:right; width:10%;">
			<img ng-src="img/search.png" style="float:right;margin-right: 15px; width: 20px;">
			</div>

</div> 
   
</ion-header-bar>
<ion-view title="User Search">
<ion-content class="ContentHomeUser ContentSearchHomeUser" >


 	<ion-list>
		<ion-item style="padding:11px; top: 0px;" class="search_home">
			<label class="item-input" >
					<input type="search" placeholder="Search" >
            </label>
			
		</ion-item>
		
	
		
		<ion-item style="padding:11px;top: 0px;  height: 80px;">
			 <a class="HrefListView"  href="#/tab/patientDetail">   
				<img ng-src="img/IMG_2.png" class="listImgView">
				<span class = "ListText"><b>{{patientInfomation.patientName}}</b> <span class="SubTitleSpan">{{patientInfomation.lastName}}</span></span>
				<p class="ListHomeUser_p DateFormateStyle" style="margin-left: 83px;">Age {{patientInfomation.age}}  | Guardain : {{patientInfomation.guardianName}}</p>
				<!--<list class="ion-chevron-right ListLinkHref" style="color:#888;margin-top: -33px;"></list> -->
			 </a>
		</ion-item >
		<ion-item style="padding:11px;  top: 0px;  height: 80px;" ng-repeat="dependentDetails in dependentDetails">
			 <a class="HrefListView"  href="#/tab/patientDetail">   
				<img ng-src="img/IMG_2.png" class="listImgView">
				<span class = "ListText"><b>{{dependentDetails.patientName}}</b> <span class="SubTitleSpan">{{dependentDetails.lastName}}</span></span>
				<p class="ListHomeUser_p DateFormateStyle" style="margin-left: 83px;">Age {{dependentDetails.age}} | Guardain : {{dependentDetails.guardianName}}</p>
				<!--<list class="ion-chevron-right ListLinkHref" style="color:#888;margin-top: -33px;"></list>-->
			 </a>
		</ion-item> 
		<!--<ion-item style="padding:11px;  top: 0px;  height: 80px;">
			 <a class="HrefListView"  href="#/tab/patientDetail">   
				<img ng-src="img/IMG_2.png" class="listImgView" >
				<span class = "ListText"><b>Elizabeth</b> <span class="SubTitleSpan">Sinai</span></span>
				<p class="ListHomeUser_p DateFormateStyle" style="margin-left: 83px;">Age 14 | Guardain : Banjamin Ross</p>
				<list class="ion-chevron-right ListLinkHref" style="color:#888;margin-top: -33px;"></list>
			 </a>
		</ion-item>-->
		
	</ion-list>
	
	
	
</ion-content>
</ion-side-menu-content>	
 <!--Side Menu File Include --->
<div ng-include src="'templates/SideMenu.html'"></div>
</ion-view>	>
<!--<ion-footer-bar align-title="left" class="bar-assertive" style="background-color:#fff;border-top: none;">
 
</ion-footer-bar> -->

