
<div class="animated slideInRight">

<ion-side-menus>
	<ion-side-menu-content>

	<ion-header-bar align-title="left" class="bar-positiveHomeUser headerheight" style="background-color:{{brandColor}};border-color:{{brandColor}};{{backgroundimage}};">



	<div class="buttons" >
		<button class="button icon button-clear ion-navicon-round  {{menuiconIOS}}" id="BackButtonIcon" style="{{MenuInnerStyle}} {{MenuIconBottom}}"
				ng-click="toggleLeft()"></button>
	</div>
	 <h1 class="{{title_patient}} {{HeaderList}} {{intakeTittle}}"><span> Related Users </span> <span style="float:right;">
            <a class="headerval" ng-href="#tab/relatedusers">Cancel</a></span></h1>

	<div class="bar bar-subheader bar-dark usersubheader" >
                  <div class="row">
                      <h1 class="headertitle">
                          <div class="ellipsis subHeader_content_name" >
					       <span class="PatintHeaderFontStyle patientName ellipsis fnamefont">{{currentPatientDetails[0].patientName}}</span>
					      <span class="patientLastName ellipsis lnamefont" >{{currentPatientDetails[0].lastName}}</span>
				        </div>
                     </h1>
                  </div>

    <div class="item item-image-icon " style="background-color:#444444;">

          <a class="lefthome" ng-href="#/tab/userAccount">
               <span class="subHeadIcons"><i class="icon ion-home headerlefticons" ></i></span>
               <p class="homecontent">Account Home</p>
          </a>
           <a class="item-avatar itemhead">
               <p><img src="{{PatientImageSelectUser}}" class="topimage" style=""></p>
           </a>
            <a class="rightpatient" ng-href="#/tab/userhome">
               <span class="subHeadIcons"><i class="icon ion-ios-people headerrighticon"></i></span>
               <p class="patientcontent" >Change Patient</p>
           </a>
   </div>
  </div>




</ion-header-bar>

<ion-view title="">

	<ion-content class="newusercontent">

        <ion-list>
           <ion-item class="iionitem item newuserdetails" style="">

                  <p class="newuserp"><i class="fontcolor icon ion-person-add" style="font-size:50px;"></i></p>
                  <div class="newusertopcontent">
                     <h2 class="newusertoph2"><p class="fontcolor usertopfont">Add A New User</p>
                      <p class="topp regularfamily">Select a user type to add</p>
                     </h2>
                  </div>

         </ion-item>


        <!-- <ion-item class="iionitem" ng-click="addcouser()">
           <div class="card shadowcard">
              <div class="item item-text-wrap">
                    <div class="" style="text-align:center;">
                       <h2 class="title alignedchronic ChronicCondition ">
                         <a class="fontcolor" style="font-size:20px;"> Invite A Co-User</a>
                        </h2>
				      </div>
                 </div>
              </div>
         </ion-item>

          <ion-item class="iionitem" ng-click="adddependent()" >
           <div class="card shadowcard">
              <div class="item item-text-wrap">
                    <div class=" chronictext">
                       <h2 class="title alignedchronic ChronicCondition ">
                         <a class="fontcolor" style="font-size:20px;">Add A Dependent</a>
                        </h2>
				      </div>
                 </div>
              </div>
         </ion-item>-->

				 <ion-item class="ionicitem userionitem" ng-click="addcouser()" style="padding: 40px 10px !important;">
					 <div class="cardshadow">
						 <div class="item-text-wrap itemtextwap">

								 <h2 class="title alignchronic ChronicCondition" >

									 <span class="content addUser-{{deviceName}}">
									Invite A Co-User
									 </span>
								 </h2>

						 </div>
					 </div>
				 </ion-item>

				 <ion-item class="ionicitem userionitem" ng-click="adddependent()" style="padding: 44px 10px !important;">
					 <div class="cardshadow">
						 <div class="item-text-wrap itemtextwap">

								 <h2 class="title alignchronic ChronicCondition" >

									 <span class="content addUser-{{deviceName}}">
								Add A Dependent
									 </span>
								 </h2>

						 </div>
					 </div>
				 </ion-item>


	</ion-list>


  </ion-content>


<div class="bar bar-footer addheight" style="background-color:#484848;">
   <!--  <a class="button button-calm" ng-href="#/tab/userAppointment"><span>Next</span></a>-->
   <h1 class="title" id="centercolor" style="margin-top: 5px !important;" ><a ng-href="#tab/relatedusers" style="padding: 10px;">Cancel</a></h1>
</div>

</ion-side-menu-content>
<!--Side Menu File Include --->
<div ng-include src="'templates/SideMenu.html'"></div>

</ion-view>

</ion-side-menus>
</div>
