<ion-view title="Verifying Card">
	<!--<div ng-include src="'templates/planDetails_header.html'"></div>-->
	
	<ion-header-bar align-title="left" class="bar-positiveHomeUser" style="height: 58px;" >
		<!--<div style="color: #fff; font-size: 17px; line-height: 3; margin-left: 15px; width: 25%;" >
			<a style="padding-top: 10px; cursor: pointer; color: #fff;" ng-href="#/tab/consultCharge" >Cancel</a>
		</div>-->
				
		 
		 
		 
		 <div class="buttons" >
			<a class="button_new icon" ng-href="#/tab/consultCharge" style="padding-top: 14px; font-weight: bold; cursor: pointer; width: 68px;" >
				<span style="margin-top:7px; position:absolute;">Cancel</span>
			</a>				
		  </div>
		<h1 class="title_patient"></h1>
		<div class="buttons" >
			<a class="button_new icon" ng-click="doGetPatientPaymentProfiles()" style="padding-top: 14px; font-weight: bold; cursor: pointer; width: 68px; position: absolute; right: 0px;" >
				<span style="margin-top:7px; position:absolute;">Next</span>
			</a>				
		  </div>
		 
		 
		 <!--<div style="color: #fff; font-size: 17px; line-height: 3; width: 91%; text-align: right; margin-right: 15px;" >
			<a style="padding-top: 10px; cursor: pointer; color: #fff;" ng-click="doGetPatientPaymentProfiles();" >Next</a>
		</div>-->
	</ion-header-bar>
	
		
	<ion-content class="planDetails_content" >
		<div>		
			<div class="healthPlan_text" style="padding-top: 35px;">
				Verifying Card			
			</div>			
			
			<div style="padding-top: 30px; padding-bottom: 20px;" >		
			</div>
			
			<div class="list" >
			  <label class="item item-input" >
				<span class="input-label" >Name</span>
				<input type="text" placeholder="Payment" ng-model="FirstName" style="font-size: 18px;">
			  </label>
			  <label class="item item-input">
				<span class="input-label" >Card Number</span>
				<input type="number" placeholder="Required" ng-model="CardNumber" style="font-size: 18px;">
			  </label>
			  <label class="item item-input" >
				<span class="input-label" >Expiration Date</span>
				<!--<input type="date" placeholder="Required" >-->
				<input placeholder="Required" style="font-size: 18px;" type="text" onfocus="(this.type='date')"  id="date"> 
			  </label>
				<label class="item item-input" >
				<span class="input-label" >Security Code</span>
				<input type="password" placeholder="Required" ng-model="Cvv" style="font-size: 18px;">
			  </label>
			</div>
			
			<div class="planDetails"  >
				<p>When you add a health plan, information about your plan will be sent to your provider for verification.</p>
			</div>
			<div class="privacy" >About Connected Care Privacy</div>
		</div>
	</ion-content>

	
</ion-view>
