<div class="Server_Error ErrorMessageDiv" ></div>
<ion-view title="Receipt">

		<div ng-include src="'templates/receiptHeader.html'"></div> 
	
	
	<ion-content class="ReceiptContent"  >
		<div>
			<div class="healthPlan_header"  style="padding-top: 50px;" >
				<img ng-src="img/success-badge.svg" style="width: 150px; height: 148px;">				
			</div>
			<div class="PaymentSuccess" style="display: {{enablePaymentSuccess}}">
				Payment Successful
				<div class="PaymentConfirmation" >
					Confirmation #{{paymentConfirmationNumber}}
						<div class="ConfirmationReceipt">
							A receipt has been sent to you via email
						</div>
				</div>
			</div>			
			
			
			<div class="EnterWaitingRoom">
				<!--<a ng-href="#/tab/waitingRoom">-->
				<button type="submit" on-touch ='doGetWaitingRoom()' class="button button-block button-balanced">
				  <span>Enter the Waiting Room</span>
				</button>				
						
				<!--</a>-->
			</div>
			
				<div class="ReceiptRedirect">
					You will be redirected to waiting room in 
					<b><timer end-time="ReceiptTime"  >{{seconds}} Sec</timer></b>
				</div>	
				
		</div>
	</ion-content>


</ion-view>	
