<ion-view title="Apply Plan">
<ion-side-menus>
	<ion-side-menu-content> 
		<div ng-include src="'templates/intakeHeader.html'"></div> 
	
	<div class="consultCharge_subHeader PatintHeaderFontStyle"  >
		<span>Payment</span>
	</div>
	
	<ion-content class="consultChargeNoPlanContent" >
		<div class="password_home">
		
			<div class="consultation_head RegularFontStyle consultChargeNoPlanText" >
				<div class="consultTittle">Consultation Charge</div>
				<div class="consultation_number"> $60*</div>
			</div>
			
			<div class="healthPlan_header" >				
				<div class="healthPlan_text NoPlanText" >Select Health Plan</div>
				<div class="addHealthPlan_header NoPlanAddCardDropdown" >					
					<div class="demo" >							
						<!--<select id="addHealthPlan" name="addHealthPlan" class="ellipsis">
								<option><b>Choose Your Health Plan</b></option>
								<option  ng-repeat="GetPlanList in patientHealthPlanList"><b><span class="ellipsis">{{GetPlanList.insuranceCompany}}</span><span class="ellipsis"> {{GetPlanList.policyNumber}}</span></b></option>
								<option><b>Add a new health plan</b></option>
						</select>-->
						<select id="addNewCard" name="addNewCard" data-ng-options="GetHealthPlan.insuranceCompany + ' ' + GetHealthPlan.policyNumber for GetHealthPlan in ApplyPlanPatientHealthPlanList" data-ng-model="SelectedHealthPlan" value="GetHealthPlan.insuranceCompany"></select>
						
					</div>
				</div>
			</div>			
			
			
			<div class="SkipToPayment">
				<!--<a ng-href="#/tab/addCard">-->
					<button type="submit" ng-click="doGetPatientPaymentProfiles()" class="button button-block button-balanced">
						<span>Apply Plan</span>
					</button>
				<!--</a>-->
			</div>
		</div>
	</ion-content>
</ion-side-menu-content>	
 <!--Side Menu File Include --->
<div ng-include src="'templates/SideMenu.html'"></div>

	<!--<div ng-include src="'templates/consultCharge_footer.html'"></div>
	
	<div class="hide-on-keyboard-open">
		<ion-footer-bar align-title="left" class="footer">
			<div style="width:100%;">
				<div class="" style="float:left; width:33%">
                    <a class="button_new icon ion-chevron-left" href="#/tab/planDetails" style="cursor: pointer;"><span style="  top: -2px;position: relative;">Back</span></a>
			</div>
						
			<div class="" style="text-align:center;float:left;width:33%;  margin-top: 7px;">
				<a class="button_new icon" href="#/tab/userhome" style=" color:#b8b8b8;cursor: pointer;">Cancel</a>
			</div>
						
			</div>
			
		</ion-footer-bar> 
	</div>-->
	
	
	<div class="hide-on-keyboard-open">
		<ion-footer-bar align-title="left" class="footer">			
			<div class="ConsultChargeFooter">
				<div class="ConsultChargeBack" >
                   <!-- <a class="button_new icon ion-chevron-left" href="#/tab/planDetails" ><span>Back</span></a>-->
				   <site-header back="Back"></site-header>
				</div>
						
				<div class="ConsultChargeCancel" >
					<a class="button_new icon" href="#/tab/userhome" >Cancel</a>
				</div>
						
			</div>
		</ion-footer-bar> 
	</div>
	
</ion-view>	
