<ion-view title="Card Details">
	<!--<div ng-include src="'templates/planDetails_header.html'"></div>-->
	
	<ion-header-bar align-title="left" class="bar-positiveHomeUser" >
	
	<div style="color: #fff; font-size: 17px; line-height: 3; margin-left: 7px;" >
		<a style="padding-top: 10px; cursor: pointer; color: #fff;" ng-href="#/tab/consultChargeNoPlan" >Cancel</a>
	</div>
	 <h1 class="title_patient"></h1>	
	 
	 <div style="color: #fff; font-size: 17px; line-height: 3; width: 91%; text-align: right;" >
		<a style="padding-top: 10px; cursor: pointer; color: #fff;"  ng-href="#/tab/verifyCard">Next</a>
	</div>
	
</ion-header-bar>
		
	<ion-content class="planDetails_content" >
		<div>		
			<a ng-href="#/tab/verifyCard"><div class="healthPlan_text" style="font-size: 37px;">
				Card Details			
			</div></a>			
			
			<div class="" style="  padding-top: 30px; padding-bottom: 20px; color: #5C5C5C; text-align: center; font-size: 20px; font-weight: bold;" >
				Enter your card information below
			</div>
			
			<div class="list" >
			  <label class="item item-input" >
				<span class="input-label" >Name</span>
				<input type="text" placeholder="Payment" style="font-size: 20px;">
			  </label>
			  <label class="item item-input">
				<span class="input-label" >Card Number</span>
				<input type="password" placeholder="Required" style="font-size: 20px;">
			  </label>
			  <label class="item item-input" >
				<span class="input-label" >Expiration Date</span>
				<input type="password" placeholder="Required" style="font-size: 20px;">
			  </label>
				<label class="item item-input" >
				<span class="input-label" >Security Code</span>
				<input type="password" placeholder="Required" style="font-size: 20px;">
			  </label>
			</div>
			
			<div class="planDetails"  >
				<p>When you add a health plan, information about your plan will be sent to your provider for verification.</p>
			</div>
			<div class="privacy" >About Connected Care Privacy</div>
		</div>
	</ion-content>

	
</ion-view>
