<ion-side-menus> >
	<ion-side-menu-content> 


		<div ng-include src="'templates/intakeHeader.html'"></div>
	
	<!-- <div ng-include src="'templates/healthPlan_header.html'"></div> -->
	
<ion-view title="Chronic Condition">
	<ion-content class="ContentHomeUser ConcernsContent" >
		<ion-list>
			<ion-item class="PrimaryList">
				<div class="Step1">Step <b>2</b> of <b>7</b></div>
				<div ng-click="loadChronicCondition();">
					<div class="PrimaryContent">
						<h1 class="title ChronicCondition">Chronic Conditions</h1>
						<p>List any chronic medical conditions.
							<br/>
							Select up to four 
						</p>
						<div><i class="ion-plus-circled addBtn"> </i></div>
					</div>
				</div>
			</ion-item>
			
		  
			
			 <ion-item ng-repeat="item in PatientChronicCondition">
				<div class="PrimaryConcernList">
					<p class="intakeNote">{{item.text}} </p>
					<div> <i class="ion-close-circled delBtn" ng-click="removeChronicCondition($index, item);" ></i></div>
				</div>
			</ion-item>
			
		</ion-list>
	</ion-content>
</ion-side-menu-content>	
 <!--Side Menu File Include --->
<div ng-include src="'templates/SideMenu.html'"></div>
</ion-view>


	<ion-footer-bar  class="footer">
		<div class="ConcernsFooter">
				 
			<div class="FooterLeft">
				<a class="button_new icon ion-chevron-left" href="#/tab/patientConcerns" style="cursor: pointer;"><span>Back</span></a>
			</div>
			
			<div class="FooterCenter">
				<a class="button_new icon" ng-click="clearRootScopeConce()">Cancel</a>
			</div>
			   
			<div class="FooterRight">
				<a class="button_new icon ion-chevron-right"   href="#/tab/priorSurgeries"> <span class="ConcernFooterNext">Next<span> </a>
			</div>
					  
		<div>
	</ion-footer-bar>
		
		
		
