<ion-view title="Add Health Plan">
<ion-side-menus>
	<ion-side-menu-content> 
		<div ng-include src="'templates/intakeHeader.html'"></div> 
	
	<div class="consultCharge_subHeader PatintHeaderFontStyle"  >
		<span>Payment</span>
	</div>
	
	
	
	<ion-content class="consultChargeNoPlanContent" >
		<div class="password_home">
		
			<div class="consultation_head RegularFontStyle consultChargeNoPlanText" >
				<div class="consultTittle">Consultation Charge</div>
				<div class="consultation_number"> $60*</div>
			</div>
			
			
			<div class="healthPlan_header" style="display: none;" >
				
				<div class="healthPlan_text NoPlanText" >Select Health Plan</div>
					<div class="addHealthPlan_header NoPlanAddCardDropdown" >					
						<div class="demo" >
							
							<select>
								<option class="ellipsis"><b>Blue Cross Blue ...0054</b></option>
								<option class="ellipsis"><b>Blue Cross Blue shield...0054</b></option>
								<option class="ellipsis"><b>Blue Cross Blue shield...0054</b></option>
							</select>
						</div>
					</div>
			</div>
			
			
			
			<div class="SkipToPayment" style="display: none;">
				<!--<a ng-href="#/tab/addCard">-->
					<button type="submit" ng-click="doGetPatientPaymentProfiles()" class="button button-block button-balanced">
						<span>Apply Plan</span>
					</button>
				<!--</a>-->
			</div>
			
			<!--<div class="healthPlan_header" style="padding-top: 40px; color: #5C5C5C; text-align: center; " >
				<div class="healthPlan_text" style="margin-left: 20px; padding-top: 30px; font-size: 16px; color: #888585; text-align: left;" >Select health plan</div>
				<a ng-href="#/tab/planDetails">
					<div class="addHealthPlan_header" style="text-align: left; margin-left: 20px;" >
						<img ng-src="img/add.png" style="width: 30px; height: 30px;" ><span class="addHealthPlan_text" >Add A Health Plan</span>
					</div>
				</a>
			</div>-->
			
			<div class="healthPlan_header AddCardNoPlan"  >
				<div class="healthPlan_text" style="margin-left: -80px;" >Select health plan</div>
				<a ng-href="#/tab/planDetails">
					<div class="addHealthPlan_header AddCard" >
						<img ng-src="img/add.png"  ><span class="addHealthPlan_text" >Add A Health Plan</span>
					</div>
				</a>
			</div>
			
			
			
			<div class="SkipToPayment">
				
				
				<!--<a style="text-decoration: none;" ng-href="#/tab/consultChargeNoPlan">-->
					<button class="button button-block button-royal"  type="submit" ng-click="doGetPatientPaymentProfilesConsultCharge()"  >
						<span> Skip to Payment</span>
					</button>
				<!--</a>-->
				
			</div>
			<div class="scheduled_appointments_text" style="" >
				Don't add a health plan, pay full charge directly.
			</div>
		</div>
	</ion-content>
</ion-side-menu-content>	
 <!--Side Menu File Include --->
<div ng-include src="'templates/SideMenu.html'"></div>

	<!--<div ng-include src="'templates/consultCharge_footer.html'"></div> -->	


		<div class="hide-on-keyboard-open">
		<ion-footer-bar align-title="left" class="footer">			
			<div class="ConsultChargeFooter">
				<div class="ConsultChargeBack" >
                    <a class="button_new icon ion-chevron-left" href="#/tab/consultCharge" ><span>Back</span></a>
				</div>
						
				<div class="ConsultChargeCancel" >
					<a class="button_new icon" href="#/tab/userhome" >Cancel</a>
				</div>
						
			</div>
		</ion-footer-bar> 
	</div>

</ion-view>	