
<ion-view>
    <div id="Error_Message" ></div>
	<ion-content class="register newPwd" style="background-color: {{brandColor}}">
		<div class="epassbg">
			<img ng-src="{{logo}}" />
			<!--<img ng-src="img/rinsoft.png">-->
			<h2 style="margin-top: -142px !important;"><span>{{hospitalName}}</span></h2>
		</div>

		<form ng-submit="doGetToken()">
			<div class="card" id="loginPwd">
					<div class="pwdPatImage"><img ng-src="img/PatientImg.png" style="display: none;"></div>
					<div class="regcontent">
						<h2>Hello</h2>
						<p>Please Enter Your Password</p>
					</div>
					<!--<div class="item-input-inset pwdTextbox">
						<label class="item-input-wrapper place">-->
            <div class="item-input-inset">
  						<label class="item-input-wrapper place loginPlace">
               <i style="color: #CBCBCB;" class="iconfontSVG" ng-bind-html="drawSVGCIcon('lock')"></i>
							<input type="password" placeholder="Password" ng-model="pass.password" id="password" style="padding-left: 13px;{{passwordLineHeight}}" ng-click="textboxUp();" >
						</label>
					</div>

					<div class="btn1">
						<button type="submit" class="button">
								Continue
						</button>


					</div>
			</div>
		</form>


		<div class="acinfo1-{{deviceName}}">
		<!--<h4 ><a ng-click="doPostSendPasswordResetEmail();"><span class="pwdForgot">Forgot your password?</span></a></h4>-->
    <h4 ng-click="doPostSendPasswordResetEmail();">Forgot your password?</h4>
		</div>

	</ion-content>

	<ion-footer-bar  class="footer" >
		<div class="ConcernsFooter">
			<div class="FooterLeft">
					  <a class="button_new icon ion-chevron-left terms_footer_a" ng-click="goBackProvider()"  ><span> Back</span></a>
			</div>
			<div class="FooterCenter" _ng-click="clearRootScopeConce()">
				<a class="button_new icon" href="#/tab/login"  >Cancel</a>
			</div>
		</div>
	</ion-footer-bar>

</ion-view>
