<ion-view title="Prior Surgeries">

<ion-header-bar align-title="left" class="bar-positiveHomeUser" >
		<div ng-include src="'templates/intakeHeader.html'"></div>
</ion-header-bar>
<!--
<ion-header-bar ng-controller="LoginCtrl" class="bar-positiveHomeUser"
            type="bar-positive"
            title="Demo"
            left-buttons="leftButtons" 
            right-buttons="rightButtons">
</ion-header-bar>
-->


<ion-view title="Appointment Details">
<ion-content class="ContentHomeUser">
 	<ion-list>
		<ion-item style="top: -2px;padding: 2px;">
			<span style="color:#888;float:right;margin-right: 10px;">Step <b>2</b> of <b>7</b></span>
			 <a ng-href="#/tab/MedicationAllegies"> <h1 class="title ChronicCondition">Prior Surgeries</h1></a>
			 <p style=" margin-top: -8px;margin-left: 19px;padding-bottom: 13px;">List any Prior Surgeries.</p>
	    </ion-item>
		
		<div class="modal">
   
    <ion-content has-header="true">
      
       
        <div class="padding">
        <div class="list">
          <label class="item item-input">
            <span class="input-label">Date</span>
            <input ng-model="date" type="text" ng-click="opendateModal()">
          </label>
          <label class="item item-input">
            <span class="input-label">Description</span>
            <input ng-model="model.description" type="text" placeholder="">
          </label>
          <label class="item item-input">
            <span class="input-label">Amount</span>
            <input type="number" ng-model="model.amount" placeholder="">
          </label>
          <button class="button button-full button-balanced" ng-click="save(model)">Save</button>
          
        </div>
        </div>
        
    </ion-content>
  </div>

		
</ion-content>

</ion-view>
		<div ng-include src="'templates/invokeFooter.html'"></div>

</ion-view>

