<ion-side-menus>
<ion-side-menu-content>
	<ion-header-bar align-title="left" class="homeheader bar-positiveHomeUser" style="height:128px !important;background-color:{{brandColor}};border-color:{{brandColor}};{{backgroundimage}};">
		<div class="buttons" >
			<button class="button icon button-clear ion-navicon-round  {{menuiconIOS}}" id="BackButtonIcon" style="{{MenuInnerStyle}} {{MenuIconBottom}}"
				ng-click="toggleLeft()"></button>
		</div>
		<h1 class="subcontent {{title_patient}} {{HeaderList}} {{intakeTittle}}" > <span>User</span></h1>
		<div class="bar bar-subheader bar-dark usersubheader">
			<div class="row">
				<h1 class="headertitle">
					<div class="ellipsis subHeader_content_name" >
						<span class="PatintHeaderFontStyle patientName ellipsis fnamefont" >{{PatientFirstName}}</span>
						<span class="patientLastName ellipsis lnamefont">{{PatientLastName}}</span>
					</div>
				</h1>
			</div>
			<div class="item item-image-icon" >
				<a class="lefthome">
					<i class="icon ion-home headerlefticons"></i>
					<p class="homecontent">Account Home</p>
				</a>
				<a class="item-avatar itemhead">
					<p><img src="{{PatientImageSelectUser}}" class="topimage"></p>
				</a>
				<a class="rightpatient">
					<i class="icon ion-ios-people headerrighticon"></i>
					<p class="patientcontent" >Change Patient</p>
				</a>
			</div>
		</div>
	</ion-header-bar>
	<ion-view title="User Account">
		<ion-content class="usercontent" >
			<ion-list >
				<div class="list userlist">
					<ion-item class="ionitem userionitem" >
						<div class="card cardshadow usercard">
							<div class="item item-text-wrap">
								
									<h2 class="title alignchronic ChronicCondition" >
										<span class="profileSpan">  <i class="ion-ios-person profileicon"></i></span>
										<span class="content">
										<a ng-href="#tab/healthinfo" >
										Manage Your Profile
										</a>
										</span>
									</h2>
								
							</div>
						</div>
					</ion-item>
					<ion-item class="ionitem userionitem" >
						<div class="card cardshadow usercard">
							<div class="item item-text-wrap">
								
									<h2 class="title alignchronic ChronicCondition" >
										<span class="profileSpan"><i class="ion-ios-calendar-outline profileicon"></i></span>
										<span class="content">
										<a ng-href="#tab/appointmentpatientdetails"  >
										View your Appointments</a>
										</span>
									</h2>
								
							</div>
						</div>
					</ion-item>
				</div>
			</ion-list>
		</ion-content>
	</ion-view>
	<ion-footer-bar class="bar bar-footer  footer-color footerstyle">
		<a class="button button-calm" ng-href="#/tab/userAppointment"><span>Next</span></a>
		<h1 class="title" id="centercolor" >See A Clinician Now</h1>
	</ion-footer-bar>
</ion-side-menu-content>
<!--Side Menu File Include --->
<div ng-include src="'templates/SideMenu.html'"></div>
