<ion-header-bar align-title="left" class="bar-positiveHomeUser" >
		
		
    <div class="backButtonDiv">
       <a ng-href="#/tab/userhome"> <Span  style="float:left;margin: 13px 0 0 17px;font-size:20px;color:#fff;"><B>Done</B></Span></a>
		</div>
		 <h1 class="title_patient" style="font-size: 24px;">Intake Form</h1>
		<div class="bar patient_subHeader">
			<div style="margin-left:10px;">
				<div class="subHeader_image">
					<img src="img/patient.png" />
				</div>
				<div class="subHeader_content" >
					
						<div style="font-size: 20px;"><span style="font-weight: bold;">{{patientInfomation.patientName}}</span> {{patientInfomation.lastName}}</div>
						<div style="font-size: 9px;">Age {{patientInfomation.age}} | Guardian {{patientInfomation.guardianName}}</div>
					
				</div>
			</div>
	    </div>	
		
		
	   
</ion-header-bar>
 
<ion-view title="Report Details">

<ion-content class="ContentHomeUser">
	<div style="height: 212px; width:100%;">
		<div style="float:left;width:20%;float:left;" >
			<img ng-src="img/IMG_logo.png" style="float:left;margin: 7px 0 0 7px; width: 120px;">
		</div>
			<div style="margin-right: -41px;line-height: 20px;width:70%;float:right;">
				<div style="float:right;margin-right: 55px;">
					<p  class="PragraphContent"  style=" text-overflow: clip; white-space: normal; text-align: justify; padding: 0.5em 0 0.5em 0; color:#000;">
						100 W California Blvd pasadena,CA 91105 | 555 345 3454  </p>
						<p style="float:right;"><b style="float:left;margin-left: 32px;">Organization:</b> Coca-cola <br>
                        <b style="float:left;margin-left: 126px;">Location</b> <br>
						<span style="margin-left: 18px;">Location Name Goes Here </span><span></span><br>
						It may Be Two
						Or Three Lines
					</p>
				</div>
			</div>
		</div>
	</div><br>
	<div style="border-bottom:2px solid #ccc;position: relative; margin: 12px;">
				<div style="width:100%;float:left;margin-top: -48px;">
					<h1 class="ReportTitle">CONNECTED CARE CONSULTATION REPORT</h1>
				</div>
			
				<div style="float:right;margin-top: -50px" class="Roundcircle">
					<img ng-src="img/attached.png" style=" margin: 0 -8px 7px -14px; width:31px"><p style="color: #fff;margin: -45px 0 0 8px;"><b>3</b></p>
				</div>
	</div>
	
	<div style="height:50px;">
		<div style="float:left;margin-left: 10px;">
			<p><b>Patient:</b><br> 
			{{existingConsultationReport.PatientName}} {{existingConsultationReport.LastName}} <br>
			121 lexington Drive <br>
			Glendale, CA 91203 <br>
			Home: {{existingConsultationReport.HomePhone}}  <br>
			Cell: {{existingConsultationReport.MobilePhone}}  <br>
			</p>
		</div>
		<div style="float:right;margin-right: 18px;">
			<p><b>Encounter Date:</b> <br>
				May 15,2014 <br>
			<b>physician:</b> <br>
			patricia McGrath, M.D
			</p>
		</div>
	</div>
    
  
   
    <div style="height: 132px; background-color:#E5E5E5;position: relative;top: 100px;margin: 10px;">
        
         <span style="margin-left: -125px; padding:0px; font-size:18px;position:relative; top:10px;Color:#4D4D4D;"><b>Patient Statistics</b></span>
        
        <div style="float:left;margin-left: -118px;margin-top: 45px;">
			<p> 
			<b style="Color:#4D4D4D;font-size:18px;"> Age : </b>   <input type="text" style="background-color:#CCCCCC;position: relative;left: 80px;top: -25px; width:70px;" readonly value="{{existingConsultationReport.AgeString}}">
			</p> 
            
            <p style="margin-top:-23px;"> 
			<b style="Color:#4D4D4D;font-size:18px;"> Gender : </b>  <input type="text" style="background-color:#CCCCCC;position: relative;left: 80px;top: -25px; width:70px;" readonly value="{{existingConsultationReport.Gender}}">
			</p>
            
            
		</div>
		<div style="float:right;margin-right: -50px;margin-top: 45px;">
			<p> 
          <b style="Color:#4D4D4D;font-size:18px;">  Height : </b> 
           <input type="text" style="background-color:#CCCCCC;position: relative;left: 76px;top: -25px; width:70px;" readonly value="6.1">
			</p>
            
            <p  style="margin-top:-23px;"> 
           <b style="Color:#4D4D4D;font-size:18px;"> Weight :  </b>
           <input type="text" style="background-color:#CCCCCC;position: relative;left: 76px;top: -25px; width:70px;" readonly value="195 Ibs">
			</p>
            
		</div>
	</div>
    
      <div style="height: 40px; position: relative;top: 110px;margin: 10px;background-color:#E5E5E5;padding:10px;">
          <span style="font-size: 20px;margin-left: 0px;"><b>Patient Concerns</b></span>
      </div>
    
     <div style="height: 100%; position: relative;top: 110px;margin: 10px;background-color:#FFF;padding:7px;">
       <p>  <span style="padding:5px;background-color:#E5E5E5;font-size: 20px;">1</span> <span style="padding:10px;font-size: 20px;">Temprature Over 100⁰</b></span></p>
<br>

 <p>  <span style="padding:5px;background-color:#ccc;font-size: 20px;">2</span> <span style="padding:10px;font-size: 20px;">{{existingConsultationReport.PrimaryConcern}}</b></span></p>

      </div> 


<div style="height: 35px; position: relative;top: 120px;margin: 10px;background-color:#fff;padding:10px; border-bottom:2px solid #ccc;">
          <span style="font-size: 20px;margin-left: -6px;"><b>SUBJECTIVE</b></span>
 </div>

<div style="height: 80px; position: relative;top: 120px;margin: 10px;background-color:#E5E5E5;padding:10px;">
    <div style="border-bottom:2px solid #CCC;margin:3px;">     
    <span style="font-size: 20px;margin-left: 3px;"><b>Intake Form Information</b></span></div>
</div>

<div style="height: 100%; position: relative;top: 78px;margin: 10px;background-color:#E5E5E5;padding:10px;">
    <div style="border-bottom:2px solid #888;margin:3px;">     
    <span style="font-size: 20px;margin-left: 3px;"><b>Current Medication</b></span></div>
     
     <p style="margin-top:15px;background-color: #CCCCCC;padding: 5px;">  
         <span style="font-size: 20px;">1</span> <span style="padding:10px;font-size: 20px;">Zantac 75</b></span></p>

 <p style="margin-top:-7px;background-color: #CCCCCC;padding: 5px;">  
         <span style="font-size: 20px;">2</span> <span style="padding:10px;font-size: 20px;">Lipator</b></span></p>

 <p style="margin-top:-7px;background-color: #CCCCCC;padding: 5px;">  
         <span style="font-size: 20px;">3</span> <span style="padding:10px;font-size: 20px;">Fluoxitine</b></span></p>
</div>   
    

<div style="height: 100%; position: relative;top: 51px;margin: 10px;background-color:#E5E5E5;padding:10px;">
    <div style="border-bottom:2px solid #888;margin:3px;">     
    <span style="font-size: 20px;margin-left: 3px;"><b>Medication Allergies</b></span></div>
     
     <p style="margin-top:15px;background-color: #CCCCCC;padding: 5px;">  
         <span style="font-size: 20px;">1</span> <span style="padding:10px;font-size: 20px;">Dilaudid</b></span></p>

 <p style="margin-top:-6px;background-color: #CCCCCC;padding: 3px;">  
         <span style="font-size: 20px;">2</span> <span style="padding:10px;font-size: 20px;">Steriod</b></span></p>

</div> 

<div style="height: 100%; position: relative;top: 40px;margin: 10px;background-color:#fff;padding:10px;">
   
     
     <p class="PragraphContent" style="margin-top:15px;background-color: #fff;">  
       Ere nonescil erum dolor rem cus moque iusanditatem init molent voloribere nulla quiautas exerum volorropor mos qui to te nosam eaquuntio. Nequodisque nobit ut expliti tem. sedi solumet,sit,quo cum iumque estrum harum ex et iusae.Equidest entempo rrorro ipsam est aut reicipsam quis experum dest.
    </p>

 

</div> 


<div style="height: 100%; position: relative;top: 15px;margin: 10px;background-color:#fff;padding:10px;">
   
    <div style="border-bottom:2px solid #888;margin:3px;">     
    <span style="font-size: 20px;margin-left: 3px;"><b>ABJECTIVE</b></span></div>
     
     <p class="PragraphContent" style="margin-top:15px;background-color: #fff;">  
       Ere nonescil erum dolor rem cus moque iusanditatem init molent voloribere nulla quiautas exerum volorropor mos qui to te nosam eaquuntio. Nequodisque nobit ut expliti tem. sedi solumet,sit,quo cum iumque estrum harum ex et iusae.Equidest entempo rrorro ipsam est aut reicipsam quis experum dest.
    </p>

</div> 

<div style="height: 100%; position: relative;top: -7px;margin: 10px;background-color:#fff;padding:10px;">
   
    <div style="border-bottom:2px solid #888;margin:3px;">     
    <span style="font-size: 20px;margin-left: 3px;"><b>ASSESSMENT</b></span></div>
     
     <p class="PragraphContent" style="margin-top:15px;background-color: #fff;">  
       Ere nonescil erum dolor rem cus moque iusanditatem init molent voloribere nulla quiautas exerum volorropor mos qui to te nosam eaquuntio. Nequodisque nobit ut expliti tem. sedi solumet,sit,quo cum iumque estrum harum ex et iusae.Equidest entempo rrorro ipsam est aut reicipsam quis experum dest.
    </p>

</div> 

<div style="height: 100%; position: relative;top: -32px;margin: 10px;background-color:#fff;padding:10px;">
   
    <div style="border-bottom:2px solid #888;margin:3px;">     
    <span style="font-size: 20px;margin-left: 3px;"><b>PLAN</b></span></div>
     
     <p class="PragraphContent" style="margin-top:15px;background-color: #fff;">  
       Ere nonescil erum dolor rem cus moque iusanditatem init molent voloribere nulla quiautas exerum volorropor mos qui to te nosam eaquuntio. Nequodisque nobit ut expliti tem. sedi solumet,sit,quo cum iumque estrum harum ex et iusae.Equidest entempo rrorro ipsam est aut reicipsam quis experum dest.
    </p>

</div> 
<div style="height: 100%; position: relative;top: -53px;margin: 10px;background-color:#fff;padding:10px;">
   
    <div style="border-bottom:2px solid #888;margin:3px;">     
    <span style="font-size: 20px;margin-left: 3px;"><b>RX</b></span></div>
     
     <p class="PragraphContent" style="margin-top:15px;background-color: #fff;">  
      <b> Amoxicillin - Pot Clavulante 875-125 MG Oral Tablet;</b>
    Take 1 TABLE EVERY 12 Hourse UNTIL GONE Qty : 20 R: 0; Rx <br>
         
      <b> Amoxicillin - Pot Clavulante 875-125 MG Oral Tablet;</b>
    Take 1 TABLE EVERY 12 Hourse UNTIL GONE Qty : 20 R: 0; Rx <br>    
    
    </p>

</div> 

<div style="height: 100%; position: relative;top: -74px;margin: 10px;background-color:#fff;padding:10px;">
   
    <div style="border-bottom:2px solid #888;margin:3px;">     
    <span style="font-size: 20px;margin-left: 3px;"><b>CHAT TRANSCRIPT</b></span></div>
     
     <p class="PragraphContent" style="margin-top:15px;background-color: #fff;">  
      [2/13/14, 11:01:23 AM] Ben: Thought you might find this inte [2/13/14, 11:01:23 AM] Ben: Iam grabbing lunch.resing.
    [2/13/14, 11:01:23 PM] Ben: Iam grabbing lunch.
     [2/13/14, 11:01:23 PM] Ben:3 sound good?.
     [2/13/14, 11:01:23 PM] Ben:Report Patrick:grab some for me too :(
    [2/13/14, 11:01:23 PM] Ben:Report Patrick:grab some for me too :(
         
    </p>

</div> 


<div style="height: 100%; position: relative;top: -95px;margin: 10px;background-color:#fff;padding:10px;">
   
    <div style="border-bottom:2px solid #888;margin:3px;">     
    <span style="font-size: 20px;margin-left: 3px;"><b>FILE  ATTACHMENT</b></span></div>
     
     <p class="PragraphContent" style="margin-top:15px;background-color: #fff;">  
      file attachement
    </p>

</div> 

<a ng-href="#/tab/userhome">
<div style="height: 100%; position: relative;top: -98px;margin: 10px;background-color:#fff;padding:10px;">
				<button class="button button-block button-balanced" style="background-color:#A2D28A;border:#A2D28A">
				<B>Done</B>  
				</button>
</div>
</a>
</ion-content>

</ion-view>
		



