<ion-view title="Waiting Room">
	<ion-header-bar align-title="left" class="bar-positiveHomeUser" >
	
	  <button class="button button-icon icon ion-navicon"></button>
		 <h1 class="title_patient">Waiting Room</h1>
		<div class="bar patient_subHeader">
			<div class="subHeader_image">
				<img ng-src="img/patient.png" />
			</div>
			
			<div class="subHeader_content" >
				<div style="font-size: 23px;"><span style="font-weight: bold;">Merida</span> Ariadnae</div>
				<div style="font-size: 11px;">Age 14 | Guardian Benjamin Ross</div>
			</div>
		</div>	
	</ion-header-bar>
	
	
	<ion-content style="margin: 100px 0 0 4%; padding-top: 150px;" >
		<div class="password_home">
		
			<a ng-href="#/tab/ReportScreen"><div style="font-size: 32px; text-align: center; padding-top: 40px;">
				<div>The Clinician will be </div>
				<div style="padding-top: 25px;">	with you Shortly</div> 
				<div style="padding-top: 25px; color: #CECECE; font-size: 25px;">Thank you for your patientce</div>
			</div>
			</a>
			
		</div>
	</ion-content>
	
	
	
</ion-view>
