<div class="modal">
    <ion-view>
        <header class="bar bar-header bar-dark concernListHeader" style="{{PrimaryConcernPopupH}}; background-color:{{brandColor}};border-color:{{brandColor}};{{backgroundimage}};">
            <div class="ErrorMessage ErrorMessageDiv"  ></div>
            <button class="button button-clear {{concernListDoneStyle}}" style="{{PriorSurgeryPopupCancel}};" ng-click="hideSurgeryPopup()">Close</button>
            <h1 class="title {{concernListTitleStyle}}" style="{{PrimaryConcernPopupTitle}}; ">My Surgeries</h1>
            <button ng-show="showNewSurgeryAdd" class="button button-clear {{concernListDoneStyle}}" style="{{PrimaryConcernPopupDone}};" ng-click="closeSurgeryPopup()" >Save</button>
        </header>
        <ion-content has-header="true" class="concernListContent">
            <ion-list>
                <div ng-show="showNewSurgeryAdd" class="list" style="padding-bottom: 0px !important; {{PriorSurgeryPopupTextBox}}">
                    <h5>&nbsp;&nbsp;&nbsp;Add New Surgery</h5>
                    <label class="item item-input validated">
                        <span class="input-label">Surgery</span>
                        <input type="text" value=""  placeholder="Required" required="required" ng-model="surgery.name" name="name" id="name">

                    </label>



                    <div class="item item-input validated">
                        <span class="input-label">Month</span>
                        <select id="dateStringMonth" name="dateStringMonth" ng-model="surgery.dateStringMonth" style="appearance: none; -webkit-appearance: none; border: none; background-color: white; margin-top: -3px;padding-right: 5px;  padding: 10px 10px 10px 0px; font-size: 16px;">
                            <option ng-repeat="month in monthsList" value="{{month.value}}" ng-selected="{{month.selected}}">
                            <b><span>{{month.text}}</span></b></option>
                        </select>
                            /&nbsp;
                        <select id="dateStringYear" name="dateStringYear" ng-model="surgery.dateStringYear" style="appearance: none; -webkit-appearance: none; border: none; background-color: white; margin-top: -3px;position: relative; padding-left: 8px;  padding: 10px; font-size: 16px;">
                            <option ng-repeat="surgeryYear in surgeryYearsList" value="{{surgeryYear.value}}">
                                <b><span>{{surgeryYear.text }}</span></b>
                            </option>
                        </select>

                    </div>
                </div>

                </ion-list>
                <div class="list" style="margin-top: 10px;" >
                      <div class="alignnexttext chronic">
                        <h2 class="surname subName-{{deviceName}}">Prior Surgeries</h2>
                        <span class="patientConternFontStyleSubTitle" style="font-size:14px !important;">Enter up to three</span>
                         </div>
                      <span ng-if="patientmedicalsurgeries.length < 3"><a ng-click="showNewSurgeryAddScreen();"><i class="ion-plus editicon"></i></a></span>

                    <div class="item item-button-right" href="#" ng-repeat="surgery in patientmedicalsurgeries" ng-if="patientmedicalsurgeries.length > 0">
                      <h2 class="regularfamily">{{surgery.description}}</h2>
                      <p>{{getMonthName(surgery.month)}}, {{surgery.year}}</p>
                      <button class="button" style="margin-top: 10px; border: none !important; background: white;" ng-click="removeSurgeryItem({{$index}});">
                          <i class="icon ion-ios-close"></i>
                      </button>
                  </div>
                  <div class="item" ng-if="patientmedicalsurgeries.length == 0">
                    <p>No Records Found</p>
                  </div>
                </div>

            </ion-content>
        </ion-view>
    </div>
