<ion-view title="Apply Plan">
<ion-side-menus>
	<ion-side-menu-content> 
		<div ng-include src="'templates/intakeHeader.html'"></div> 
	
	<div class="consultCharge_subHeader PatintHeaderFontStyle" style="top:-15px;" >
		<span style="color:#666666;font-size:27px;margin-top:-16px;">Payment</span>
	</div>
	
	<ion-content style="margin: 176px 0 0 0; padding-top: 25px;" >
		<div class="password_home">
		
			<div class="consultation_head RegularFontStyle" style="padding-top: 5px;" >
				<div style="color:#000000;">Consultation Charge</div>
				<div class="consultation_number" style="color:#666666;"> $60*</div>
			</div>
			
			<div class="healthPlan_header" style="padding-top: 40px; color: #5C5C5C; text-align: center; " >
				
				<div class="healthPlan_text" style="margin-left: 20px; padding-top: 30px; font-size: 16px; color: #888585; text-align: left;">Select Health Plan</div>
					<div class="addHealthPlan_header" style="text-align:left; " >					
						<div class="demo" style="margin-left: 50px;">
							
							<select>
								<option style="padding:10px;"><b>Blue Cross Blue ...0054</b></option>
								<option style="padding:10px;"><b>Blue Cross Blue shield...0054</b></option>
								<option style="padding:10px;"><b>Blue Cross Blue shield...0054</b></option>
							</select>
						</div>
					</div>
			</div>
			
			<div style="padding-top: 15px; padding-bottom: 5px;">
				<a ng-href="#/tab/addCard"><button class="button button-block button-balanced">
				  <span style="position: relative;top: 3px;">Apply Plan</span>
				</button></a>
			</div>
		</div>
	</ion-content>
</ion-side-menu-content>	
 <!--Side Menu File Include --->
<div ng-include src="'templates/SideMenu.html'"></div>

	<!--<div ng-include src="'templates/consultCharge_footer.html'"></div>-->
	
	<div class="hide-on-keyboard-open">
		<ion-footer-bar align-title="left" class="footer">
			<div style="width:100%;">
				<div class="" style="float:left; width:33%">
					<a class="button_new icon ion-chevron-left" href="#/tab/planDetails" style="cursor: pointer;">Back</a>
			</div>
						
			<div class="" style="text-align:center;float:left;width:33%;  margin-top: 7px;">
				<a class="button_new icon" href="#/tab/userhome" style=" color:#b8b8b8;cursor: pointer;">Cancel</a>
			</div>
						
			</div>
			
		</ion-footer-bar> 
	</div>
	
</ion-view>	
