<ion-view title="Submit Payment">
	<div ng-include src="'templates/healthPlan_header.html'"></div>
	<div class="consultCharge_subHeader" >
		<span>Payment</span>
	</div>
	
	<ion-content style="margin: 180px 0 0 4%; padding-top: 25px;" >
		<div class="password_home">
		
			<div class="consultation_head" >
				<div>Consultation Charge</div>
				<div class="consultation_number"> $60*</div>
			</div>
			
			<div class="healthPlan_header" style="padding-top: 40px; color: #5C5C5C; text-align: left;" >
				
				<div style="margin-left: 20px; padding-top: 30px; font-size: 18px;">Pay Using</div>
					<div class="addHealthPlan_header"  >					
						<div class="demo" style="margin-left: 50px;">
							
							<select>
								<option style="padding:10px;"><b>Visa ending in ...0054</b></option>
							</select>
						</div>
					</div>
				
			</div>
			
			<div style="padding-top: 15px; padding-bottom: 5px;">
				<a ng-href="#/tab/receipt"><button class="button button-block button-balanced">
				  Submit Payment
				</button></a>
			</div>
			<div class="scheduled_appointments_text" style="text-align: justify; padding-top: 5px; padding-bottom: 25px;" >
				<p>*There may be additional fees or charges based on the outcome of this consultation. By submitting payment, I understand I may be billed for these charges after this consultation is completed.</p>
			</div>
		</div>
	</ion-content>
	
	<div ng-include src="'templates/consultCharge_footer.html'"></div>
	
</ion-view>
