<ion-view title="Patient Calender">	

	<ion-header-bar align-title="left" class="bar-positiveHomeUser" style="background-color:{{brandColor}};border-color:{{brandColor}};">	  
		<div class="buttons" >
			<a class="button_new icon ion-chevron-left calendarBack" ng-href="#/tab/patientDetail"  >
				<span>Back</span>
			</a>				
		</div>
		<h1 class="title_patient calendarTitle">Patient</h1> 	  

		<div class="bar bar-subheaderHomeUser patient_subHeader calendar_subHeader_height" >
			<div class="calendar_subHeader" >
				<div class="subHeader_image" >
					<img src="{{PatientImageSelectUser}}"  class="listImgView"  />
				</div>
				<div class="subHeader_content ellipsis" >					
					<div class="subHeader_content_name ellipsis" >
						<span class="PatintHeaderFontStyle patientName ellipsis">{{patientFirstName}}</span>
						<span class="PatintHeaderFontStyleInner patientLastName ellipsis">{{PatientLastName}}</span>
					</div>
					<div class="subHeader_content_age PatintHeaderFontStyleSub ellipsis">Age {{PatientAge}} | Guardian {{PatientGuardian}}</div>
				</div>
			</div>
		</div>		
	</ion-header-bar>

	
	<div class="patientCalendar_subHeader" >
		<div class="patientCalendar_watch" ><img ng-src="img/watch.png"  /></div>
		<div class="patientCalendar_text" >Scheduled Appointments</div>
	</div>
	
		<timer end-time="time"  ></timer>
	
	<ion-content class="patientCalendar_Content"  >			
		<div class="list">		
	
		
			<a class="item" style=" background-color: #FEEFE8;  display: {{patientDisplay}}" href="#/tab/appoimentDetails">
				<div class="patient_appointment" >
					<div class="appointment_text">Next Appointment:</div>
					<div class="appointment_text_time" >Oct 12 <span><sup>@</sup></span> 12:15<span>PM</span></div>
				</div>
				<div class="BackPatientViewDetails">View Details<i class="icon ion-chevron-right"></i></div>
			</a>
            
            
			<a class="item" style=" background-color: #E1FCD4;  display: {{patientDisplay1}}"  ng-click="doToAppoimentDetails(PatientImageSelectUser,PatientName,PatientLastName,PatientAge,PatientGuardian)">
				<div class="patient_appointment" >
					<div class="appointment_text">Next Appointment:</div>
					<div class="appointment_text_time" >Oct 12 <span><sup>@</sup></span> 12:15<span>PM</span></div>
				</div>
				<div class="BackPatientViewDetails">View Details<i class="icon ion-chevron-right"></i></div>
			</a>
			
            
            
<a class="item" href="#/tab/appoimentDetails" ng-repeat="scheduledListData in scheduledList" ng-click="GoToappoimentDetails(scheduledListData)">
    
		<div class="patient_appointment" >						
            <div class="appointment_time" >{{scheduledListData.scheduledTime | date: "MMM yy"}}
                <span><sup>@</sup></span> 
                {{scheduledListData.scheduledTime | date: "hh:mm"}}    
                <span>{{scheduledListData.scheduledTime | date: "a"}}</span></div>
        </div>
            <div class="BackPatientViewDetails">View Details<i class="icon ion-chevron-right"></i></div>
        
</a>
			
		<!--	<a class="item"  href="#/tab/appoimentDetails">
				<div class="patient_appointment" >						
					<div class="appointment_time" >Oct 18 <span><sup>@</sup></span> 1:35<span>PM</span></div>
				</div>
				<div class="BackPatientViewDetails">View Details<i class="icon ion-chevron-right"></i></div>
			</a>
			
			<a class="item"  href="#/tab/appoimentDetails">
				<div class="patient_appointment" >						
					<div class="appointment_time" >Oct 18 <span><sup>@</sup></span> 1:35<span>PM</span></div>
				</div>
				<div class="BackPatientViewDetails">View Details<i class="icon ion-chevron-right"></i></div>
			</a>
			
			<a class="item"  href="#/tab/appoimentDetails">
				<div class="patient_appointment" >						
					<div class="appointment_time" >Oct 18 <span><sup>@</sup></span> 1:35<span>PM</span></div>
				</div>
				<div class="BackPatientViewDetails">View Details<i class="icon ion-chevron-right"></i></div>
			</a> -->
			
			
		</div>
		
	</ion-content>
	
</ion-view>
