<div class="modal" style="height:100%;">

<ion-view>
 <ion-header-bar align-title="left" class="bar-positiveHomeUser" style="background-color:{{brandColor}};border-color:{{brandColor}};{{backgroundimage}};">
  <h1 class="{{title_patient}} {{HeaderList}} {{intakeTittle}}" style="width:100%; text-align:center;"><span class="headerleftval" ng-click="removemodal()">Cancel</span> My health <span ng-click="medicationdone()" style="width:100%;"><a class="headerval" >Done</a></span></h1>


 <div class="bar bar-subheader searchstyle" >
    <h2 class="subname">Current Medication</h2>
     <div class="search_home UserHmeSub concernListSearchHome">
       <label class="item-input popupstyleSearch SearchLabel-{{deviceName}}" style="{{PrimaryConcernPopupSearchBox}};">
	      <input type="search" placeholder="Search" class="innerSearchPop SearchBox icon ion-search fontcolor" ng-model="data.searchQuery" >
        </label>
	</div>
 </div>

</ion-header-bar>
<ion-content class="consultcontent" >

 <ion-list  style="margin-top:54px;" >
       <!-- <ion-list  style="margin-top:44px;" >-->
         <div id="cursearch" class="" ng-repeat="(letter, currentMedicationsearchList) in sorted_users">

       <ion-checkbox ng-repeat="currentmedication in currentMedicationsearchList | filter: data.searchQuery"
						  ng-model="currentmedication.checked"
						  ng-checked="currentmedication.checked" ng-change="OnSelectMedication(currentmedication)"  ng-disabled="checkedMedication==limit && !currentmedication.checked" >
			  <span id="index_{{letter}}">   {{ currentmedication.text }} </span>
        </ion-checkbox>
         </div>
   </ion-list>





      <ul class="alpha_sidebar">
         <li ng-click="gotoList('index_{{letter}}')"ng-repeat="letter in alphabet">
            {{letter}}
         </li>
      </ul>

</ion-content>
</ion-view>

</div>
