<ion-side-menus>
	<ion-side-menu-content> 

	<ion-header-bar align-title="left" class="bar-positiveHomeUser headerheight" style="background-color:{{brandColor}};border-color:{{brandColor}};{{backgroundimage}};">

	<div class="buttons" > 
		<button class="button icon button-clear ion-navicon-round  {{menuiconIOS}}" id="BackButtonIcon" style="{{MenuInnerStyle}} {{MenuIconBottom}}"
				ng-click="toggleLeft()"></button>
	</div>
 
   
        <h1 class= "chronic {{title_patient}} {{HeaderList}} {{intakeTittle}}"><span> New User </span> <span >
            <a class="headerval" ng-href="#tab/relatedusers" >Cancel</a></span></h1>

    
<div class="bar bar-subheader bar-dark subheaderheight">
    <div class="row">
      <h1 class="headertitle"><div class="ellipsis subHeader_content_name" >
		<span class="PatintHeaderFontStyle patientName ellipsis fnamefont" >New </span>
		 <span class="patientLastName ellipsis lnamefont" >Dependent</span>
		</div></h1>
       </div>
  
    <div class="circlenew" >
       <div class="">
        <a class="circlecanh"> 
          <i class="icon ion-camera circlecam"></i>
        </a>
        <span class="circletext" > Add a Picture</span>  
      </div>
  </div>
  
</div>  
   
</ion-header-bar>



<ion-view title="">
    
	<ion-content class="userdeptcontent">
	<h4 class="userhead"><b>User Details</b></h4>
    
    <div class="list deptlist" >
		<label class="item item-input validated">
     <div class="col clo-50">
               <span class="input-label labelcolor">
                  <i class="iconsize ion-ios-person"></i><b class="formlabel">First Name</b></span>
     </div>
      <div class="col clo-50">
            <input   class="usertext" type="text" value="" placeholder="Required" required="required"  name="name" >
      </div>     
</label>
         
<label class="item item-input validated">
              <div class="col clo-50">
               <span class="input-label labelcolor">
                  <i class="iconsize ion-ios-person"></i><b class="formlabel">Last Name</b></span>
              </div>
             <div class="col clo-50">    
            <input   class="usertext" type="text" value="" placeholder="Required" required="required"  name="name" >
             </div>
</label>
  <label class="item item-input validated">
             <div class="col clo-50">
               <span class="input-label labelcolor">
                  <i class="iconsize ion-ios-email"></i><b class="formlabel">Email</b></span>
             </div>
             <div class="col clo-50">     
            <input   class="usertext"  type="text" value="" placeholder="Required" required="required"  name="name" >
             </div>
</label>
<label class="item item-input validated">
              <div class="col clo-50">   
               <span class="input-label labelcolor">
                  <i class="iconsize ion-ios-calendar-outline"></i><b class="formlabel">Date of Birth</b></span>
              </div>
             <div class="col clo-50">    
            <input   class="usertext"  type="text" value=""  placeholder="Required" required="required"  name="name" >
             </div>
</label>
         
 <label class="item item-input validated">
              <div class="col clo-50">   
               <span class="input-label labelcolor">
                  <i class="iconsize ion-person-stalker"></i><b class="formlabel">Reltionship</b></span>
              </div>
              <div class="col clo-50">      
            <input  class="usertext" type="text" value=""  placeholder="Optional"   name="name" id="name" style="">
              </div>
              
</label>
 <label class="item item-input validated">
      <div class="col clo-50">
         <span class="input-label labelcolor">
          <i class="iconsize ion-female"></i><b class="formlabel">Gender</b></span>
      </div>
       <div class="col clo-50">           
          <input class="usertext" type="text" value="" placeholder="Optional"   name="name">
       </div>    
</label>
 <label class="item item-input validated">
     <div class="col clo-50">
               <span class="input-label labelcolor">
                  <i class="iconsize ion-android-arrow-up"></i><b class="formlabel">Height</b></span>
     </div>
      <div class="col clo-50">            
            <input class="usertext" type="text" value=""    placeholder="Optional"   name="name">
      </div>     
</label>
<label class="item item-input validated">
    <div class="col clo-50">
        <span class="input-label labelcolor">
        <i class="iconsize ion-ios-filing"></i><b class="formlabel">Weight</b></span>
    </div>
     <div class="col clo-50">   
            <input class="usertext" type="text" value=""    placeholder="Optional"   name="name" >
     </div>      
</label>
<label class="item item-input validated">
    <div class="col clo-50"> 
               <span class="input-label labelcolor">
                  <i class="iconsize ion-ios-telephone"></i><b class="formlabel">Home Phone</b></span>
    </div>
     <div class="col clo-50">             
            <input class="usertext" type="text" value=""  placeholder="Optional"   name="name" >
     </div>      
</label>
 <label class="item item-input validated">
   <div class="col clo-50">
       <span class="input-label labelcolor">
       <i class="iconsize ion-ios-telephone"></i><b class="formlabel">Mobile</b></span>
   </div>
    <div class="col clo-50">   
       <input class="usertext" type="text" value=""  placeholder="Optional"   name="name" >
    </div>   
</label>
<label class="item item-input validated">
   <div class="col clo-50">  
     <span class="input-label labelcolor" style="margin-bottom:50px;">
     <i class="iconsize ion-location"></i><b class="formlabel">Home Address</b></span>
   </div>
    <div class="col clo-50">    
     <textarea   class="homeadd" id="name" cols="30" rows="5"  placeholder="Optional"></textarea>
    </div>  
</label>
 <label class="item item-input validated">
     <div class="col clo-50">          
        <span class="input-label labelcolor">
        <i class="iconsize ion-ios-people"></i><b class="formlabel">Organization</b></span>
     </div>
      <div class="col clo-50">    
       <input class="usertext" type="text" value=""  placeholder="Optional"   name="name">
      </div> 
</label>
 <label class="item item-input validated">
      <div class="col clo-50">
        <span class="input-label labelcolor">
         <i class="iconsize ion-location"></i><b class="formlabel">Location</b></span>
      </div>
       <div class="col clo-50">  
        <input  type="text" value=""  class="usertext" placeholder="Optional"   name="name" >
       </div>
</label>
<label class="item item-input validated">
    <div class="col clo-50">
      <span class="input-label labelcolor">
      <i class="iconsize ion-ios-person"></i><b class="formlabel">Hair Color</b></span>
    </div>
     <div class="col clo-50">  
       <input type="text" value=""  class="usertext" placeholder="Optional"   name="name" >
     </div>  
</label>
 <label class="item item-input validated">
     <div class="col clo-50"> 
        <span class="input-label labelcolor">
        <i class="iconsize ion-ios-eye"></i><b class="formlabel">Eye Color</b></span>
     </div>
      <div class="col clo-50">   
        <input type="text" value=""  class="usertext" placeholder="Optional"   name="name" >
      </div>  
</label>
<label class="item item-input validated">
     <div class="col clo-50">
        <span class="input-label labelcolor">
         <i class="iconsize ion-earth"></i><b class="formlabel">Ethnicity</b></span>
     </div>
      <div class="col clo-50">   
         <input type="text" value=""  class="usertext" placeholder="Optional"   name="name" >
      </div>   
</label>
    </div>
	</ion-content>
</ion-side-menu-content>
 <!--Side Menu File Include --->
<div ng-include src="'templates/SideMenu.html'"></div>
</ion-view>




<ion-footer-bar class="bar bar-footer footerrsheight" style="background-color:#dddddd;" ng-hide="tempfooter">
  <p class="alterfooter">Please Complete
  All Required Fields</p>
</ion-footer-bar>


<div class="hide-on-keyboard-open">
<ion-footer-bar class="bar bar-footer  footer-color footerrsheight" ng-show="permfooter">
    <a ng-href="#tab/relatedusers">
  <h1 class="title" id="centercolor" >Add Dependent</h1>
  <a>
</ion-footer-bar>
</div> 