<ion-view  title="Home">
			<!-- Start Header -->
	<ion-header-bar align-title="left" class="bar-positiveLess">
		  
		<div class="bar bar-headerLess">
		  
		</div>
		
		<div class="bar {{SubHeaderLessDevice}}">
		  <h2 class="{{HeadTitleLessDevice}}">Connected Care</h2>
		</div>
		
		<div class="bar bar-TitleLess">
		  <h2 class="TitleLess">Terms & Conditions</h2>
		</div>		  
	</ion-header-bar>
			<!-- End Header -->
			
			<!-- Start Content -->
		<ion-content class="ContentList_provider" style="padding-top: 50px; text-indent: 50px; font-size: 19px; color: #4D4D4D;" >
			<p>Terms & Conditions</p>
		</ion-content>

			<!-- End Content -->
	
	
			<!-- Start Footer -->
			<ion-footer-bar align-title="left" class="footer">
					  <div class="buttons">
						<!--<a class="button_new icon ion-chevron-left" href="#/tab/login"> Back </a>-->
						<a class="button_new icon ion-chevron-left terms_footer_a" ng-href="#/tab/login"><span>Back</span></a>
					  </div>
			</ion-footer-bar>	
			<!-- End Footer -->

</ion-view>

