

<ion-side-menus>
	<ion-side-menu-content>

	<ion-header-bar align-title="left" class="bar-positiveHomeUser headerheight" style="background-color:{{brandColor}};border-color:{{brandColor}};{{backgroundimage}};">

	<div class="buttons" >
		<!--<button class="button icon button-clear ion-navicon-round  {{menuiconIOS}}" id="BackButtonIcon" style="{{MenuInnerStyle}} {{MenuIconBottom}}"
				ng-click="toggleLeft()"></button>-->
				<span class="button icon button-clear {{menuiconIOS}}" id="BackButtonIcon" style="{{MenuInnerStyle}} {{MenuIconBottom}}" ng-click="toggleLeft()"><i ng-bind-html="drawSVGCIcon('menu')"></i></span>
	</div>

   <div class="Server_Error ErrorMessageDiv" ></div>
<div id="Error_Message"></div>
        <h1 class= "{{title_patient}} {{HeaderList}} {{intakeTittle}}"><span class="newUserTitle-{{deviceName}}"> New User </span> <span >
            <a  ng-click="canceldependent()" class="headerval"  >Cancel</a></span></h1>


<div class="bar bar-subheader bar-dark subheaderheight">
    <div class="row">
      <h1 class="headertitle"><div class="ellipsis subHeader_content_name" >
		<span class="PatintHeaderFontStyle patientName ellipsis fnamefont" >New </span>
		 <span class="patientLastName ellipsis lnamefont" >Dependent</span>
		</div></h1>
       </div>

    <div class="circlenew" >
       <div ng-if="newDependentImagePath == ''" ng-click="showCameraActions()" >
        <a class="circlecanh">
          <i class="icon ion-camera circlecam"></i>
        </a>
        <span class="circletext" > Add a Picture</span>

      </div>

			<div ng-if="newDependentImagePath != ''" ng-click="showCameraActions()">
			 <img style="width: 80px; height: 80px; border-radius: 50%; margin: -2px;" src="{{newDependentImagePath}}" alt="{{newDependentImagePath}}" ng-src="{{newDependentImagePath}}" >

		 </div>

  </div>


</div>

</ion-header-bar>



<ion-view title="">
	 <form name="myForm" id="dependentuserform" ng-submit="postDependentDetails()">
 <ion-content class="userdeptcontent">
	<h4 class="userhead"><b>User Details</b></h4>

  <div class="list deptlist" >

   <div class="item item-input validated">
     <div class="col col-50">
       <span class="input-label labelcolor">
       <i class="iconsize ion-ios-person"></i><b class="formlabel">First Name</b></span>
     </div>
      <div class="col colcolcol-50">
        <input class="usertext" type="text" placeholder="Required" ng-model="firstname" name="firstname" id="firstname"  required >
  		</div>
    </div>
  <div class="item item-input validated">
     <div class="col col-50">
         <span class="input-label labelcolor">
         <i class="iconsize ion-ios-person"></i><b class="formlabel">Last Name</b></span>
     </div>
     <div class="col col-50">
         <input class="usertext" type="text"  placeholder="Required" ng-model="lastname" name="lastname" id="lastname" required >

      </div>
   </div>
	 <div class="item item-input validated">
			<div class="col col-50">
					<span class="input-label labelcolor">
					<i class="iconsize ion-ios-calendar-outline"></i><b class="formlabel">Date of Birth</b></span>
			</div>
			<div class="col col-50">
				 <input  id="dob" type="date" min="{{minimum}}" max="{{maxDate1}}" ng-model="dob"  placeholder="Required" required  name="dob" >
			</div>
		</div>
  <div class="item item-input validated">
     <div class="col col-50">
        <span class="input-label labelcolor">
        <i class="iconsize ion-ios-email"></i><b class="formlabel">Email</b></span>
     </div>
     <div class="col col-50">
         <input class="usertext" id="email"  type="email" value="" placeholder="Required" ng-model="email" required="required"  name="email" >

         <span class="error" id="eremail" ng-show="myForm.email.$error.email" > Not a valid email! </span>
     </div>
   </div>
   <div class="item item-input validated">
     <div class="col col-50">
       <span class="input-label labelcolor">
       <i class="iconsize ion-person-stalker"></i><b class="formlabel">Reltionship</b></span>
      </div>
      <div class="col col-50">
				<select class="optionselect textdata" name="healthInforelation" id="dependentrelation" >
			               <option value=""><b>Choose</b></option>
			               <option ng-repeat="getRelation in listOfRelationship[0].codes" value="{{getRelation.codeId + '@' + getRelation.text}}"><b>{{getRelation.text}}</b></option>
			           </select>
      </div>
    </div>
		<div class="item item-input validated">
			<div class="col col-50">
				<span class="input-label labelcolor">
				<i class="iconsize ion-female"></i><b class="formlabel">Gender</b></span>
			 </div>

			 <div class="col col-50">
				 <select class="optionselect textdata" name="userInfoGender" id="depgender"  >
					 <option value=""><b>Choose</b></option>
					 <option value="M">Male</option> >
					 <option value="F">Female</option>
				 </select>
			 </div>
	</div>
    <div class="item item-input itemtab validated row">
        <div class="col col-50">
           <span class="input-label labelcolor"> <i class="ion-android-arrow-up iconfont"></i><b class="formlabel labelfont">Height</b></span>
        </div>
        <div style="width: 100px;padding-right: 10px;">
          <input id="height" class="usertext textalign" type="number" value="" placeholder="Required" ng-model="height" name="height" required>
        </div>
        <div style="width: 100px;padding-right: 10px;">
            <input id="height2" class="usertext textalign" type="number" value="" placeholder="Required" ng-model="height2" name="height2" required>
        </div>
        <div style="width: 50%;">
           <select style="width:90%;" class=" optionselect" name="heightunit" id="heightunit" ng-model="heightunit" required>
             <option ng-repeat="getHeightunit in listOfHeightunit[0].codes" value="{{getHeightunit.codeId + '@' + getHeightunit.text}}" ><b>{{getHeightunit.text}}</b></option>
					 </select>

        </div>
   </div>
   <div class="item item-input itemtab validated row">
        <div class="col col-50">
           <span class="input-label labelcolor"> <i class="ion-android-arrow-up iconfont"></i><b class="formlabel labelfont">Weight</b></span>
        </div>
        <div style="width: 200px;padding-right: 10px;">
          <input id="weight" class="usertext textalign" type="text" value="" placeholder="Required" ng-model="weight" name="weight" required ng-pattern="/^\d{0,9}(\.\d{1,9})?$/">
        </div>
        <div style="width: 50%;">
           <select style="width:90%;" class="optionselect " name="weightunit" id="weightunit" ng-model="weightunit" required>
               <!--<option value=""><b>Choose</b></option>-->
               <option ng-repeat="getWeightunit in listOfWeightunit[0].codes" value="{{getWeightunit.codeId + '@' + getWeightunit.text}}"><b>{{getWeightunit.text}}</b></option>
           </select>

        </div>
   </div>

<div class="item item-input validated">
     <div class="col col-50">
   	<span class="input-label labelcolor">
   	<i class="iconsize ion-android-globe"></i><b class="formlabel">Country</b></span>
      </div>
      <div class="col col-50">
		<select class="optionselect textdata" name="healthInfoCountry" id="dependentCountry" >
			<option value=""><b>Choose</b></option>
			<option ng-repeat="country in serviceCountries" value="{{country.code}}" ><b>{{country.name}}</b></option>
		</select>
      </div>
    </div>
    <div class="item item-input validated">
      <div class="col col-50">
      <span class="input-label labelcolor">
      <i class="iconsize ion-clock"></i><b class="formlabel">Timezone</b></span>
        </div>
        <div class="col col-50">
      <select class="optionselect textdata" name="healthInfoTimezone" id="dependentTimezone" >
        <option value=""><b>Choose</b></option>
          <option ng-repeat="timeZone in timeZones" value="{{timeZone.id}}" ><b>{{timeZone.name}}</b></option>
      </select>
        </div>
    </div>
<div class="item item-input validated">
    <div class="col col-50">
        <span class="input-label labelcolor">
        <i class="iconsize ion-ios-telephone"></i><b class="formlabel">Home Phone</b></span>
    </div>
     <div class="col col-50">
        <input  class="usertext" id="homephone" type="tel" value=""  placeholder="Optional" ng-model="phone"   name="phone" phone-input >
        <span class="error" id="erphone" ng-show="myForm.phone.$error.pattern">Not a valid number!</span>
     </div>
</div>
 <div class="item item-input validated">
   <div class="col col-50">
       <span class="input-label labelcolor">
       <i class="iconsize ion-ios-telephone"></i><b class="formlabel">Mobile</b></span>

   </div>
    <div class="col col-50">
       <input class="usertext" id="mobile" type="tel" value=""  placeholder="Optional"   ng-model="dependmobile"   name="mobile" phone-input >

    </div>
</div>
<div class="item item-input validated">
   <div class="col col-50">
     <span class="input-label labelcolor" >
     <i class="iconsize ion-location"></i><b class="formlabel">Home Address</b></span>
   </div>
    <div class="col col-50">
			  <ion-google-place class="coUserAddress-{{deviceName}}" placeholder="Full Address" ng-model="addNewDependent.homeadd" />
     <!--<textarea   class="homeadd" id="homeadd" cols="30" rows="5"  placeholder="Optional"></textarea>-->
    </div>
</div>
 <div class="item item-input validated">
     <div class="col col-50">
        <span class="input-label labelcolor">
        <i class="iconsize ion-ios-people"></i><b class="formlabel">Organization</b></span>
     </div>
    <div class="col col-50">
       <select class="optionselect textdata" id="organization" ng-model="firstSelect" ng-options="option.id as option.name for option in listOfOrganization">
       <option value=""><b>Choose</b></option>
     </select>
     <input type="hidden" id="organ" value="{{firstSelect}}" />

     </div>
  </div>
 <div class="item item-input validated" >
    <div class="col col-50">
       <span class="input-label labelcolor">
       <i class="iconsize ion-location"></i><b class="formlabel">Location</b></span>
    </div>
    <div class="col col-50">
       <select class="optionselect textdata"  id="location" ng-model="secondSelect" ng-options="option.name for option in locationdetails | secondDropdown: firstSelect">
      <option value=""><b>Choose</b></option>
    </select>
    <input type="hidden" id="locate" value="{{secondSelect.id}}" />
    </div>
 </div>
 <div class="item item-input validated">
    <div class="col col-50">
       <span class="input-label labelcolor">
       <i class="iconsize ion-ios-person"></i><b class="formlabel">Blood type</b></span>
     </div>
     <div class="col col-50">
        <select class="optionselect textdata" name="bloodtype" id="bloodtype" ng-model="bloodtype" required>
            <option value=""><b>Choose</b></option>
            <option ng-repeat="getBloodType in listOfBloodtype[0].codes" value="{{getBloodType.codeId + '@' + getBloodType.text}}" ><b>{{getBloodType.text}}</b></option>
         </select>

     </div>
 </div>


 <div class="item item-input validated">
    <div class="col col-50">
       <span class="input-label labelcolor">
       <i class="iconsize ion-ios-person"></i><b class="formlabel">Hair Color</b></span>
     </div>
     <div class="col col-50">
        <select class="optionselect textdata" name="hairColor" id="hairColor" ng-model="hairColor" required>
            <option value=""><b>Choose</b></option>
            <option ng-repeat="getHairColor in listOfHairColor[0].codes" value="{{getHairColor.codeId + '@' + getHairColor.text}}"><b>{{getHairColor.text}}</b></option>
         </select>

     </div>
 </div>
 <div class="item item-input validated">
     <div class="col col-50">
        <span class="input-label labelcolor">
        <i class="iconsize ion-ios-eye"></i><b class="formlabel">Eye Color</b></span>
     </div>
     <div class="col col-50">
          <select class="optionselect textdata" name="eyeColor" id="eyeColor" ng-model="eyeColor" required>
              <option value=""><b>Choose</b></option>
              <option ng-repeat="getEyeColor in listOfEyeColor[0].codes" value="{{getEyeColor.codeId + '@' + getEyeColor.text}}"><b>{{getEyeColor.text}}</b></option>
          </select>

      </div>
    </div>
 <div class="item item-input validated">
     <div class="col col-50">
        <span class="input-label labelcolor">
         <i class="iconsize ion-earth"></i><b class="formlabel">Ethnicity</b></span>
     </div>
      <div class="col col-50">
          <select class="optionselect textdata" name="ethnicity" id="ethnicity" ng-model="ethnicity" required>
               <option value=""><b>Choose</b></option>
               <option ng-repeat="getEthnicity in listOfEthnicity[0].codes" value="{{getEthnicity.codeId + '@' + getEthnicity.text}}"><b>{{getEthnicity.text}}</b></option>
           </select>

      </div>
    </div>
 </div>
 </ion-content>
</form>
</ion-side-menu-content>
 <!--Side Menu File Include --->
<div ng-include src="'templates/SideMenu.html'"></div>
</ion-view>




<ion-footer-bar class="bar bar-footer footerrsheight" style="background-color:#dddddd;" ng-hide="tempfooter">
  <p class="alterfooter">Please Complete</br>
  All Required Fields</p>
</ion-footer-bar>


<div class="hide-on-keyboard-open">
<ion-footer-bar class="bar bar-footer  footer-color footerrsheight" ng-show="permfooter" ng-click="buttonClicked = true" >
    <button class="submitbutton" type="submit" ng-click="postDependentDetails()" >
    <!-- <a ng-href="#tab/relatedusers" ng-click="adddependent()">-->
  <h1 class="title" id="centercolor" >Add Dependent</h1>
</button>
</ion-footer-bar>
</div>
