<ion-side-menus>
<ion-side-menu-content>
   <ion-header-bar align-title="left" class="homeheader bar-positiveHomeUser animated slideInUp" style="height:128px !important;background-color:{{brandColor}};border-color:{{brandColor}};{{backgroundimage}};">
      <h1 class="{{title_patient}} {{HeaderList}} {{intakeTittle}} accoTitle-{{deviceName}} userAccTitle">
          <a ng-href="#/tab/userhome" class="userAccountbackBtn"> <i  class="iconfontSVG ng-binding" ng-bind-html="drawSVGCIcon('chevron-left')"><svg class="icon-chevron-left"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="symbol-defs.svg#icon-chevron-left"></use></svg></i> <span class="localizejs">Back</span></a>
          <div class="headerfont accountHeader-{{deviceName}} localizejs userAccountTitle"> Patient</div>
       </h1>

      <div class="bar bar-subheader bar-dark subheaderheight subheaderheightOne">
        <div class="bar bar-subheader bar-dark subheaderheight subheaderheightTwo" style="display: {{individualNextAppointmentDisplay}}; " ng-repeat="scheduledListData in getIndividualScheduleDetails"  ng-click="GoToappoimentDetailsFromUserHome(scheduledListData, 'userAccount')" ng-show="$first">
            <p class="userAccApptInfo">
              <i ng-bind-html="drawSVGCIcon('video_camera')" class="ng-binding" ng-if="scheduledListData.encounterTypeCode == 3">
                <svg class="iconImg-video_camera"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="symbol-defs.svg#icon-video_camera"></use></svg>
              </i>
              <i ng-bind-html="drawSVGCIcon('phone')" class="ng-binding" ng-if="scheduledListData.encounterTypeCode != 3">
                <svg class="iconImg-phone"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="symbol-defs.svg#icon-phone"></use></svg>
              </i>
              <span class="apptTime">Appt @ {{scheduledListData.scheduledTime | date: "hh:mm"}} {{scheduledListData.scheduledTime | date: "a"}}</span>
              <span class="apptDetailsInfo" ng-if="scheduledListData.appointmentStatusCode != 'Waiting' && scheduledListData.status != 71">
                  <a class="appviewinfo-{{deviceName}} localizejs">View Details</a>
                  <i class="iconfontSVG ng-binding appViewicons" ng-bind-html="drawSVGCIcon('chevron-right')"><svg class="icon-chevron-right"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="symbol-defs.svg#icon-chevron-right"></use></svg></i>
              </span>
              <span class="apptDetailsInfo" ng-if="scheduledListData.appointmentStatusCode == 'Waiting' && scheduledListData.status != 71">
                  <a class="appviewinfo-{{deviceName}} localizejs">In queue</a>
                  <i class="iconfontSVG ng-binding appViewicons" ng-bind-html="drawSVGCIcon('chevron-right')"><svg class="icon-chevron-right"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="symbol-defs.svg#icon-chevron-right"></use></svg></i>
              </span>
              <span class="apptDetailsInfo" ng-if="scheduledListData.status == 71">
                <a class="appviewinfo-{{deviceName}} localizejs">In progress</a>
                <i class="iconfontSVG ng-binding appViewicons" ng-bind-html="drawSVGCIcon('chevron-right')"><svg class="icon-chevron-right"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="symbol-defs.svg#icon-chevron-right"></use></svg></i>
              </span>
            </p>
        </div>
         <div class="row">
            <h1 class="headertitle userAccHeaderTitle">
               <div class="ellipsis subHeader_content_name" >
                  <span class="PatintHeaderFontStyle patientName ellipsis fnamefont">{{PatientFirstName}}</span>
                  <span class="patientLastName ellipsis lnamefont" >{{PatientLastName}}</span>
               </div>
            </h1>
         </div>
         <div class="row userAccountPanel userAccountPanelNew">
            <div class="col col-33 uAPHomeIcon" style="visibility: hidden;">
               <a ng-href='#/tab/userAccount'>
                  <div class="icon homeicon">
                     <div class="buttons">
                        <span><i ng-bind-html="drawSVGCIcon('home');"></i></span>
                     </div>
                  </div>
                  <div>
                     <p class="hometext localizejs">Account Home</p>
                  </div>
               </a>
            </div>
            <div class="col col-33 uAPlProfileImage UserAccountProfileImage" style="cursor: pointer;" ng-click="getManageProfile(currentPatientDetails)" ng-bind-html="drawImage(PatientImageSelectUser,PatientFirstName,PatientLastName)"></div>
            <div class="col col-33 uAPChangePatient" style="visibility: hidden;">
               <a ng-click="changeptienthome()">
                  <div class="icon groupicon">
                     <div class="buttons">
                        <span><i ng-bind-html="drawSVGCIcon('group');"></i></span>
                     </div>
                  </div>
                  <p class="grouptext localizejs">Change Patient</p>
               </a>
            </div>
         </div>
      </div>
   </ion-header-bar>
   <ion-view title="User Account Details" ng-init="doGetScheduledNowPhoneConsulatation()">
      <ion-content padding="true"  title="User Account" class="usercontent-{{deviceName}} scroll-content ionic-scroll  has-header animated slideInUp" >
        <ion-list>
            <div class="list userlistAccountHome userlistAccountHome-ios5 {{accountStyle}}">
                <div class="card accMainContent" ng-if="P_isAuthorized && providerAvailability == true" >
                   <div class="accOndemandCon">
                      <h2 class="localizejs accOnVisit">On-demand visit</h2>
                      <p class="localizejs accOnCall">See the next available</p>
                      <p class="localizejs accOnCall2">provider on-call.</p>
                   </div>

                   <div class="btn1 accSeeNext">
                     <button type="submit" class="button button-block button-balanced user-button-position" ng-click="goToPatientConcerns(currentPatientDetails)">
                      <!-- ng-click="goToPatientConcerns(currentPatientDetails)" -->
                        <span class="localizejs">See a provider now</span>
                     </button>
                   </div>
                </div> <!--{{providerAvailability}} -- {{onSSAvailability}} --- {{chkAvailabiltyOfSS}} ---{{providerOnDemandEnabled}} -->
                <div class="card cardNew accMainContentNew" ng-if="providerAvailability != true && providerOnDemandEnabled != false">
                     <div class="accOndemandCon accOndemandConNew">
                        <h2 class="localizejs accOnVisit accOnVisitNew">On-demand visit</h2>
                        <p class="localizejs accOnCall accOnCallNew">See the next available </p>
                        <p class="localizejs accOnCall2 accOnCallNew">provider on-call.</p>
                      <!--  <p class="localizejs accOnCall2 accOnServiceDate">Service will resume at</p>-->
                        <p class="localizejs accOnCall2 accOnServiceDate">Service is currently unavailable.</p>
                        <p class="localizejs accOnCall2 accOnQuestion">Questions? Please call {{appointmentsContactNumber}}</p>
                     </div>
                  </div>
                <div class="card accMainContent" ng-if="online == true && onSSAvailability == 'on' && chkAvailabiltyOfSS == true">
                  <!-- ng-if="online == true && onSSAvailability == 'on'" -->
                   <div class="accOndemandCon">
                      <h2 class="localizejs accOnVisit">Create appointment</h2>
                      <p class="localizejs accOnCall">Schedule a visit</p>
                       <p class="localizejs accOnCall2">with a specific provider.</p>
                   </div>

                   <div class="btn1 accSeeNext">
                     <button type="submit" class="button button-Search-providers user-button-position" ng-click="goTOSchedule()" > <!--ng-click="goTOSchedule()"-->
                        <span class="localizejs">Search providers</span>
                     </button>
                   </div>
                </div>

                  <div class="card cardNew accMainContentNew"  ng-if="onSSAvailability == 'on' && chkAvailabiltyOfSS != true">
                     <div class="accOndemandCon accOndemandConNew">
                        <h2 class="localizejs accOnVisit accOnVisitNew">Create appointment</h2>
                        <p class="localizejs accOnCall accOnCallNew">Schedule a visit</p>
                        <p class="localizejs accOnCall2 accOnCallNew">with a specific provider</p>
                        <p class="localizejs accOnCall2 accOnServiceDate">Service is currently unavailable.</p>
                        <p class="localizejs accOnCall2 accOnQuestion accOnQuestionNew">Questions? Please call {{appointmentsContactNumber}}</p>
                     </div>
                  </div>
<!-- <ion-item ng-if="onSSAvailability != 'on' && chkAvailabiltyOfSS == false && providerAvailability != true && providerOnDemandEnabled != true" class="noneSchedule localizejs noapptviewResult item" style="white-space: normal;"> -->
                  <ion-item ng-if="BlankUserAccount == true" class="noneSchedule localizejs noapptviewResult item" style="white-space: normal;">
                    <div>
                      <i class="noneScheduleImg" ng-bind-html="drawSVGCIcon('new_calendar_item')"></i>
                      <div class="noneScheduleTextBox">
                      <p class="noneScheduleText">Please call us to schedule an </p>
                      <p class="noneScheduleText">appointment.</p>
                      </div>
                      <p class="noneScheduleNumber">{{appointmentsContactNumber}}</p>
                    </div>
                  </ion-item>

            </div>
         </ion-list>
      </ion-content>
   </ion-view>
  <!-- <ion-view title="User Account Details" ng-init="doGetScheduledNowPhoneConsulatation()" ng-if="appointmentsPatientId == patientId"  >
      <ion-content  title="User Account" class="usercontentpat-{{deviceName}} scroll-content ionic-scroll  has-header"  style="display: {{individualNextAppointmentDisplay}};">
         <ion-refresher on-refresh="doRefreshUserPage()"></ion-refresher>
         <ion-list>
            <div class="list userlistAccountHome {{accountStyle}}">
               <ion-item class="ioniictem " id="accountMngeProfile-{{deviceName}}" ng-click="getManageProfile(currentPatientDetails)">
                  <div class="card" style="box-shadow:none !important;background:none !important;">
                     <div class="item-text-wrap itemtextwap" style="text-align: center;">
                        <h2 class="title alignchronic ChronicCondition" >
                           <span class="profileSpan"> <i class="profileicon profileperson" ng-bind-html="drawSVGCIcon('user')"></i> </span>
                           <span class="content content-{{deviceName}} localizejs" ng-if="primaryPatientId == patientId" >
                           Manage Your Profile
                           </span>
                           <span class="content content-{{deviceName}} localizejs" ng-if="primaryPatientId != patientId" >
                           Manage Profile
                           </span>
                        </h2>
                     </div>
                  </div>
               </ion-item>
               <ion-item class="ionicitem " id="accountMngeProfile-{{deviceName}}" ng-click ="doGetCurrentUserAppointment()" >
                  <div class="card" style="box-shadow:none !important;background:none !important;">
                     <div class="item-text-wrap itemtextwap" style="text-align: center;">
                        <h2 class="title alignchronic ChronicCondition accSecAppoint" >
                           <span class="profileSpan"><i class="profileicon iconalign-{{deviceName}} profilecalendar usrAppointIcon-{{deviceName}}" ng-bind-html="drawSVGCIcon('calendar')"></i></span>
                           <span class="content contentAppoint-{{deviceName}} localizejs" ng-if="primaryPatientId == patientId">
                           View Your Appointments
                           </span>
                           <span class="content contentAppoint-{{deviceName}} localizejs" ng-if="primaryPatientId != patientId">
                           View Appointments</span>
                        </h2>
                     </div>
                  </div>
               </ion-item>
            </div>
         </ion-list>
      </ion-content>
   </ion-view>

   <ion-item ng-if="appointmentsPatientId == patientId" class="apptdetails accountAppointHeight" style="display: {{individualNextAppointmentDisplay}}; " ng-repeat="scheduledListData in getIndividualScheduleDetails"  ng-click="GoToappoimentDetailsFromUserHome(scheduledListData, 'userAccount')" ng-show="$first">
      <div>
         <div class="appth3">
            <div class="appointment">
               <span><span class="localizejs">Appointment</span> @ {{scheduledListData.scheduledTime | date: "hh:mm"}}</span>
               <span style="text-transform: lowercase;">{{scheduledListData.scheduledTime | date: "a"}}</span>
               <span id="viewicon" class="accountAppointview-{{deviceName}}">
               <a class="appalignrighticon localizejs" ng-if="scheduledListData.appointmentStatusCode == 'Waiting' && scheduledListData.status != 71">In queue</a>
               <a class="appalignrighticon localizejs" ng-if="scheduledListData.appointmentStatusCode != 'Waiting' && scheduledListData.status != 71"> View Details</a>
               <a class="appalignrighticon localizejs" ng-if="scheduledListData.status == 71">In progress</a>
               <span  class="aslignspan"><i class="accNextAppoint-{{deviceName}}" ng-bind-html="drawSVGCIcon('chevron-with-circle-right');"  ></i>
               </span>
               </span>
            </div>
         </div>
      </div>
   </ion-item>
   <ion-footer-bar ng-if="appointmentsPatientId == patientId && P_isAuthorized && providerAvailability == true" style="display: {{individualNextAppointmentDisplay}}" class="bar bar-footer  footer-color userappheight" ng-click="goToPatientConcerns(currentPatientDetails)" >
      <div ng-if="getIndividualPatientCreditCount != 0 && paymentMode == 'on'" class="title CreditClinician userappfootcontent"  >
         <div class="creditSeeaCLinician localizejs" >
            See A Provider Now
         </div>
         <div>
            <span class="creditCount">
            <span ng-if="getIndividualPatientCreditCount < 10" class="creditCountNo">{{getIndividualPatientCreditCount}}</span>
            <span ng-if="getIndividualPatientCreditCount > 9" class="creditCountNoTwoDigit">{{getIndividualPatientCreditCount}}</span> <span class="localizejs">Credits</span>
            </span>
         </div>
      </div>
      <div ng-if="getIndividualPatientCreditCount == 0 ||  paymentMode != 'on'">
         <h1 class="title userappfootcontent localizejs" >See A Provider Now</h1>
      </div>
   </ion-footer-bar>-->
   <div ng-controller="LoginCtrl"></div>
</ion-side-menu-content>
<!--Side Menu File Include --->
<div ng-include src="'templates/SideMenu.html'"></div>
<div ng-controller="appoimentDetailsCtrl"></div>
