
<ion-view title="Medical Allergies">
	
	<div ng-include src="'templates/healthPlan_header.html'"></div>
	

<ion-content class="ContentHomeUser" style="margin-top: 120px;">
 	<ion-list>
		<ion-item style="top: -2px;padding: 2px;">
			<div style="color:#888;float:right;margin-right: 10px; margin-top: 10px;">Step <b>4</b> of <b>7</b></div>
			<div style="margin-top: 25px;">
				<a ng-href="#/tab/CurrentMedication"> 
					<h1 class="title ChronicCondition" style="font-size: 27px;">Medication Allergies</h1>
				</a>
				<p style="margin-left: 19px;">Select medication allergies.</p>
			</div>
			<div style="margin-left: 19px; float: left; font-size: 12px; margin-top: 10px;">Select up to four</div>
			<div style="margin-right: 45px; font-size: 11px; float: right; margin-top: 10px;">
				<div class="squaredCheckbox" style="margin: -1em 0.5em 0.25em 0.3em;" >
					<input type="checkbox" value="None" id="squaredCheckbox" name="check" />
					<label for="squaredCheckbox"></label>
				</div>
			<div style="font-size: 17px;"> None</div>
			</div>
		
		
			<div class="list" style="clear: both; padding-top: 10px;" >
				<ion-checkbox ng-repeat="item in medicationList"
							  ng-model="item.checked" 
							  ng-checked="item.checked" >
				  {{ item.text }}
				</ion-checkbox>
			</div>
		</ion-item>
	</ion-list>
</ion-content>

		<div ng-include src="'templates/invokeFooter.html'"></div>
</ion-view>