<div class="Server_Error ErrorMessageDiv" ></div>
<ion-view title="Receipt">
   <div ng-include src="'templates/receiptHeader.html'"></div>
   <ion-content class="ReceiptContent"  >
      <div>
         <div class="healthPlan_header"  style="padding-top: 50px;" >
            <img ng-src="img/SuccessBadge.svg" style="width: 150px; height: 148px;">
         </div>
         <div class="PaymentSuccess" style="display: {{enablePaymentSuccess}}">
            Payment Successful!
            <div class="PaymentConfirmation" >
               Confirmation #{{paymentConfirmationNumber}}
               <div class="ConfirmationReceipt">
                  A receipt has been sent to you via email
               </div>
            </div>
         </div>
         <div class="PaymentSuccess" style="display: {{enableInsuranceVerificationSuccess}}">
            <div class="PaymentConfirmation">
               Your plan has been verified
            </div>
         </div>
         <div class="CreditSuccess" style="display: {{enableCreditVerification}}">
            <div class="PaymentConfirmation">
               Credit Used
               <div class="ConfirmationReceipt">
                  <span>{{getReceiptCreditCount}}</span> On-Demand Credits Remaining
               </div>
            </div>
         </div>
         <div class="EnterWaitingRoom">
            <button type="submit" on-touch ='doGetWaitingRoom()' class="button button-block button-balanced">
            <span>Enter the Waiting Room</span>
            </button>
         </div>
         <div class="ReceiptRedirect">
            You will be moved to the waiting room in
            <b>
               <timer end-time="ReceiptTime"  >{{seconds}} Sec</timer>
            </b>
         </div>
      </div>
   </ion-content>
</ion-view>
