
<ion-side-menus>
<ion-side-menu-content> 

<ion-header-bar align-title="left" class="bar-positiveHomeUser" style="background-color:{{brandColor}};border-color:{{brandColor}};{{backgroundimage}};">

<div class="buttons" > 
<button class="button icon button-clear ion-navicon-round  {{menuiconIOS}}" id="BackButtonIcon" style="{{MenuInnerStyle}} {{MenuIconBottom}}"
ng-click="toggleLeft()"></button>
</div>
 <h1 class="{{title_patient}} {{HeaderList}} {{intakeTittle}}"> Consultations <span ><a class="headerval" ng-href="#tab/consultations" ><i class="icon ion-search" ></i></a></span></h1>


<div class="bar bar-subheader " style="margin-top:20px;height: 131px;border-bottom: 1.5px solid #b5b5b5;border-image:none;">
      <div class="row">
           <div class="buttons backbtn"  > 
   <button class="button icon button-clear ion-navicon-round  {{menuiconIOS}}" style="display: none;"></button>
     </div>
        <div class=" button-bar">
          <label class="button button-small btcolor btn-first"  id=""> Past</label>
          <label class="button button-small btnextcolor btn-first tabcontent" >Missed</label>
          <label class="button button-small btnextcolor btn-first tabcontent" >Dropped</label>
        </div>
       <div class="buttons backbtn"> 
<button class="button icon button-clear ion-navicon-round  {{menuiconIOS}}" style="display: none;"></button>
 </div>        
   </div>
 <div class="csearch">
      <h6 class="hsearch">
          <i class="icon ion-search " style="color:#888;"></i> 
          <span style="color:#888;">Search</span>
       </h6>
 </div>

   <div class="row rheader" style="margin-top: 20px;">
          <div class="col col-25">Date</div>
          <div class="col col-20" >Time</div>
          <div class="col col-60">Provider</div>
          
          
    </div>
</div>  
   
</ion-header-bar>
<ion-view>
	<ion-content style="margin-top:120px">
      <hr class="dashedhr">  
       
  <div class="row">
     <div class="col col-25" style="margin-left:5px;">
        <p class="colfamily">Nov 16,2015</p>
     </div>
     <div class="col col-20" ><p class="colfamily">2:35 PM</p></div>
     <div class="col col-60">
       <p>
         <span class="colfamily">Dr.McGrath</span>
         <span class="vreport">View Report</span><span><i class="icon ion-chevron-right rghticon"></i></span>
       </p>
     </div>
    </div>
   <hr class="dotedhr">   
    
    <div class="row">
     <div class="col col-25" style="margin-left:5px;">
        <p class="colfamily">Nov 16,2015</p>
     </div>
     <div class="col col-20" ><p class="colfamily">2:35 PM</p></div>
     <div class="col col-60">
       <p>
         <span class="colfamily">Dr.McGrath</span>
         <span class="vreport">View Report</span><span><i class="icon ion-chevron-right rghticon" ></i></span>
       </p>
     </div>
    </div>
   <hr class="dotedhr">      
   
   <div class="row">
     <div class="col col-25" style="margin-left:5px;">
        <p class="colfamily">Nov 16,2015</p>
     </div>
     <div class="col col-20" ><p class="colfamily">2:35 PM</p></div>
     <div class="col col-60">
       <p>
         <span class="colfamily">Dr.McGrath</span>
         <span class="vreport">View Report</span><span><i class="icon ion-chevron-right rghticon" ></i></span>
       </p>
     </div>
    </div>
   <hr class="dotedhr">  
   
   <div class="row">
     <div class="col col-25" style="margin-left:5px;">
        <p class="colfamily">Nov 16,2015</p>
     </div>
     <div class="col col-20" ><p class="colfamily">2:35 PM</p></div>
     <div class="col col-60">
       <p>
         <span class="colfamily">Dr.McGrath</span>
         <span class="vreport">View Report</span><span><i class="icon ion-chevron-right rghticon" ></i></span>
       </p>
     </div>
    </div>
   <hr class="dotedhr">  
	</ion-content>
  
    </ion-side-menu-content>
</ion-view>     


<ion-tabs  class=" tabs-icon-top tabs-dark">

  <a class="tab-item " ng-href="#tab/relatedusers">
    <i class="icon ion-android-people"></i>
   User
  </a>
  <a class="tab-item active">
    <i class="icon ion-card"></i>
    Consultations
  </a>
  <a class="tab-item " ng-href="#tab/healthinfo">
    <i class="icon ion-clipboard"></i>
    My Health
  </a>

<a class="tab-item " ng-href="#tab/appointmentpatientdetails">
    <i class="icon ion-calendar"></i>
    Appointments
  </a>
<a class="tab-item"  ng-href="#tab/profileoption">
    <i class="icon ion-more"></i>
    More
  </a>

      </ion-tabs>
