


<ion-side-menus>
	<ion-side-menu-content> 

	<ion-header-bar align-title="left" class="bar-positiveHomeUser" style="background-color:{{brandColor}};border-color:{{brandColor}};{{backgroundimage}};">

       
  
	<div class="buttons" > 
		<button class="button icon button-clear ion-navicon-round  {{menuiconIOS}}" id="BackButtonIcon" style="{{MenuInnerStyle}} {{MenuIconBottom}}"
				ng-click="toggleLeft()"></button>
	</div>
	
	<h1 class="headertitle">User</h1>  


			<div class="bar bar-subheader bar-dark" style="top:56px;height:88px;">
                  <div class="row"> 
                      <h1 class="headertitle">
                          <div class="ellipsis subHeader_content_name" >
					       <span class="PatintHeaderFontStyle patientName ellipsis" style="font-style:Glober Bold;font-size:28px;">Jonathan</span>
					      <span class="patientLastName ellipsis" style="font-style:Glober SemiBold;font-size:25px;">Fitzpztrick</span>
				        </div>
                     </h1>
                  </div>
               
     <div class="item item-image-icon " style="background-color:#444444;">
           <a style="    padding-left: 30px;">
              <i class="icon ion-home" style="border:2px solid #888;border-radius: 50%;padding-left: 7px;padding-right: 8px;padding-top: 5px;padding-bottom: 0px;font-size: 23px;color: #888;"></i>
             <p style="padding-top:17px;">Account Home</p>
          </a>
           <a class="item-avatar itemhead">
               <p><img src="img\patient.png" class="topimage" style=""></p>
           </a>
           <a style="float:right;margin-top:-83px;">
               <i class="icon ion-ios-people" style="border:2px solid #888;border-radius: 50%;padding-left:5px;padding-right:6px;padding-top:4px;padding-bottom: 0px;font-size: 23px;color: #888;"></i>
               <p style=" padding-top: 19px; margin-left: -21px;"  >Change Patient</p>
           </a>
      </div>
  </div>
                    
   
		
   
</ion-header-bar>

<ion-view title="">
    
	<ion-content class="usercontent" style="">
        <ion-list>
            
         <ion-item class="ionitem">
           <div class="card hidecard">
              <div class="item item-text-wrap">
                  <div class="">
                       <h2 class="title alignchronic ChronicCondition ">
                             <i class="ion-ios-person" style="font-size:24px;"></i> 
                             <span class="content"> Manage Your Profile</span>
                        </h2>
				      </div>
                 </div>
              </div>
         </ion-item>     
            
            
            
              <ion-item class="ionitem">
           <div class="card hidecard">
              <div class="item item-text-wrap">
           
				  <div class="">					
						<h2 class="title alignchronic ChronicCondition">
                             <i class="ion-ios-calendar-outline" style="font-size:24px;"></i> 
                             <span class="content"> View your Appointments</span>
                         </h2>
					
				</div>
                 </div>
              </div>
         </ion-item>   
            
	
	</ion-list>
        
      
  </ion-content>
 </ion-side-menu-content>
 <!--Side Menu File Include --->
 <div ng-include src="'templates/SideMenu.html'"></div>

</ion-view>

<div class="bar bar-footer  footer-color footerheight">
   <h1 class="title" id="centercolor" >See A Clinician Now</h1>
</div>

