<ion-view title="Patient Details">
	


<ion-header-bar align-title="left" class="bar-positiveHomeUser">
  
  <div class="buttons" >
	<a class="button_new icon ion-chevron-left" ng-href="#/tab/userhome" style="padding-top: 14px; font-weight: bold; cursor: pointer; width: 68px; position: absolute; z-index: 1;top:10px;" >
		<span style="margin-top:7px;position: relative;margin-left: -6px;top: -2px;">Back</span>
	</a>				
  </div>
  <h1 class="title_patient" style="font-size: 22px; text-align: center; width: 100%; top:4px;">Patient</h1>
  
  

<div class="bar bar-subheaderHomeUser patient_subHeader" style="top: 65px;height: 87%">
	<div style="margin-left:10px;">
				<div class="subHeader_image" style="margin-left: -15px;  margin-top: -13px;">
					<img src="img/cutmypic.png" style="width:42px;" />
				</div>
				<div class="subHeader_content" >
					
						<div style="font-size: 18px;"><span style="font-weight: bold;"  class="PatintHeaderFontStyle">{{patientInfomation.patientName}}</span> <span style="font-weight: normal;" class="PatintHeaderFontStyleInner">{{patientInfomation.lastName}}</span></div>
						<div style="font-size: 11px;" class="PatintHeaderFontStyleSub ellipsis">Age {{patientInfomation.guardianName}} | Guardian {{patientInfomation.guardianName}}</div>
					
				</div>
	</div>
</div> 

   
</ion-header-bar>
	
	
	
	<ion-content class="patient_content" >
		<div class="password_home" style="padding-left: 7%;">	
			
				<a style="text-decoration: none;" ng-href="#/tab/patientCalendar">
				<button class="button button-block button-energized">
				 <span style="position: relative;top: 3px;"> View Appointments </span>
				</button></a>
			
			<div class="scheduled_appointments_text" >
				See all your scheduled appointments. 
			</div>
			<div style="padding-top: 40px;">
				<!--<a style="text-decoration: none;"  ng-href="#/tab/patientConcerns">-->
				<button type="submit" ng-click="doGetCodesSet()" class="button button-block button-balanced" >
				  <span style="position: relative;top: 3px;">Next Available</span>
				</button>
				<!--</a>-->
			</div>
			<div class="scheduled_appointments_text" >
				Don't have an appointment? <br/>
				See the next available clincian.
			</div>
		</div>
	</ion-content>
	
</ion-view>
