<div class="modal" >

<ion-view>

<header class="bar bar-header bar-dark concernListHeader" style="{{PrimaryConcernPopupH}}; background-color:{{brandColor}};border-color:{{brandColor}};{{backgroundimage}};">
<div class="ErrorMessage ErrorMessageDiv"  ></div>
 <button class="button button-clear {{concernListDoneStyle}}" style="{{PriorSurgeryPopupCancel}};" ng-click="removemodal()" >Cancel</button>
  <h1 class="title {{concernListTitleStyle}}" style="{{PrimaryConcernPopupTitle}}; ">My health</h1>
  <button class="button button-clear {{concernListDoneStyle}}" style="{{PrimaryConcernPopupDone}};" ng-click="allergiedone()" >Done</button>
</header>

<ion-content has-header="true" class="concernListContent">

  <ion-list>
    <ion-item class="search_home  concernListSearch">
      <h2 class="subname subName-{{deviceName}}">Medication Allergies</h2>
      <div class="search_home UserHmeSub concernListSearchHome">
        <label class="item-input popupSearch SearchLabel-{{deviceName}}" style="{{PrimaryConcernPopupSearchBox}};" >
          <input type="search" placeholder="Search" class="innerSearchPop SearchBox currentSearchBox-{{deviceName}}" ng-model="searchText"   >
          <!--<i class="clear-search icon ion-ios7-close-empty" ng-click="clearSearch()"></i>-->
        </label>
        </div>

        <div ng-repeat="(letter, medicationAllergiesearchList) in sorted_usersallergie">

        <ion-checkbox id="index_{{letter}}" ng-repeat="allergie in filterAllergies=( medicationAllergiesearchList | filter: searchText)"
               ng-model="allergie.checked"
               ng-checked="allergie.checked" ng-change="OnSelectAllergies(allergie)" ng-disabled="checkedAllergies==limit && !allergie.checked" >
         <span class="ng-binding concernListDetails" >   {{ allergie.text }} </span>
       </ion-checkbox>
        </div>
        <ul class="alpha_sidebar">
          <li ng-click="gotoallergyList('index_{{letter}}')"ng-repeat="letter in alphabets">
             {{letter}}
          </li>
       </ul>

          <p class="searchdata" ng-show="(medicationAllergiesearchList | filter:searchText).length==0"> <b>Sorry No Result Found <b></p>

    </ion-item>
  </ion-list>

</ion-content>

<!--<ion-content class="healthcontentsearch-{{deviceName}}" delegate-handle="isScroll">
    <ion-list  style="margin-top:44px;" >
       <div ng-repeat="(letter, medicationAllergiesearchList) in sorted_usersallergie">

       <ion-checkbox id="index_{{letter}}" ng-repeat="allergie in filterAllergies=( medicationAllergiesearchList | filter: searchText)"
						  ng-model="allergie.checked"
						  ng-checked="allergie.checked" ng-change="OnSelectAllergies(allergie)" ng-disabled="checkedAllergies==limit && !allergie.checked" >
			  <span>   {{ allergie.text }} </span>
      </ion-checkbox>
       </div>
  </ion-list>

       <ul class="alpha_sidebar">
         <li ng-click="gotoallergyList('index_{{letter}}')"ng-repeat="letter in alphabets">
            {{letter}}
         </li>
      </ul>

         <p class="searchdata" ng-show="(medicationAllergiesearchList | filter:searchText).length==0"> <b>Sorry No Result Found <b></p>
</ion-content>-->

</ion-view>

</div>
