<div class="animated slideInRight">
  <ion-side-menus>
	 <ion-side-menu-content>
    <ion-header-bar align-title="left" class="bar-positiveHomeUser" style="height:128px !important;background-color:{{brandColor}};border-color:{{brandColor}};{{backgroundimage}};">

     <div class="buttons" >
		<button class="button icon button-clear ion-navicon-round  {{menuiconIOS}}" id="BackButtonIcon" style="{{MenuInnerStyle}} {{MenuIconBottom}}"
				ng-click="toggleLeft()"></button>
	 </div>
    <h1 class= "chronic {{title_patient}} {{HeaderList}} {{intakeTittle}}">
        <span>Profile Options</span> <span><a class="headerval" ng-href="" >Cancel</a></span>
     </h1>
   <div class="bar bar-subheader bar-dark usersubheader">
       <div class="row">
         <h1 class="headertitle">
           <div class="ellipsis subHeader_content_name" >
			 <span class="PatintHeaderFontStyle patientName ellipsis fnamefont">{{currentPatientDetails[0].patientName}}</span>
			  <span class="patientLastName ellipsis lnamefont" >{{currentPatientDetails[0].lastName}}</span>
			 </div>
            </h1>
          </div>

       <div class="item item-image-icon itemiconcolor">
            <a class="lefthome" ng-href="#/tab/userAccount">
               <i class="icon ion-home headerlefticons"></i>
               <p class="homecontent">Account Home</p>
          </a>

           <a class="item-avatar itemhead">
               <p><img src="{{APICommonURL}}{{currentPatientDetails[0].account.profileImagePath}}" class="topimage"></p>
           </a>
           <a class="rightpatient" ng-href="#/tab/userhome">
               <i class="icon ion-ios-people headerrighticon"></i>
               <p class="patientcontent" >Change Patient</p>
           </a>
      </div>
    </div>
</ion-header-bar>


<ion-view title="Profile Option">
  <ion-content class="profilecontent">

    <div class="list">
      <a class="item item-icon-left item-icon-right" ng-href="#tab/relatedusers">
          <i class="icon ion-person-stalker iconsize fontcolor"></i> <span class="fontcolorfamily">  Users </span><i class="icon ion-chevron-right fontcolor"></i>
      </a>
       <a class="item item-icon-left item-icon-right" ng-href="#tab/consultations">
          <i class="icon ion-card iconsize fontcolor"></i> <span class="fontcolorfamily">  Consultations </span> <i class="icon ion-chevron-right fontcolor"></i>
      </a>
      <a class="item item-icon-left item-icon-right" ng-href="#tab/healthinfo">
          <i class="icon ion-android-clipboard iconsize fontcolor"></i> <span class="fontcolorfamily"> My Health </span><i class="icon ion-chevron-right fontcolor"></i>
      </a>
       <a class="item item-icon-left item-icon-right"  ng-href="#tab/appointmentpatientdetails">
          <i class="icon ion-calendar iconsize fontcolor"></i> <span class="fontcolorfamily"> Appointments </span> <i class="icon ion-chevron-right fontcolor"></i>
      </a>
       <a class="item item-icon-left item-icon-right" ng-href="#">
          <i class="icon ion-ios-albums iconsize fontcolor"></i> <span class="fontcolorfamily"> Files </span> <i class="icon ion-chevron-right fontcolor"></i>
      </a>
    </div>
  </ion-content>
 </ion-side-menu-content>
<div ng-include src="'templates/account_footer.html'"></div>
