
<div class="animated slideInRight">

<ion-side-menus>
	<ion-side-menu-content> 

	<ion-header-bar align-title="left" class="bar-positiveHomeUser" style="height:128px !important;background-color:{{brandColor}};border-color:{{brandColor}};{{backgroundimage}};">

       
  
	<div class="buttons" > 
		<button class="button icon button-clear ion-navicon-round  {{menuiconIOS}}" id="BackButtonIcon" style="{{MenuInnerStyle}} {{MenuIconBottom}}"
				ng-click="toggleLeft()"></button>
	</div>
	 <h1 style="margin-top:12px;" class="{{title_patient}} {{HeaderList}} {{intakeTittle}}"><span> Related Users </span> <span style="float:right;">
            <a class="headerval" ng-href="#tab/relatedusers">Cancel</a></span></h1>

	<div class="bar bar-subheader bar-dark" style="top:64px;height:88px;">
                  <div class="row"> 
                      <h1 class="headertitle">
                          <div class="ellipsis subHeader_content_name" >
					       <span class="PatintHeaderFontStyle patientName ellipsis fnamefont">Jonathan</span>
					      <span class="patientLastName ellipsis lnamefont" >Fitzpztrick</span>
				        </div>
                     </h1>
                  </div>
               
    <div class="item item-image-icon " style="background-color:#444444;">
          
           <a style="padding-left: 30px;">
               <i class="icon ion-home headerlefticons" style=""></i>
               <p class="homecontent">Account Home</p>
          </a>
           <a class="item-avatar itemhead">
               <p><img src="img\patient.png" class="topimage" style=""></p>
           </a>
           <a style="float:right;margin-top:-88px;">
               <i class="icon ion-ios-people headerrighticon" style=""></i>
               <p class="patientcontent" >Change Patient</p>
           </a>
   </div>
  </div>
                    
   
		
   
</ion-header-bar>

<ion-view title="">
    
	<ion-content style="margin-top: 120px !important; ">
        
        <ion-list>
           <ion-item class="ionitem item" style="border-top: none;padding: 10px !important;">
          
                  <p style="text-align:center;margin-bottom: 10px!important;"><i class="fontcolor icon ion-person-add" style="font-size:50px;"></i></p>
                  <div  style="text-align:center;"> 
                     <h2 style="margin-botom:10px !important;"><p class="fontcolor" style="font-size:30px;font-family:Glober Bold;">Add A New User</p>
                      <p style="color: #ababab;font-size: 14px;">Select a user type to add</p>
                     </h2>
                  </div>
              
         </ion-item>  
            
            
         <ion-item class="ionitem ">
           <div class="card cardshadow" style="margin:30px 10px !important;">
              <div class="item item-text-wrap">
                    <div class="" style="text-align:center;">
                       <h2 class="title alignedchronic ChronicCondition ">
                         <a class="fontcolor" ng-href="#/tab/addUser" style="font-size:20px;"> Invite A Co-User</a>
                        </h2>
				      </div>
                 </div>
              </div>
         </ion-item>     
            
          <ion-item class="ionitem">
           <div class="card cardshadow" style="margin:30px 10px !important;">
              <div class="item item-text-wrap">
                    <div class="" style="text-align:center;margin-top: 3px;">
                       <h2 class="title alignedchronic ChronicCondition ">
                         <a class="fontcolor" ng-click="adddependent()" style="font-size:20px;">Add A Dependent</a>
                        </h2>
				      </div>
                 </div>
              </div>
         </ion-item>    
            
	
	</ion-list>
        
       
  </ion-content>
 </ion-side-menu-content>
 <!--Side Menu File Include --->
 <div ng-include src="'templates/SideMenu.html'"></div>

</ion-view>

<div class="bar bar-footer addheight" style="background-color:#484848;">
   <!--  <a class="button button-calm" ng-href="#/tab/userAppointment"><span>Next</span></a>-->
   <h1 class="title" id="centercolor" style="margin-top: 5px !important;" >Cancel</h1>
</div>

</ion-side-menus>
</div>