<ion-side-menus> >
	<ion-side-menu-content> 


		<div ng-include src="'templates/intakeHeader.html'"></div>
	
	<!-- <div ng-include src="'templates/healthPlan_header.html'"></div> -->
	
<ion-view title="Chronic Condition">
<ion-content class="ContentHomeUser" style="margin-top: 100px;">
 	<ion-list>
		<ion-item style="top: 0px;padding: 2px;">
			<div style="color:#888;float:right;margin-right: 10px; margin-top: 20px;">Step <b>2</b> of <b>7</b></div>
			<div ng-click="loadChronicCondition();" style="cursor:pointer;">
			<div style="margin-top: 28px;">
                
                <div style="margin-top: 30px;">
				
					<h1 class="title ChronicCondition" style="font-size: 25px;  margin-bottom: 2px; width: 100%;">Chronic Conditions</h1>
				    <p style="margin-left: 19px;margin-bottom: 10px;">
                        List any chronic medical conditions.
                        <br/>
                        Select up to four
                    </p>
					<div style="float:right;left: -15px; position: relative; margin-top: -55px; cursor:pointer;">
					<i class="ion-plus-circled addBtn">  </i>
					</div>
				</div>
			</div>
            </div>
		</ion-item>
        
        <ion-item>
			<div>
				<div class="intakeNote" style="width: 91%;">ADD or ADHD</div>
                <i class="ion-close-circled delBtn" ></i>
			</div>
		</ion-item>
        <ion-item>
			<div>
				<div class="intakeNote" style="width: 91%;">Asthma</div>
                <i class="ion-close-circled delBtn" ></i>
			</div>
		</ion-item>
        <ion-item>
			<div>
				<div class="intakeNote" style="width: 91%;">Cerebral Palsy</div>
                <i class="ion-close-circled delBtn" ></i>
			</div>
		</ion-item>
        <ion-item>
			<div>
				<div class="intakeNote" style="width: 91%;">Shakes and Seizures</div>
                <i class="ion-close-circled delBtn" ></i>
			</div>
		</ion-item>
        
	</ion-list>
</ion-content>
</ion-side-menu-content>	
 <!--Side Menu File Include --->
<div ng-include src="'templates/SideMenu.html'"></div>
</ion-view>
<!--<ion-footer-bar  class="footer">
	<div style="width:100%;">
		<div class="buttons">
		  <a class="button_new icon ion-chevron-left" ng-click="myGoBack()" style="cursor: pointer;"> Back </a>
		</div class="buttons">

	   
		  <div class="" style="text-align:center;margin-top: -20px;">
		<a class="button_new icon" ng-click="myGoBack()" style=" color:#999999; cursor: pointer;"> Cancel </a>
		  </div>
		  
	   <div class="" style="text-align:right;margin-top: -20px;">
		<a class="button_new icon ion-chevron-right"   href="#/tab/priorSurgeries"> <span style="margin-left: -63px;margin-right: 35px;">Next<span> </a>
	   </div>
		 
	<div>
</ion-footer-bar> -->

<ion-footer-bar  class="footer">
			<div style="width:100%;">
					 
					 <div class="" style="float:left; width:33%">
							<a class="button_new icon ion-chevron-left" href="#/tab/patientConcerns" style="cursor: pointer;">Back</a>
						</div>
						
						<div class="" style="text-align:center;float:left;width:33%;  margin-top: 7px;">
							<a class="button_new icon" href="#/tab/patientDetail" style=" color:#b8b8b8;cursor: pointer;">Cancel</a>
						</div>
						   
						<div class="" style="text-align:right;margin-top: 3px;float:left;width:33%">
							<a class="button_new icon ion-chevron-right"   href="#/tab/priorSurgeries"> <span style="margin-left: -58px;margin-right: 25px;">Next<span> </a>
						</div>
						  
			<div>
</ion-footer-bar>	
		
