<div class="Server_Error ErrorMessageDiv" ></div>
<ion-side-menus>
	<ion-side-menu-content> 
		<div ng-include src="'templates/intakeHeader.html'"></div>
<ion-view title="Appointment Details">
		
		<div>
			<div class="ConsentSteps" style="{{IntakeFormInnerStyle}}" >Step <b style="color:#535353;">6</b> of <b style="color:#535353;">7</b></div>
			<div>
				<h1 class="ChronicCondition consentTitle" style="{{IntakeFormInnerStyleTitle}}">Consent to Treat</h1>
				<p class="consentSubTitle"><b>Read, Acknowledge, and Agree (Scroll to Bottom)</b></p>
			</div> 
			<!-- <div class="consentLine" style=" top: -2px;position: relative;"></div>-->
	   </div>

<ion-content class="ContentHomeUser ConsentContent BacgroundColorContent" style="border-top: 1px solid #A9ABA7; {{consentScreenSize}}">
	


<div class="ConsentMessageFirst" >
<p  class="PragraphContent"> <b>
 I, {{PatientFirstName}} {{PatientLastName}} or guardian,give/s permission to <b style="font-family: Glober xBold; {{ConstantTreat}}" class="ConstanttreetFont">{{Hopital}}</b> to perform the medical service that the physician and other non-physician providers and assistants may deem to be necessary. In addition, I, or guardian authorize/s <b style="font-family: Glober xBold; {{ConstantTreat}}" class="ConstanttreetFont">{{Hopital}}</b> to release any information obtained during the course of my examination and/or treatment to my health care insurer or other payer.
</b></p>	
</div>	

<div class="ConsentMessageSecond">
<p class="PragraphContent">
  SnapMd Terms & Conditions, Privacy Policy and Consent to Treat. <br><br>These Terms and Conditions define the obligation of SnapMd. its authorized agent and me. the service subscriber, and they establish the basic rules of safe and fair use of SnapMd and its authorized agents re-serve the right to immediately and without advance notice terminate the service and deny access to individuals who do not abide by the Terms and conditions.
</p>
  </div>	


<div class="ConsentMessageAgree">
<p  class="PragraphContent" style="color: #545454;">
By clicking "I Agree", I acknowledge and agree to the Terms and Conditions and Consent To treatment as stated above.
</p>
</div>	

  <div  class="ConsentMessageAgree" > 
    <!--<ion-option-button class="button-positive" ng-hrf="#/tab/consultCharge" style="background-color:#A2D28A; border-color:#A2D28A;width: 100%; color:#fff;" ><b>I Agree</b></ion-option-button>-->
	<button class="button button-block button-balanced" ng-click="GoToConsultCharge(PatientImageSelectUser,PatientFirstName,PatientLastName,PatientAge,PatientGuardian)" style="padding: 3px;">
				  <span class="consentIAgree">I Agree</span>
				</button>
   </div>	
   <div class="ConsentMessageAgree BacgroundColorContent" > 
   <a ng-click="cancelConsultation()" ><button class="button-block button-balanced ConsentCancel" style="background-color:#EFEFED">
				<b> Cancel </b>
				</button></a>
   </div>	

</ion-content>
</ion-side-menu-content>	
 <!--Side Menu File Include --->
<!--<div ng-include src="'templates/SideMenu.html'"></div>-->
	<ion-side-menu side="left" style="background-color: #464644;">
        <a ng-href="#/tab/userhome" class="sidemenuContent" >
			<ion-list>
				<ion-item class="ion-ios-list" id="{{sidemenuHome}}">
					<span>  Patient List</span> 
				</ion-item>
			</ion-list>
		</a>
        <a ng-click="ClearRootScope()" class="SidemenuLogOut" >
			<ion-list>
				<ion-item class="ion-power LogOutText" >
					<span>  Logout</span> 
				</ion-item>
			</ion-list>
        </a>
		
		
				
	</ion-side-menu>
</ion-side-menus>
</ion-view>
