

<ion-view title="Card Details">
    
    <form ng-submit="doPostPaymentProfileDetails()" name="CardForm" novalidate=''>
    
       <ion-header-bar align-title="left" class="bar-positiveHomeUser PlanHeader" style="background-color:{{brandColor}};border-color:{{brandColor}}; {{backgroundimage}}; {{HeadercardDetails}}" >			
			<div id="Error_Message" class="ErrorMessageDiv" ></div>
			 <div class="Server_Error ErrorMessageDiv" ></div>
<div class="buttons" style="width: 50%; display: {{cardDisplay}}; {{HeadercardDetailsBack}}" >
				<!--<a class="button_new icon PlanCancel" ng-href="#/tab/consultChargeNoPlan" >
					<span>Cancel</span>
				</a>-->
				<site-header2 back="Cancel"></site-header2>
			
			</div>
			
			<div class="buttons" style="width: 50%; display: {{cardDisplay}};" >			

				<div style="width: 100%; text-align: right;" ng-if="CardForm.$invalid">
                    <button type="submit" class="button_new icon PlanNext" style="color:#999;{{CardDetailsNextButton}};"   ng-disabled="CardForm.$invalid" >
                        Next
                    </button>	
                </div>
                <div style="width: 100%; text-align: right;" ng-if="!CardForm.$invalid">
                    <button type="submit" class="button_new icon PlanNext"  style="{{CardDetailsNextButton}}"  ng-disabled="CardForm.$invalid" >                   Next
</button>
                </div>
                
                <!-- <div ng-if="CardForm.$invalid" class="disabled" >
                    <button type="submit" class="button_new icon PlanNext" >
                                <span style="color:#999;">Next</span> 
                    </button>   
                </div>
                <div ng-if="!CardForm.$invalid">    
                    <button type="submit" class="button_new icon PlanNext" >
                              <span>Next</span>  
                    </button>
                </div> -->
                    
                    
                
			</div>
		</ion-header-bar>
		
	<ion-content class="planDetails_content" >
	 
		<div>		
			<div class="healthPlan_text cardDetailsHeading" style="display: {{cardDisplay}}">
				Card Details			
			</div>		
			
			<div class="CardInformation" style="display: {{cardDisplay}}" >
				Enter your card information below
			</div>
			
			<div class="healthPlan_text verifyPlanHeading" style="display: {{verifyCardDisplay}}">
				Verifying Card			
			</div>			
			
			<div class="verifyCardDisplay" style="display: {{verifyCardDisplay}}" >		
			</div>
			
            
			<div class="list" >
                
                <label class="item item-input" >
					<span class="input-label" >First Name</span>
					<input type="text" placeholder="Required" ng-model="getCardDetails.FirstName" name="FirstName" id="FirstName" required>
				</label>
                
				<label class="item item-input" >
					<span class="input-label" >Last Name</span>
					<input type="text" placeholder="Required" ng-model="getCardDetails.LastName" name="LastName" id="LastName" required>
				</label>
				
				<label class="item item-input">
					<span class="input-label" >Card Number</span>
					<input type="number" style="{{invalidCard}}" placeholder="Required" ng-model="getCardDetails.CardNumber" name="CardNumber" id="CardNumber" maxlength="19" required>
				</label>
				<!--
				<label class="item item-input" >
					<span class="input-label" >Expiration Date</span>
					<input placeholder="Required"  type="text"  id="ExpireDate" name="ExpireDates" maxlength="7" ng-Model="getCardDetails.CardExpireDates"  credit-card-expiration-entry required> 
                 
			    </label>	
                -->
                <div class="item item-input">
                    <span class="input-label">Expiration Date</span>
                    <select id="CardExpireDatesMonth" name="CardExpireDatesMonth" ng-model="getCardDetails.CardExpireDatesMonth" style="appearance: none; -webkit-appearance: none; border: none; background-color: white; margin-top: -3px; font-size: 18px;{{invalidMonth}}{{CardDetailmonth}}" required>
                          <option ng-repeat="month in monthsList" value="{{month.value}}" ng-selected="{{month.selected}}">
                              <b><span>{{month.text}}</span></b></option> 
                      </select>
                     <span> /{{validCC}}</span>
                      <select id="CardExpireDatesYear" name="CardExpireDatesYear" ng-model="getCardDetails.CardExpireDatesYear" style="appearance: none; -webkit-appearance: none; border: none; background-color: white; margin-top: -3px; font-size: 18px;{{invalidMonth}}{{CardDetailYear}}" required>
                          <option ng-repeat="ccYear in ccYearsList" value="{{ccYear.value}}">
                              <b><span>{{ccYear.text }}</span></b>
                          </option> 
                      </select>
                </div>
                <label class="item item-input" >
					<span class="input-label" >Security Code</span>
					<!--<input type="number"  style="-webkit-text-security: disc; text-security:disc; -mox-text-security:disc;{{invalidCVV}}" placeholder="Required" maxlength="{{ccCvvLength}}" ng-model="getCardDetails.Cvv"  name="Cvv" id="Cvv" required>-->
					<input type="password" pattern="[0-9]*" inputmode="numeric" style="{{invalidCVV}}" placeholder="Required" maxlength="{{ccCvvLength}}" ng-model="getCardDetails.Cvv"  name="Cvv" id="Cvv" required>

				</label>
                	  
				<label class="item item-input" >
					<span class="input-label" >Billing Address</span>
					<input type="text" placeholder="Required" ng-model="getCardDetails.BillingAddress"  name="BillingAddress" id="BillingAddress" required>
				</label>
                
                
                <label class="item item-input" >
					<span class="input-label" >City</span>
			         <ion-google-place placeholder="Required" ng-model="getCardDetails.City" />
			    </label>
			  
			<label class="item item-input">
					<span class="input-label" >State</span>
					
                         <input type="text" placeholder="Required"  ng-model="getCardDetails.State"  name="State" id="State" required>
				</label>
                
                <label class="item item-input" >
					<span class="input-label" >Country</span>
					<input type="text" placeholder="Required" ng-model="getCardDetails.Country"  name="Country" id="Country" required>
				</label>
				<label class="item item-input" >
					<span class="input-label" >Zip</span>
			    <input type="number" style="{{invalidZip}}" placeholder="Required"  ng-model="getCardDetails.CardZipCode"  input-max-length-number maxlength="5" name="Zip" id="Zip" required/>
				</label>
            
                
               
            </div>
			
			<div class="planDetails"  >
				<p>When you add a credit card, information about your card, will be sent to Authorize.net and your card issuer.</p>
			</div>
			<!--<div class="privacy" ><a href="#" style="padding: 5px; position: relative; left: -5px; color: #39BAD9;" onclick="window.open('https://connectedcare.md/Customer/Terms.aspx', '_system', 'location=yes'); return false;">About Connected Care Privacy</a></div>-->
			<div class="privacy" ><a href="#" style="padding: 5px; position: relative; left: -5px; color: #39BAD9;" onclick="window.open('https://telehealthone.snap-stage.com/Main/#/UserTerms', '_system', 'location=yes'); return false;">About Connected Care Privacy</a></div>
		</div>
		
	</ion-content>
</form>
</ion-view>
