

 <div class="">

     <h2 class="sname" style="font-size:16px;color:#111;margin-left: 23px;font-family:Glober Bold;">Confirm Your Authorizarion</h2>
     <div class="text-center ">


         <p class="popupcontent">By adding this new user to my account, I declare that either he or she is my child or an individual to which I have the obligation of care. I further state that I have all relevant legal authority to act for and on behalf of this user regarding all medical related decisions regarding their personal health by way of Natural Guardian
status or through the granting of Medical Power-of-Attorney. My legal status regarding this user meets all requirements defined within the Health Insurance Portability and Accountability Act of 1996 (HIPPA)..</p>

             </div>
     </div>
