<div style ="margin-top: -74px;position: absolute;right:64px;color:rgba(0,0,0,0.12);" > <i ng-bind-html="drawSVGCIcon('new')"> </i> </div>
<div class="" style="padding:10px !important;">

      <!-- <h2 class="loc-content" >We need to know your current location
          to match you with providers licensed to practice in your area.
        </h2>
        <hr class="loc-hr"> -->
        <div class="loc-detcontent ">
          <p class="updatecontent"> please update the latest version of the app to continue </p>


            <div class="btn1 newLogBut">
               <button type="submit" class="buttonupdate" ng-click="">
               update
               </button>
            </div>
        </div>
        <p class="locval" style="text-align: center;color: rgba(0, 0, 0, 0.4);">Having a problem? <p>
            <p class="locval" style="color: rgba(0, 0, 0, 0.4);">Contact technical support at 844-585-1182.<p>
        </div>
