@import "variable";
@font-face {
    font-family: 'Glober Black Italic';
    src: url("Glober Black Italic.otf");
}
@font-face {
    font-family: 'Glober Black';
    src: url("Glober Black.otf");
}
@font-face {
    font-family: 'Glober Bold Italic';
    src: url("Glober Bold Italic.otf");
}
@font-face {
    font-family: 'Glober Bold';
    src: url("Glober Bold.otf");
}
@font-face {
    font-family: 'Glober Book Italic';
    src: url("Glober Book Italic.otf");
}
@font-face {
    font-family: 'Glober Book';
    src: url("Glober Book.otf");
}
@font-face {
    font-family: 'Glober Heavy Italic';
    src: url("Glober Heavy Italic.otf");
}
@font-face {
    font-family: 'Glober Heavy';
    src: url("Glober Heavy.otf");
}
@font-face {
    font-family: 'Glober Light Italic';
    src: url("Glober Light Italic.otf");
}
@font-face {
    font-family: 'Glober Light';
    src: url("Glober Light.otf");
}
@font-face {
    font-family: 'Glober Regular Italic';
    src: url("Glober Regular Italic.otf");
}
@font-face {
    font-family: 'Glober Regular';
    src: url("Glober Regular.otf");
}
@font-face {
    font-family: 'Glober SemiBold Italic';
    src: url("Glober SemiBold Italic.otf");
}
@font-face {
    font-family: 'Glober SemiBold';
    src: url("Glober SemiBold.otf");
}
@font-face {
    font-family: 'Glober Thin Italic';
    src: url("Glober Thin Italic.otf");
}
@font-face {
    font-family: 'Glober Thin';
    src: url("Glober Thin.otf");
}
@font-face {
    font-family: 'Glober xBold Italic';
    src: url("Glober xBold Italic.otf");
}
@font-face {
    font-family: 'Glober xBold';
    src: url("Glober xBold.otf");
}
